#
# DHS Test Commander
# Pickoff device configuration file
#

deviceDirective             g3:wfs:probeBasDevice.DIR
deviceMode                  g3:wfs:probeBasDevice.MODE

deviceTarget                g3:wfs:probeBasDevice.VAL
deviceNamedTarget           g3:wfs:probeBasDevice.VALS
deviceVelocity              g3:wfs:probeBasDevice.VELO
deviceAcceleration          g3:wfs:probeBasDevice.ACCL
deviceIndexType             g3:wfs:probeBasDevice.IALG

deviceMinPosition           g3:wfs:probeBasDevice.PLLM
deviceMaxPosition           g3:wfs:probeBasDevice.PHLM
deviceMinVelocity           g3:wfs:probeBasDevice.VLLM
deviceMaxVelocity           g3:wfs:probeBasDevice.VHLM

deviceSimulation            g3:wfs:probeBasDevice.SIMM
deviceDebug                 g3:wfs:probeBasDevice.DBUG

deviceTranslationFile       g3:wfs:probeBasDevice.TFIL
deviceTranslationDirectory  g3:wfs:probeBasDevice.TDIR

deviceAcknowledge           g3:wfs:probeBasDevice.ACK
deviceBusy                  g3:wfs:probeBasDevice.BUSY
deviceMessage               g3:wfs:probeBasDevice.MESS

deviceIndexed               g3:wfs:probeBasDevice.HPVL

devicePosition              g3:wfs:probeBasDevice.MPOS
deviceRawTarget             g3:wfs:probeBasDevice.RPOS
deviceRawPosition           g3:wfs:probeBasDevice.RRBV
deviceEncoderPosition       g3:wfs:probeBasDevice.RENC
deviceState                 g3:wfs:probeBasDevice.MIP
devicePower                 g3:wfs:probeBasDevice.PSTA
deviceBrake                 g3:wfs:probeBasDevice.BSTA

