#
# DHS Test Commander
# Cassette device configuration file
#

cassetteDevice           g3:cc:mskCasDevice

devDir                   g3:cc:mskCasDevice.DIR
devMode                  g3:cc:mskCasDevice.MODE

devTarget                g3:cc:mskCasDevice.VAL
devNamedTarget           g3:cc:mskCasDevice.VALS
devVelocity              g3:cc:mskCasDevice.VELO
devAcceleration          g3:cc:mskCasDevice.ACCL
devIndexType             g3:cc:mskCasDevice.IALG

devMinPosition           g3:cc:mskCasDevice.PLLM
devMaxPosition           g3:cc:mskCasDevice.PHLM
devMinVelocity           g3:cc:mskCasDevice.VLLM
devMaxVelocity           g3:cc:mskCasDevice.VHLM

devSimm                  g3:cc:mskCasDevice.SIMM
devDbug                  g3:cc:mskCasDevice.DBUG

devLutFile               g3:cc:mskCasDevice.TFIL
devLutDirectory          g3:cc:mskCasDevice.TDIR
devDevType               g3:cc:mskCasDevice.DTYP

devAck                   g3:cc:mskCasDevice.ACK
devBusy                  g3:cc:mskCasDevice.BUSY
devMess                  g3:cc:mskCasDevice.MESS

devIndexed               g3:cc:mskCasDevice.HPVL
devLimited               g3:cc:mskCasDevice.LSWA

devPosition              g3:cc:mskCasDevice.MPOS
devRawTarget             g3:cc:mskCasDevice.RPOS
devRawPosition           g3:cc:mskCasDevice.RRBV
devEncoderPosition       g3:cc:mskCasDevice.RENC
devState                 g3:cc:mskCasDevice.MIP
devPower                 g3:cc:mskCasDevice.PSTA
devBrake                 g3:cc:mskCasDevice.BSTA

devEgu                   g3:cc:mskCasDevice.EGU
devMotorRes              g3:cc:mskCasDevice.MRES
devMotionDeadBand        g3:cc:mskCasDevice.MDBD
devBaseVelo              g3:cc:mskCasDevice.VBAS
devUsePwrStatus          g3:cc:mskCasDevice.UPSB
devPwrStatusTimeout      g3:cc:mskCasDevice.PTMO
devUseBrkStatus          g3:cc:mskCasDevice.UBSB
devBrkStatusTimeout      g3:cc:mskCasDevice.BTMO
devUseAuxPwr             g3:cc:mskCasDevice.UAPB
devUseEncoder            g3:cc:mskCasDevice.UEIP
devEncoderRes            g3:cc:mskCasDevice.ERES
devEncoderDeadBand       g3:cc:mskCasDevice.EDBD



