#
# DHS Test Commander
# Extractor device configuration file
#

devDir                   g3:cc:mskExtDevice.DIR
devMode                  g3:cc:mskExtDevice.MODE

devTarget                g3:cc:mskExtDevice.VAL
devNamedTarget           g3:cc:mskExtDevice.VALS
devVelocity              g3:cc:mskExtDevice.VELO
devAcceleration          g3:cc:mskExtDevice.ACCL
devIndexType             g3:cc:mskExtDevice.IALG

devMinPosition           g3:cc:mskExtDevice.PLLM
devMaxPosition           g3:cc:mskExtDevice.PHLM
devMinVelocity           g3:cc:mskExtDevice.VLLM
devMaxVelocity           g3:cc:mskExtDevice.VHLM

devSimm                  g3:cc:mskExtDevice.SIMM
devDbug                  g3:cc:mskExtDevice.DBUG

devLutFile               g3:cc:mskExtDevice.TFIL
devLutDirectory          g3:cc:mskExtDevice.TDIR
devDevType               g3:cc:mskExtDevice.DTYP

devAck                   g3:cc:mskExtDevice.ACK
devBusy                  g3:cc:mskExtDevice.BUSY
devMess                  g3:cc:mskExtDevice.MESS

devIndexed               g3:cc:mskExtDevice.HPVL
devLimited               g3:cc:mskExtDevice.LSWA

devPosition              g3:cc:mskExtDevice.MPOS
devRawTarget             g3:cc:mskExtDevice.RPOS
devRawPosition           g3:cc:mskExtDevice.RRBV
devEncoderPosition       g3:cc:mskExtDevice.RENC
devState                 g3:cc:mskExtDevice.MIP
devPower                 g3:cc:mskExtDevice.PSTA
devBrake                 g3:cc:mskExtDevice.BSTA

devEgu                   g3:cc:mskExtDevice.EGU
devMotorRes              g3:cc:mskExtDevice.MRES
devMotionDeadBand        g3:cc:mskExtDevice.MDBD
devBaseVelo              g3:cc:mskExtDevice.VBAS
devUsePwrStatus          g3:cc:mskExtDevice.UPSB
devPwrStatusTimeout      g3:cc:mskExtDevice.PTMO
devUseBrkStatus          g3:cc:mskExtDevice.UBSB
devBrkStatusTimeout      g3:cc:mskExtDevice.BTMO
devUseAuxPwr             g3:cc:mskExtDevice.UAPB
devUseEncoder            g3:cc:mskExtDevice.UEIP
devEncoderRes            g3:cc:mskExtDevice.ERES
devEncoderDeadBand       g3:cc:mskExtDevice.EDBD



