#
# DHS Test Commander
# Filter wheel 1 device configuration file
#

devDir                   g3:cc:flt2Device.DIR
devMode                  g3:cc:flt2Device.MODE

devTarget                g3:cc:flt2Device.VAL
devNamedTarget           g3:cc:flt2Device.VALS
devVelocity              g3:cc:flt2Device.VELO
devAcceleration          g3:cc:flt2Device.ACCL
devIndexType             g3:cc:flt2Device.IALG

devMinPosition           g3:cc:flt2Device.PLLM
devMaxPosition           g3:cc:flt2Device.PHLM
devMinVelocity           g3:cc:flt2Device.VLLM
devMaxVelocity           g3:cc:flt2Device.VHLM

devBaseVelo              g3:cc:flt2Device.VBAS
devFinalIndexVelo        g3:cc:flt2Device.FIVL

devSimm                  g3:cc:flt2Device.SIMM
devDbug                  g3:cc:flt2Device.DBUG

devLutFile               g3:cc:flt2Device.TFIL
devLutDirectory          g3:cc:flt2Device.TDIR
devDevType               g3:cc:flt2Device.DTYP

devAck                   g3:cc:flt2Device.ACK
devBusy                  g3:cc:flt2Device.BUSY
devMess                  g3:cc:flt2Device.MESS

devIndexed               g3:cc:flt2Device.HPVL
devLimited               g3:cc:flt2Device.LSWA
devAtHome                g3:cc:flt2Device.HSWA

devPosition              g3:cc:flt2Device.MPOS
devRounding              g3:cc:flt2Device.MRND
devRawTarget             g3:cc:flt2Device.RPOS
devRawPosition           g3:cc:flt2Device.RRBV
devEncoderPosition       g3:cc:flt2Device.RENC
devBacklash              g3:cc:flt2Device.BLCO
devState                 g3:cc:flt2Device.MIP
devPower                 g3:cc:flt2Device.PSTA
devBrake                 g3:cc:flt2Device.BSTA

devEgu                   g3:cc:flt2Device.EGU
devMotorRes              g3:cc:flt2Device.MRES
devMotionDeadBand        g3:cc:flt2Device.MDBD
devUsePwrStatus          g3:cc:flt2Device.UPSB
devPwrStatusTimeout      g3:cc:flt2Device.PTMO
devUseBrkStatus          g3:cc:flt2Device.UBSB
devBrkStatusTimeout      g3:cc:flt2Device.BTMO
devUseAuxPwr             g3:cc:flt2Device.UAPB
devUseEncoder            g3:cc:flt2Device.UEIP
devEncoderRes            g3:cc:flt2Device.ERES
devEncoderDeadBand       g3:cc:flt2Device.EDBD



