#
# DHS Test Commander
# Template configuration file for GMOS instrument sequencer
#
isApplyCommand            g3:apply.DIR
isApplyAcknowledge        g3:apply.VAL
isApplyMessage            g3:apply.MESS
isApplyCarVal             g3:applyC.VAL
isApplyCarMessage         g3:applyC.OMSS

isTestCommand             g3:test.DIR
isTestAcknowledge         g3:test.VAL
isTestMessage             g3:test.MESS
isTestCarVal              g3:testC.VAL
isTestCarMessage          g3:testC.OMSS

isInitCommand             g3:init.DIR
isInitAcknowledge         g3:init.VAL
isInitMessage             g3:init.MESS
isInitMode                g3:init.A
isInitCarVal              g3:initC.VAL
isInitCarMessage          g3:initC.OMSS

isDatumCommand            g3:datum.DIR
isDatumAcknowledge        g3:datum.VAL
isDatumMessage            g3:datum.MESS
isDatumCarVal             g3:datumC.VAL
isDatumCarMessage         g3:datumC.OMSS

isUpdateCommand           g3:update.DIR
isUpdateAcknowledge       g3:update.VAL
isUpdateMessage           g3:update.MESS
isUpdateMode              g3:update.A
isUpdateCarVal            g3:updateC.VAL
isUpdateCarMessage        g3:updateC.OMSS

isParkCommand             g3:park.DIR
isParkAcknowledge         g3:park.VAL
isParkMessage             g3:park.MESS
isParkCarVal              g3:parkC.VAL
isParkCarMessage          g3:parkC.OMSS

isAtmTrackCommand         g3:atmTrack.DIR
isAtmTrackAcknowledge     g3:atmTrack.VAL
isAtmTrackMessage         g3:atmTrack.MESS
isAtmTrackMode            g3:atmTrack.A
isAtmTrackEnp             g3:atmTrack.B
isAtmTrackExp             g3:atmTrack.C
isAtmTrackMinWavelen      g3:atmTrack.D
isAtmTrackMaxWavelen      g3:atmTrack.E
isAtmTrackCarVal          g3:atmC.VAL
isAtmTrackCarMessage      g3:atmC.MESS

isMskPosCommand           g3:mskPos.DIR
isMskPosAcknowledge       g3:mskPos.VAL
isMskPosMessage           g3:mskPos.MESS
isMskPosMask              g3:mskPos.A
isMskPosLocation          g3:mskPos.B
isMskPosCarVal            g3:cc:mskC.VAL
isMskPosCarMessage        g3:cc:mskC.MESS

isGrSelectCommand         g3:grSelect.DIR
isGrSelectAcknowledge     g3:grSelect.VAL
isGrSelectMessage         g3:grSelect.MESS
isGrSelectMode            g3:grSelect.A
isGrSelectGrating         g3:grSelect.B
isGrSelectWavelength      g3:grSelect.C
isGrSelectOrder           g3:grSelect.D
isGrSelectEffWavelen      g3:grSelect.E
isGrSelectCarVal          g3:cc:grC.VAL
isGrSelectCarMessage      g3:cc:grC.MESS

isFltPosCommand           g3:fltPos.DIR
isFltPosAcknowledge       g3:fltPos.VAL
isFltPosMessage           g3:fltPos.MESS
isFltPosFilt1             g3:fltPos.A
isFltPosFilt2             g3:fltPos.B
isFltPosCarVal            g3:cc:fltC.VAL
isFltPosCarMessage        g3:cc:fltC.MESS

isDtaTrackCommand         g3:dtaTrack.DIR
isDtaTrackAcknowledge     g3:dtaTrack.VAL
isDtaTrackMessage         g3:dtaTrack.MESS
isDtaTrackMode            g3:dtaTrack.A
isDtaTrackXoff            g3:dtaTrack.B
isDtaTrackYoff            g3:dtaTrack.C
isDtaTrackZoff            g3:dtaTrack.D
isDtaTrackCarVal          g3:dtaC.VAL
isDtaTrackCarMessage      g3:dtaC.MESS

isObserveCommand          g3:observe.DIR
isObserveAcknowledge      g3:observe.VAL
isObserveMessage          g3:observe.MESS
isObserveDataLabel        g3:observe.A
isObserveCarVal           g3:observeC.VAL
isObserveCarMessage       g3:observeC.OMSS

isPauseCommand            g3:pause.DIR
isPauseAcknowledge        g3:pause.VAL
isPauseMessage            g3:pause.MESS

isContinueCommand         g3:continue.DIR
isContinueAcknowledge     g3:continue.VAL
isContinueMessage         g3:continue.MESS

isStopCommand             g3:stop.DIR
isStopAcknowledge         g3:stop.VAL
isStopMessage             g3:stop.MESS

isAbortCommand            g3:abort.DIR
isAbortAcknowledge        g3:abort.VAL
isAbortMessage            g3:abort.MESS

isRebootCommand           g3:reboot.DIR
isRebootAcknowledge       g3:reboot.VAL
isRebootMessage           g3:reboot.MESS

sadIsState                g3:sad:state.VAL
sadIsHealth               g3:sad:health.VAL
sadIsIndexed              g3:sad:cc:indexed.VAL

sadIsMskID                g3:sad:cc:mskID

sadIsGrName               g3:sad:grName
sadIsGrOrder              g3:sad:grOrder
sadIsGrEffWavelen         g3:sad:grEffWavelen
sadIsGrWavelen            g3:sad:grWavelen
sadIsGrID                 g3:sad:cc:grID

sadIsFiltName1            g3:sad:filtName1
sadIsFiltName2            g3:sad:filtName2
sadIsFltID1               g3:sad:cc:fltID1
sadIsFltID2               g3:sad:cc:fltID2

sadIsDtaX                 g3:sad:cc:dtaX
sadIsDtaY                 g3:sad:cc:dtaY
sadIsDtaZ                 g3:sad:cc:dtaZ
