#
# DHS Test Commander
# Template configuration file for GMOS detector controller
#
dcApplyCommand            g3:dc:apply.DIR
dcApplyAcknowledge        g3:dc:apply.VAL
dcApplyMessage            g3:dc:apply.MESS
dcApplyCarVal             g3:dc:applyC.VAL
dcApplyCarMessage         g3:dc:applyC.OMSS

dcTestCommand             g3:dc:test.DIR
dcTestAcknowledge         g3:dc:test.VAL
dcTestMessage             g3:dc:test.MESS
dcTestCarVal              g3:dc:testC.VAL
dcTestCarMessage          g3:dc:testC.OMSS

dcInitCommand             g3:dc:init.DIR
dcInitAcknowledge         g3:dc:init.VAL
dcInitMessage             g3:dc:init.MESS
dcInitMode                g3:dc:init.A
dcInitCarVal              g3:dc:initC.VAL
dcInitCarMessage          g3:dc:initC.OMSS

dcDatumCommand            g3:dc:datum.DIR
dcDatumAcknowledge        g3:dc:datum.VAL
dcDatumMessage            g3:dc:datum.MESS
dcDatumCarVal             g3:dc:datumC.VAL
dcDatumCarMessage         g3:dc:datumC.OMSS

dcParkCommand             g3:dc:park.DIR
dcParkAcknowledge         g3:dc:park.VAL
dcParkMessage             g3:dc:park.MESS
dcParkCarVal              g3:dc:parkC.VAL
dcParkCarMessage          g3:dc:parkC.OMSS

dcObserveCommand          g3:dc:observe.DIR
dcObserveAcknowledge      g3:dc:observe.VAL
dcObserveMessage          g3:dc:observe.MESS
dcObserveDataLabel        g3:dc:observe.A
dcObserveCarVal           g3:dc:observeC.VAL
dcObserveCarMessage       g3:dc:observeC.OMSS

dcPauseCommand            g3:dc:pause.DIR
dcPauseAcknowledge        g3:dc:pause.VAL
dcPauseMessage            g3:dc:pause.MESS

dcContinueCommand         g3:dc:continue.DIR
dcContinueAcknowledge     g3:dc:continue.VAL
dcContinueMessage         g3:dc:continue.MESS

dcStopCommand             g3:dc:stop.DIR
dcStopAcknowledge         g3:dc:stop.VAL
dcStopMessage             g3:dc:stop.MESS

dcAbortCommand            g3:dc:abort.DIR
dcAbortAcknowledge        g3:dc:abort.VAL
dcAbortMessage            g3:dc:abort.MESS

dcRebootCommand           g3:dc:reboot.DIR
dcRebootAcknowledge       g3:dc:reboot.VAL
dcRebootMessage           g3:dc:reboot.MESS

dcSetDhsInfoCommand       g3:dc:setDhsInfo.DIR
dcSetDhsInfoAcknowledge   g3:dc:setDhsInfo.VAL
dcSetDhsInfoMessage       g3:dc:setDhsInfo.MESS
dcSetDhsInfoQlstream      g3:dc:setDhsInfo.A
dcSetDhsInfoLifetime      g3:dc:setDhsInfo.B

dcInitWcsCommand          g3:dc:initWcs.DIR
dcInitWcsAcknowledge      g3:dc:initWcs.VAL
dcInitWcsMessage          g3:dc:initWcs.MESS
dcInitWcsChip1File        g3:dc:initWcs.A
dcInitWcsChip2File        g3:dc:initWcs.B
dcInitWcsChip3File        g3:dc:initWcs.C

dcSetWcsCommand           g3:dc:setWcs.DIR
dcSetWcsAcknowledge       g3:dc:setWcs.VAL
dcSetWcsMessage           g3:dc:setWcs.MESS
dcSetWcsParameter         g3:dc:setWcs.A

dcGensysCarVal            g3:dc:genSysC.VAL
dcGensysCarMessage        g3:dc:genSysC.OMSS

dcSetupCommand            g3:dc:dcSetup.DIR
dcSetupAcknowledge        g3:dc:dcSetup.VAL
dcSetupMessage            g3:dc:dcSetup.MESS
dcSetupTime               g3:dc:dcSetup.A
dcSetupShutter            g3:dc:dcSetup.B
dcSetupGain               g3:dc:dcSetup.C
dcSetupReadoutRate        g3:dc:dcSetup.D
dcSetupReadoutPorts       g3:dc:dcSetup.E
dcSetupFilename           g3:dc:dcSetup.F
dcSetupCarVal             g3:dc:dcSetupC.VAL
dcSetupCarMessage         g3:dc:dcSetupC.OMSS

dcRoiCommand              g3:dc:roi.DIR
dcRoiAcknowledge          g3:dc:roi.VAL
dcRoiMessage              g3:dc:roi.MESS
dcRoiX1Min                g3:dc:roi.B
dcRoiY1Min                g3:dc:roi.C
dcRoiX1Size               g3:dc:roi.D
dcRoiY1Size               g3:dc:roi.E

dcRoiX2Min                g3:dc:roi.F
dcRoiY2Min                g3:dc:roi.G
dcRoiX2Size               g3:dc:roi.H
dcRoiY2Size               g3:dc:roi.I

dcRoiX3Min                g3:dc:roi.J
dcRoiY3Min                g3:dc:roi.K
dcRoiX3Size               g3:dc:roi.L
dcRoiY3Size               g3:dc:roi.M

dcRoiX4Min                g3:dc:roi.N
dcRoiY4Min                g3:dc:roi.O
dcRoiX4Size               g3:dc:roi.P
dcRoiY4Size               g3:dc:roi.Q

dcRoiXBin                 g3:dc:roi.S
dcRoiYBin                 g3:dc:roi.T

dcInitDone                g3:dc:initDone.VAL
dcSetupDone               g3:dc:dcSetupDone.VAL
dcRoiDone                 g3:dc:roiSetupDone.VAL

sadDcState                g3:sad:dc:state.VAL
sadDcHealth               g3:sad:dc:health.VAL
sadDcDataLabel            g3:sad:dc:dataLabel.VAL
sadDcDhsHealth            g3:sad:dc:dhsHealth.VAL
sadDcShutHealth           g3:sad:dc:shutHealth.VAL
sadDcInit                 g3:sad:dc:dcInit.VAL
sadDcDetectorType         g3:sad:dc:detType.VAL
sadDcDetectorId           g3:sad:dc:detId.VAL
sadDcControllerId         g3:sad:dc:conID.VAL

sadDcPrepFlag             g3:sad:dc:prep.VAL
sadDcAcqFlag              g3:sad:dc:acq.VAL
sadDcRdoutFlag            g3:sad:dc:rdout.VAL

sadDcExposedTarget        g3:sad:dc:exposedRQ.VAL
sadDcExposedActual        g3:sad:dc:exposed.VAL
sadDcUtstart              g3:sad:dc:utstart.VAL
sadDcUtend                g3:sad:dc:utend.VAL
sadDcElapsedActual        g3:sad:dc:elapsed.VAL
sadDcDarktimeActual       g3:sad:dc:darktime.VAL
sadDcShutterActual        g3:sad:dc:shutPos.VAL

sadDcDetectorTemp         g3:sad:dc:detTemp.VAL
sadDcReadoutRate          g3:sad:dc:rdspeed.VAL
sadDcReadoutPorts         g3:sad:dc:portCnt.VAL

sadDcXBin                 g3:sad:dc:xBin.VAL
sadDcYBin                 g3:sad:dc:yBin.VAL

sadDcNumberOfRegions      g3:sad:dc:numRois.VAL
sadDcX1Min                g3:sad:dc:roi1X.VAL
sadDcY1Min                g3:sad:dc:roi1Y.VAL
sadDcX1Size               g3:sad:dc:roi1XSize.VAL
sadDcY1Size               g3:sad:dc:roi1YSize.VAL
sadDcX2Min                g3:sad:dc:roi2X.VAL
sadDcY2Min                g3:sad:dc:roi2Y.VAL
sadDcX2Size               g3:sad:dc:roi2XSize.VAL
sadDcY2Size               g3:sad:dc:roi2YSize.VAL
sadDcX3Min                g3:sad:dc:roi3X.VAL
sadDcY3Min                g3:sad:dc:roi3Y.VAL
sadDcX3Size               g3:sad:dc:roi3XSize.VAL
sadDcY3Size               g3:sad:dc:roi3YSize.VAL
sadDcX4Min                g3:sad:dc:roi4X.VAL
sadDcY4Min                g3:sad:dc:roi4Y.VAL
sadDcX4Size               g3:sad:dc:roi4XSize.VAL
sadDcY4Size               g3:sad:dc:roi4YSize.VAL
