#
# DHS Test Commander
# Grating cell D device configuration file
#

devDir                   g3:cc:grDDevice.DIR
devMode                  g3:cc:grDDevice.MODE

devTarget                g3:cc:grDDevice.VAL
devNamedTarget           g3:cc:grDDevice.VALS
devVelocity              g3:cc:grDDevice.VELO
devAcceleration          g3:cc:grDDevice.ACCL
devIndexType             g3:cc:grDDevice.IALG

devMinPosition           g3:cc:grDDevice.PLLM
devMaxPosition           g3:cc:grDDevice.PHLM
devMinVelocity           g3:cc:grDDevice.VLLM
devMaxVelocity           g3:cc:grDDevice.VHLM

devBaseVelo              g3:cc:grDDevice.VBAS
devFinalIndexVelo        g3:cc:grDDevice.FIVL

devSimm                  g3:cc:grDDevice.SIMM
devDbug                  g3:cc:grDDevice.DBUG

devLutFile               g3:cc:grDDevice.TFIL
devLutDirectory          g3:cc:grDDevice.TDIR
devDevType               g3:cc:grDDevice.DTYP

devAck                   g3:cc:grDDevice.ACK
devBusy                  g3:cc:grDDevice.BUSY
devMess                  g3:cc:grDDevice.MESS

devIndexed               g3:cc:grDDevice.HPVL
devLimited               g3:cc:grDDevice.LSWA

devPosition              g3:cc:grDDevice.MPOS
devRounding              g3:cc:grDDevice.MRND
devRawTarget             g3:cc:grDDevice.RPOS
devRawPosition           g3:cc:grDDevice.RRBV
devEncoderPosition       g3:cc:grDDevice.RENC
devBacklash              g3:cc:grDDevice.BLCO
devState                 g3:cc:grDDevice.MIP
devPower                 g3:cc:grDDevice.PSTA
devBrake                 g3:cc:grDDevice.BSTA

devEgu                   g3:cc:grDDevice.EGU
devMotorRes              g3:cc:grDDevice.MRES
devMotionDeadBand        g3:cc:grDDevice.MDBD
devBaseVelo              g3:cc:grDDevice.VBAS
devUsePwrStatus          g3:cc:grDDevice.UPSB
devPwrStatusTimeout      g3:cc:grDDevice.PTMO
devUseBrkStatus          g3:cc:grDDevice.UBSB
devBrkStatusTimeout      g3:cc:grDDevice.BTMO
devUseAuxPwr             g3:cc:grDDevice.UAPB
devUseEncoder            g3:cc:grDDevice.UEIP
devEncoderRes            g3:cc:grDDevice.ERES
devEncoderDeadBand       g3:cc:grDDevice.EDBD



