#
# DHS Test Commander
# Template configuration file for grating assembly record
#

assemblyDirective           g3:cc:grAssembly.DIR
assemblyMode                g3:cc:grAssembly.MODE

assemblyAAttribute          g3:cc:grAssembly.A
assemblyBAttribute          g3:cc:grAssembly.B
assemblyCAttribute          g3:cc:grAssembly.C
assemblyDAttribute          g3:cc:grAssembly.D
assemblyEAttribute          g3:cc:grAssembly.E

assemblyAttributeAMin       g3:cc:grAssembly.AALL
assemblyAttributeAMax       g3:cc:grAssembly.AAHL
assemblyAttributeBMin       g3:cc:grAssembly.ABLL
assemblyAttributeBMax       g3:cc:grAssembly.ABHL
assemblyAttributeCMin       g3:cc:grAssembly.ACLL
assemblyAttributeCMax       g3:cc:grAssembly.ACHL
assemblyAttributeDMin       g3:cc:grAssembly.ADLL
assemblyAttributeDMax       g3:cc:grAssembly.ADHL
assemblyAttributeEMin       g3:cc:grAssembly.AELL
assemblyAttributeEMax       g3:cc:grAssembly.AEHL

assemblySimulation          g3:cc:grAssembly.SIMM
assemblyDebug               g3:cc:grAssembly.DBUG

assemblyTranslationFile	    g3:cc:grAssembly.TFIL
assemblyTranslationDir      g3:cc:grAssembly.TDIR

assemblyAcknowledge         g3:cc:grAssembly.VAL
assemblyBusy                g3:cc:grC.VAL
assemblyMessage             g3:cc:grAssembly.MESS

assemblyAValue              g3:cc:grAssembly.VALA
assemblyBValue              g3:cc:grAssembly.VALB
assemblyCValue              g3:cc:grAssembly.VALC
assemblyDValue              g3:cc:grAssembly.VALD
assemblyEValue              g3:cc:grAssembly.VALE

assemblyInitialized         g3:cc:grAssembly.INIT
assemblyIndexed             g3:cc:grAssembly.INDX
assemblyParked              g3:cc:grAssembly.PARK

assemblyHealth              g3:cc:grAssembly.HLTH

