#
# DHS Test Commander
# Grating turret device configuration file
#

devDir                   g3:cc:grtDevice.DIR
devMode                  g3:cc:grtDevice.MODE

devTarget                g3:cc:grtDevice.VAL
devNamedTarget           g3:cc:grtDevice.VALS
devVelocity              g3:cc:grtDevice.VELO
devAcceleration          g3:cc:grtDevice.ACCL
devIndexType             g3:cc:grtDevice.IALG

devMinPosition           g3:cc:grtDevice.PLLM
devMaxPosition           g3:cc:grtDevice.PHLM
devMinVelocity           g3:cc:grtDevice.VLLM
devMaxVelocity           g3:cc:grtDevice.VHLM

devBaseVelo              g3:cc:grtDevice.VBAS
devFinalIndexVelo        g3:cc:grtDevice.FIVL

devSimm                  g3:cc:grtDevice.SIMM
devDbug                  g3:cc:grtDevice.DBUG

devLutFile               g3:cc:grtDevice.TFIL
devLutDirectory          g3:cc:grtDevice.TDIR
devDevType               g3:cc:grtDevice.DTYP

devAck                   g3:cc:grtDevice.ACK
devBusy                  g3:cc:grtDevice.BUSY
devMess                  g3:cc:grtDevice.MESS

devIndexed               g3:cc:grtDevice.HPVL
devLimited               g3:cc:grtDevice.LSWA

devPosition              g3:cc:grtDevice.MPOS
devRounding              g3:cc:grtDevice.MRND
devRawTarget             g3:cc:grtDevice.RPOS
devRawPosition           g3:cc:grtDevice.RRBV
devEncoderPosition       g3:cc:grtDevice.RENC
devBacklash              g3:cc:grtDevice.BLCO
devState                 g3:cc:grtDevice.MIP
devPower                 g3:cc:grtDevice.PSTA
devBrake                 g3:cc:grtDevice.BSTA

devEgu                   g3:cc:grtDevice.EGU
devMotorRes              g3:cc:grtDevice.MRES
devMotionDeadBand        g3:cc:grtDevice.MDBD
devBaseVelo              g3:cc:grtDevice.VBAS
devUsePwrStatus          g3:cc:grtDevice.UPSB
devPwrStatusTimeout      g3:cc:grtDevice.PTMO
devUseBrkStatus          g3:cc:grtDevice.UBSB
devBrkStatusTimeout      g3:cc:grtDevice.BTMO
devUseAuxPwr             g3:cc:grtDevice.UAPB
devUseEncoder            g3:cc:grtDevice.UEIP
devEncoderRes            g3:cc:grtDevice.ERES
devEncoderDeadBand       g3:cc:grtDevice.EDBD

devManualPower           g3:cc:grTurretPower.VAL
