#
# DHS Test Commander
# Grating cell B device configuration file
#

devDir                   g3:cc:grBDevice.DIR
devMode                  g3:cc:grBDevice.MODE

devTarget                g3:cc:grBDevice.VAL
devNamedTarget           g3:cc:grBDevice.VALS
devVelocity              g3:cc:grBDevice.VELO
devAcceleration          g3:cc:grBDevice.ACCL
devIndexType             g3:cc:grBDevice.IALG

devMinPosition           g3:cc:grBDevice.PLLM
devMaxPosition           g3:cc:grBDevice.PHLM
devMinVelocity           g3:cc:grBDevice.VLLM
devMaxVelocity           g3:cc:grBDevice.VHLM

devBaseVelo              g3:cc:grBDevice.VBAS
devFinalIndexVelo        g3:cc:grBDevice.FIVL

devSimm                  g3:cc:grBDevice.SIMM
devDbug                  g3:cc:grBDevice.DBUG

devLutFile               g3:cc:grBDevice.TFIL
devLutDirectory          g3:cc:grBDevice.TDIR
devDevType               g3:cc:grBDevice.DTYP

devAck                   g3:cc:grBDevice.ACK
devBusy                  g3:cc:grBDevice.BUSY
devMess                  g3:cc:grBDevice.MESS

devIndexed               g3:cc:grBDevice.HPVL
devLimited               g3:cc:grBDevice.LSWA

devPosition              g3:cc:grBDevice.MPOS
devRounding              g3:cc:grBDevice.MRND
devRawTarget             g3:cc:grBDevice.RPOS
devRawPosition           g3:cc:grBDevice.RRBV
devEncoderPosition       g3:cc:grBDevice.RENC
devBacklash              g3:cc:grBDevice.BLCO
devState                 g3:cc:grBDevice.MIP
devPower                 g3:cc:grBDevice.PSTA
devBrake                 g3:cc:grBDevice.BSTA

devEgu                   g3:cc:grBDevice.EGU
devMotorRes              g3:cc:grBDevice.MRES
devMotionDeadBand        g3:cc:grBDevice.MDBD
devBaseVelo              g3:cc:grBDevice.VBAS
devUsePwrStatus          g3:cc:grBDevice.UPSB
devPwrStatusTimeout      g3:cc:grBDevice.PTMO
devUseBrkStatus          g3:cc:grBDevice.UBSB
devBrkStatusTimeout      g3:cc:grBDevice.BTMO
devUseAuxPwr             g3:cc:grBDevice.UAPB
devUseEncoder            g3:cc:grBDevice.UEIP
devEncoderRes            g3:cc:grBDevice.ERES
devEncoderDeadBand       g3:cc:grBDevice.EDBD



