#
# DHS Test Commander
# Grating Environment status configuration
#

gratingInPosition               g3:cc:grSwitchStates.VALA

gratingBarcodeId                g3:cc:grBarcodeString.VAL

gratingLifterUp                 g3:cc:grLifterUp.VAL
gratingLifterDown               g3:cc:grLifterDown.VAL

upstreamOk                      g3:cc:upstreamOk.VAL
downstreamOk                    g3:cc:downstreamOk.VAL

turretPowerControl              g3:cc:grTurretPower.VAL
turretPowerResponse             g3:cc:grtPower.VAL
turretPosA                      g3:cc:grTurretPosA.VAL
turretPosB                      g3:cc:grTurretPosB.VAL
turretPosC                      g3:cc:grTurretPosC.VAL
turretPosD                      g3:cc:grTurretPosD.VAL
