#
# DHS Test Commander
# Grating cell A device configuration file
#

devDir                   g3:cc:grADevice.DIR
devMode                  g3:cc:grADevice.MODE

devTarget                g3:cc:grADevice.VAL
devNamedTarget           g3:cc:grADevice.VALS
devVelocity              g3:cc:grADevice.VELO
devAcceleration          g3:cc:grADevice.ACCL
devIndexType             g3:cc:grADevice.IALG

devMinPosition           g3:cc:grADevice.PLLM
devMaxPosition           g3:cc:grADevice.PHLM
devMinVelocity           g3:cc:grADevice.VLLM
devMaxVelocity           g3:cc:grADevice.VHLM

devBaseVelo              g3:cc:grADevice.VBAS
devFinalIndexVelo        g3:cc:grADevice.FIVL

devSimm                  g3:cc:grADevice.SIMM
devDbug                  g3:cc:grADevice.DBUG

devLutFile               g3:cc:grADevice.TFIL
devLutDirectory          g3:cc:grADevice.TDIR
devDevType               g3:cc:grADevice.DTYP

devAck                   g3:cc:grADevice.ACK
devBusy                  g3:cc:grADevice.BUSY
devMess                  g3:cc:grADevice.MESS

devIndexed               g3:cc:grADevice.HPVL
devLimited               g3:cc:grADevice.LSWA

devPosition              g3:cc:grADevice.MPOS
devRounding              g3:cc:grADevice.MRND
devRawTarget             g3:cc:grADevice.RPOS
devRawPosition           g3:cc:grADevice.RRBV
devEncoderPosition       g3:cc:grADevice.RENC
devBacklash              g3:cc:grADevice.BLCO
devState                 g3:cc:grADevice.MIP
devPower                 g3:cc:grADevice.PSTA
devBrake                 g3:cc:grADevice.BSTA

devEgu                   g3:cc:grADevice.EGU
devMotorRes              g3:cc:grADevice.MRES
devMotionDeadBand        g3:cc:grADevice.MDBD
devBaseVelo              g3:cc:grADevice.VBAS
devUsePwrStatus          g3:cc:grADevice.UPSB
devPwrStatusTimeout      g3:cc:grADevice.PTMO
devUseBrkStatus          g3:cc:grADevice.UBSB
devBrkStatusTimeout      g3:cc:grADevice.BTMO
devUseAuxPwr             g3:cc:grADevice.UAPB
devUseEncoder            g3:cc:grADevice.UEIP
devEncoderRes            g3:cc:grADevice.ERES
devEncoderDeadBand       g3:cc:grADevice.EDBD



