#
# DHS Test Commander
# Grating cell C device configuration file
#

devDir                   g3:cc:grCDevice.DIR
devMode                  g3:cc:grCDevice.MODE

devTarget                g3:cc:grCDevice.VAL
devNamedTarget           g3:cc:grCDevice.VALS
devVelocity              g3:cc:grCDevice.VELO
devAcceleration          g3:cc:grCDevice.ACCL
devIndexType             g3:cc:grCDevice.IALG

devMinPosition           g3:cc:grCDevice.PLLM
devMaxPosition           g3:cc:grCDevice.PHLM
devMinVelocity           g3:cc:grCDevice.VLLM
devMaxVelocity           g3:cc:grCDevice.VHLM

devBaseVelo              g3:cc:grCDevice.VBAS
devFinalIndexVelo        g3:cc:grCDevice.FIVL

devSimm                  g3:cc:grCDevice.SIMM
devDbug                  g3:cc:grCDevice.DBUG

devLutFile               g3:cc:grCDevice.TFIL
devLutDirectory          g3:cc:grCDevice.TDIR
devDevType               g3:cc:grCDevice.DTYP

devAck                   g3:cc:grCDevice.ACK
devBusy                  g3:cc:grCDevice.BUSY
devMess                  g3:cc:grCDevice.MESS

devIndexed               g3:cc:grCDevice.HPVL
devLimited               g3:cc:grCDevice.LSWA

devPosition              g3:cc:grCDevice.MPOS
devRounding              g3:cc:grCDevice.MRND
devRawTarget             g3:cc:grCDevice.RPOS
devRawPosition           g3:cc:grCDevice.RRBV
devEncoderPosition       g3:cc:grCDevice.RENC
devBacklash              g3:cc:grCDevice.BLCO
devState                 g3:cc:grCDevice.MIP
devPower                 g3:cc:grCDevice.PSTA
devBrake                 g3:cc:grCDevice.BSTA

devEgu                   g3:cc:grCDevice.EGU
devMotorRes              g3:cc:grCDevice.MRES
devMotionDeadBand        g3:cc:grCDevice.MDBD
devBaseVelo              g3:cc:grCDevice.VBAS
devUsePwrStatus          g3:cc:grCDevice.UPSB
devPwrStatusTimeout      g3:cc:grCDevice.PTMO
devUseBrkStatus          g3:cc:grCDevice.UBSB
devBrkStatusTimeout      g3:cc:grCDevice.BTMO
devUseAuxPwr             g3:cc:grCDevice.UAPB
devUseEncoder            g3:cc:grCDevice.UEIP
devEncoderRes            g3:cc:grCDevice.ERES
devEncoderDeadBand       g3:cc:grCDevice.EDBD



