#
# DHS Test Commander
# Grip device configuration file
#

devDir                   g3:cc:mskGrpDevice.DIR
devMode                  g3:cc:mskGrpDevice.MODE

devTarget                g3:cc:mskGrpDevice.VAL
devNamedTarget           g3:cc:mskGrpDevice.VALS
devVelocity              g3:cc:mskGrpDevice.VELO
devAcceleration          g3:cc:mskGrpDevice.ACCL
devIndexType             g3:cc:mskGrpDevice.IALG

devMinPosition           g3:cc:mskGrpDevice.PLLM
devMaxPosition           g3:cc:mskGrpDevice.PHLM
devMinVelocity           g3:cc:mskGrpDevice.VLLM
devMaxVelocity           g3:cc:mskGrpDevice.VHLM

devSimm                  g3:cc:mskGrpDevice.SIMM
devDbug                  g3:cc:mskGrpDevice.DBUG

devLutFile               g3:cc:mskGrpDevice.TFIL
devLutDirectory          g3:cc:mskGrpDevice.TDIR
devDevType               g3:cc:mskGrpDevice.DTYP

devAck                   g3:cc:mskGrpDevice.ACK
devBusy                  g3:cc:mskGrpDevice.BUSY
devMess                  g3:cc:mskGrpDevice.MESS

devIndexed               g3:cc:mskGrpDevice.HPVL
devLimited               g3:cc:mskGrpDevice.LSWA

devPosition              g3:cc:mskGrpDevice.MPOS
devRawTarget             g3:cc:mskGrpDevice.RPOS
devRawPosition           g3:cc:mskGrpDevice.RRBV
devEncoderPosition       g3:cc:mskGrpDevice.RENC
devState                 g3:cc:mskGrpDevice.MIP
devPower                 g3:cc:mskGrpDevice.PSTA
devBrake                 g3:cc:mskGrpDevice.BSTA


devEgu                   g3:cc:mskGrpDevice.EGU
devMotorRes              g3:cc:mskGrpDevice.MRES
devMotionDeadBand        g3:cc:mskGrpDevice.MDBD
devBaseVelo              g3:cc:mskGrpDevice.VBAS
devUsePwrStatus          g3:cc:mskGrpDevice.UPSB
devPwrStatusTimeout      g3:cc:mskGrpDevice.PTMO
devUseBrkStatus          g3:cc:mskGrpDevice.UBSB
devBrkStatusTimeout      g3:cc:mskGrpDevice.BTMO
devUseAuxPwr             g3:cc:mskGrpDevice.UAPB
devUseEncoder            g3:cc:mskGrpDevice.UEIP
devEncoderRes            g3:cc:mskGrpDevice.ERES
devEncoderDeadBand       g3:cc:mskGrpDevice.EDBD



