#
# DHS Test Commander
# Grating lifter device configuration file
#

lifterDownValve          g3:cc:grDownValve.VAL
lifterUpValve            g3:cc:grUpValve.VAL

lifterCommand            g3:cc:grLifter.A
lifterProcess            g3:cc:grLifter.PROC
lifterAck                g3:cc:grLifter.VAL
lifterInterlock          g3:cc:grLifter.D
lifterState              g3:cc:grLifterState.VAL
lifterMess               g3:cc:grLifter.VALF
