#
# DHS Test Commander
# Mask Environment status configuration
#

cassetteMissing                 g3:cc:mskNotCassette.VAL
slotMisaligned                  g3:cc:mskNotAligned.VAL
slotEmpty                       g3:cc:mskNotInSlot.VAL
fpEmpty                         g3:cc:mskNotInFp.VAL
maskNotDetected                 g3:cc:mskMaskNotIn.VAL
ifuNotDetected                  g3:cc:mskIfuNotIn.VAL

gripNotGripped                  g3:cc:mskGrpNotGripped.VAL
gripNotReleased                 g3:cc:mskGrpNotReleased.VAL

lockNotEngaged                  g3:cc:mskRelNotLocked.VAL
lockNotReleased                 g3:cc:mskRelNotReleased.VAL

barcodeId                       g3:cc:1barcode.VAL

lvdtZone                        g3:cc:mskLvdtZones.VALA
lvdtVal                         g3:cc:mskLvdt.VAL
lvdtLo                          g3:cc:mskExtAtLvdtLo.VAL
lvdtGrpLo                       g3:cc:mskExtAtGrpLo.VAL
lvdtGrpHi                       g3:cc:mskExtAtGrpHi.VAL
lvdtRelLo                       g3:cc:mskExtAtRelLo.VAL
lvdtRelHi                       g3:cc:mskExtAtRelHi.VAL

releasePosition                 g3:cc:mskSwitchWord.VALB
gripperPosition                 g3:cc:mskSwitchWord.VALC

optSensorVal                    g3:cc:optsensorEnable.VAL
optSensorDelay                  g3:cc:mskAssembly.SIM
