#
# DHS Test Commander
# Template configuration file for assembly record
#

assemblyDirective           g3:cc:mskAssembly.DIR
assemblyMode                g3:cc:mskAssembly.MODE

assemblyAAttribute          g3:cc:mskAssembly.A
assemblyBAttribute          g3:cc:mskAssembly.B
assemblyCAttribute          g3:cc:mskAssembly.C
assemblyDAttribute          g3:cc:mskAssembly.D
assemblyEAttribute          g3:cc:mskAssembly.E

assemblyAttributeAMin       g3:cc:mskAssembly.AALL
assemblyAttributeAMax       g3:cc:mskAssembly.AAHL
assemblyAttributeBMin       g3:cc:mskAssembly.ABLL
assemblyAttributeBMax       g3:cc:mskAssembly.ABHL
assemblyAttributeCMin       g3:cc:mskAssembly.ACLL
assemblyAttributeCMax       g3:cc:mskAssembly.ACHL
assemblyAttributeDMin       g3:cc:mskAssembly.ADLL
assemblyAttributeDMax       g3:cc:mskAssembly.ADHL
assemblyAttributeEMin       g3:cc:mskAssembly.AELL
assemblyAttributeEMax       g3:cc:mskAssembly.AEHL

assemblySimulation          g3:cc:mskAssembly.SIMM
assemblyDebug               g3:cc:mskAssembly.DBUG

assemblyTranslationFile	    g3:cc:mskAssembly.TFIL
assemblyTranslationDir      g3:cc:mskAssembly.TDIR

assemblyAcknowledge         g3:cc:mskAssembly.VAL
assemblyBusy                g3:cc:mskC.VAL
assemblyMessage             g3:cc:mskAssembly.MESS

assemblyAValue              g3:cc:mskAssembly.VALA
assemblyBValue              g3:cc:mskAssembly.VALB
assemblyCValue              g3:cc:mskAssembly.VALC
assemblyDValue              g3:cc:mskAssembly.VALD
assemblyEValue              g3:cc:mskAssembly.VALE

assemblyInitialized         g3:cc:mskAssembly.INIT
assemblyIndexed             g3:cc:mskAssembly.INDX
assemblyParked              g3:cc:mskAssembly.PARK

assemblyHealth              g3:cc:mskAssembly.HLTH

