#
# DHS Test Commander
# Pickoff device configuration file
#

deviceDirective             g3:wfs:probePkoDevice.DIR
deviceMode                  g3:wfs:probePkoDevice.MODE

deviceTarget                g3:wfs:probePkoDevice.VAL
deviceNamedTarget           g3:wfs:probePkoDevice.VALS
deviceVelocity              g3:wfs:probePkoDevice.VELO
deviceAcceleration          g3:wfs:probePkoDevice.ACCL
deviceIndexType             g3:wfs:probePkoDevice.IALG

deviceMinPosition           g3:wfs:probePkoDevice.PLLM
deviceMaxPosition           g3:wfs:probePkoDevice.PHLM
deviceMinVelocity           g3:wfs:probePkoDevice.VLLM
deviceMaxVelocity           g3:wfs:probePkoDevice.VHLM

deviceSimulation            g3:wfs:probePkoDevice.SIMM
deviceDebug                 g3:wfs:probePkoDevice.DBUG

deviceTranslationFile       g3:wfs:probePkoDevice.TFIL
deviceTranslationDirectory  g3:wfs:probePkoDevice.TDIR

deviceAcknowledge           g3:wfs:probePkoDevice.ACK
deviceBusy                  g3:wfs:probePkoDevice.BUSY
deviceMessage               g3:wfs:probePkoDevice.MESS

deviceIndexed               g3:wfs:probePkoDevice.HPVL

devicePosition              g3:wfs:probePkoDevice.MPOS
deviceRawTarget             g3:wfs:probePkoDevice.RPOS
deviceRawPosition           g3:wfs:probePkoDevice.RRBV
deviceEncoderPosition       g3:wfs:probePkoDevice.RENC
deviceState                 g3:wfs:probePkoDevice.MIP
devicePower                 g3:wfs:probePkoDevice.PSTA
deviceBrake                 g3:wfs:probePkoDevice.BSTA
