#
# DHS Test Commander
# Template configuration file for post FP ICD checkout
#

filterDirective           g3:cc:fltAssembly.DIR
filterMode                g3:cc:fltAssembly.MODE

filter1                   g3:cc:fltAssembly.A
filter2                   g3:cc:fltAssembly.B
filterInposBroken         g3:cc:fltAssembly.C
filterUpdateFast          g3:cc:fltAssembly.D

filterAcknowledge         g3:cc:fltAssembly.VAL
filterBusy                g3:cc:fltC.VAL
filterMessage             g3:cc:fltAssembly.MESS
filterState               g3:cc:fltAssembly.ASTA
filterCarMess             g3:cc:fltC.OMSS
filterCarErr              g3:cc:fltC.OERR

sadFilterId1              g3:sad:cc:fltID1.VAL
sadFilterId2              g3:sad:cc:fltID2.VAL
sadFilterInitialized      g3:sad:cc:fltInit.VAL
sadFilterIndexed          g3:sad:cc:fltIndex.VAL
sadFilterParked           g3:sad:cc:fltPark.VAL
sadFilterHealth           g3:sad:cc:fltHealth.VAL
sadFilterDebug            g3:sad:cc:fltDebug.VAL
sadFilterSimulate         g3:sad:cc:fltSimulate.VAL
sadFilterState            g3:sad:cc:fltState.VAL

gratingDirective           g3:cc:grAssembly.DIR
gratingMode                g3:cc:grAssembly.MODE

gratingSelectOnly          g3:cc:grAssembly.A
gratingId                  g3:cc:grAssembly.B
gratingTilt                g3:cc:grAssembly.C

gratingAcknowledge         g3:cc:grAssembly.VAL
gratingBusy                g3:cc:grC.VAL
gratingMessage             g3:cc:grAssembly.MESS
gratingState               g3:cc:grAssembly.ASTA
gratingCarMess             g3:cc:grC.OMSS
gratingCarErr              g3:cc:grC.OERR

sadGratingId               g3:sad:cc:grID.VAL
sadGratingTilt             g3:sad:cc:grTilt.VAL
sadGratingInitialized      g3:sad:cc:grInit.VAL
sadGratingInBeam           g3:sad:cc:grInBeam.VAL
sadGratingIndexed          g3:sad:cc:grIndex.VAL
sadGratingParked           g3:sad:cc:grPark.VAL
sadGratingHealth           g3:sad:cc:grHealth.VAL
sadGratingDebug            g3:sad:cc:grDebug.VAL
sadGratingSimulate         g3:sad:cc:grSimulate.VAL
sadGratingState            g3:sad:cc:grState.VAL

translationDirective       g3:cc:dtaAssembly.DIR
translationMode            g3:cc:dtaAssembly.MODE

translationX               g3:cc:dtaAssembly.A
translationY               g3:cc:dtaAssembly.B
translationZ               g3:cc:dtaAssembly.C
translationLut             g3:cc:dtaAssembly.D

translationAcknowledge     g3:cc:dtaAssembly.VAL
translationBusy            g3:cc:dtaC.VAL
translationMessage         g3:cc:dtaAssembly.MESS
translationState           g3:cc:dtaAssembly.ASTA
translationCarMess         g3:cc:dtaC.OMSS
translationCarErr          g3:cc:dtaC.OERR

sadXposition               g3:sad:cc:dtaX.VAL
sadYposition               g3:sad:cc:dtaY.VAL
sadZposition               g3:sad:cc:dtaZ.VAL
sadTranslationInitialized  g3:sad:cc:dtaInit.VAL
sadTranslationIndexed      g3:sad:cc:dtaIndex.VAL
sadTranslationParked       g3:sad:cc:dtaPark.VAL
sadTranslationHealth       g3:sad:cc:dtaHealth.VAL
sadTranslationDebug        g3:sad:cc:dtaDebug.VAL
sadTranslationSimulate     g3:sad:cc:dtaSimulate.VAL
sadTranslationState        g3:sad:cc:dtaState.VAL
