#
# DHS Test Commander
# Template configuration file for ICD checkout
#

maskDirective           g3:cc:mskAssembly.DIR
maskMode                g3:cc:mskAssembly.MODE
maskDebug               g3:cc:mskAssembly.DBUG

maskTarget              g3:cc:mskAssembly.A
maskLocation            g3:cc:mskAssembly.B
maskPark                g3:cc:mskAssembly.C
maskExtFast             g3:cc:mskAssembly.D
maskExtSlow             g3:cc:mskAssembly.E

maskAcknowledge         g3:cc:mskAssembly.VAL
maskBusy                g3:cc:mskC.VAL
maskMessage             g3:cc:mskAssembly.MESS
maskState               g3:cc:mskAssembly.ASTA
maskCarMess             g3:cc:mskC.OMSS
maskCarErr              g3:cc:mskC.OERR

sadMaskLoadId           g3:sad:cc:mskID.VAL
sadMaskLocation         g3:sad:cc:mskLoc.VAL
sadMaskParkLoc          g3:sad:cc:mskParkCas.VAL 
sadMaskInitialized      g3:sad:cc:mskInit.VAL
sadMaskIndexed          g3:sad:cc:mskIndex.VAL
sadMaskParked           g3:sad:cc:mskPark.VAL
sadMaskHealth           g3:sad:cc:mskHealth.VAL
sadMaskFP               g3:sad:cc:mskFP.VAL
sadMaskDebug            g3:sad:cc:mskDebug.VAL
sadMaskSimulate         g3:sad:cc:mskSimulate.VAL
sadMaskState            g3:sad:cc:mskState.VAL

sadCassetteLimit        g3:sad:cc:mskCasLim.VAL
sadMaskGripper          g3:sad:cc:mskGripper.VAL
sadMaskRelease          g3:sad:cc:mskRelease.VAL

