#
# DHS Test Commander
# Release device configuration file
#

devDir                   g3:cc:mskRelDevice.DIR
devMode                  g3:cc:mskRelDevice.MODE

devTarget                g3:cc:mskRelDevice.VAL
devNamedTarget           g3:cc:mskRelDevice.VALS
devVelocity              g3:cc:mskRelDevice.VELO
devAcceleration          g3:cc:mskRelDevice.ACCL
devIndexType             g3:cc:mskRelDevice.IALG

devMinPosition           g3:cc:mskRelDevice.PLLM
devMaxPosition           g3:cc:mskRelDevice.PHLM
devMinVelocity           g3:cc:mskRelDevice.VLLM
devMaxVelocity           g3:cc:mskRelDevice.VHLM

devSimm                  g3:cc:mskRelDevice.SIMM
devDbug                  g3:cc:mskRelDevice.DBUG

devLutFile               g3:cc:mskRelDevice.TFIL
devLutDirectory          g3:cc:mskRelDevice.TDIR
devDevType               g3:cc:mskRelDevice.DTYP

devAck                   g3:cc:mskRelDevice.ACK
devBusy                  g3:cc:mskRelDevice.BUSY
devMess                  g3:cc:mskRelDevice.MESS

devIndexed               g3:cc:mskRelDevice.HPVL
devLimited               g3:cc:mskRelDevice.LSWA

devPosition              g3:cc:mskRelDevice.MPOS
devRawTarget             g3:cc:mskRelDevice.RPOS
devRawPosition           g3:cc:mskRelDevice.RRBV
devEncoderPosition       g3:cc:mskRelDevice.RENC
devState                 g3:cc:mskRelDevice.MIP
devPower                 g3:cc:mskRelDevice.PSTA
devBrake                 g3:cc:mskRelDevice.BSTA

devEgu                   g3:cc:mskRelDevice.EGU
devMotorRes              g3:cc:mskRelDevice.MRES
devMotionDeadBand        g3:cc:mskRelDevice.MDBD
devBaseVelo              g3:cc:mskRelDevice.VBAS
devUsePwrStatus          g3:cc:mskRelDevice.UPSB
devPwrStatusTimeout      g3:cc:mskRelDevice.PTMO
devUseBrkStatus          g3:cc:mskRelDevice.UBSB
devBrkStatusTimeout      g3:cc:mskRelDevice.BTMO
devUseAuxPwr             g3:cc:mskRelDevice.UAPB
devUseEncoder            g3:cc:mskRelDevice.UEIP
devEncoderRes            g3:cc:mskRelDevice.ERES
devEncoderDeadBand       g3:cc:mskRelDevice.EDBD



