#
# DHS Test Commander
# Translation X axis device configuration file
#

devDir                   g3:cc:dta1Device.DIR
devMode                  g3:cc:dta1Device.MODE

devTarget                g3:cc:dta1Device.VAL
devNamedTarget           g3:cc:dta1Device.VALS
devVelocity              g3:cc:dta1Device.VELO
devAcceleration          g3:cc:dta1Device.ACCL
devIndexType             g3:cc:dta1Device.IALG

devMinPosition           g3:cc:dta1Device.PLLM
devMaxPosition           g3:cc:dta1Device.PHLM
devMinVelocity           g3:cc:dta1Device.VLLM
devMaxVelocity           g3:cc:dta1Device.VHLM

devBaseVelo              g3:cc:dta1Device.VBAS
devFinalIndexVelo        g3:cc:dta1Device.FIVL

devSimm                  g3:cc:dta1Device.SIMM
devDbug                  g3:cc:dta1Device.DBUG

devLutFile               g3:cc:dta1Device.TFIL
devLutDirectory          g3:cc:dta1Device.TDIR
devDevType               g3:cc:dta1Device.DTYP

devAck                   g3:cc:dta1Device.ACK
devBusy                  g3:cc:dta1Device.BUSY
devMess                  g3:cc:dta1Device.MESS

devIndexed               g3:cc:dta1Device.HPVL
devLimited               g3:cc:dta1Device.LSWA
devAtHome                g3:cc:dta1Device.HSWA

devPosition              g3:cc:dta1Device.MPOS
devRounding              g3:cc:dta1Device.MRND
devRawTarget             g3:cc:dta1Device.RPOS
devRawPosition           g3:cc:dta1Device.RRBV
devEncoderPosition       g3:cc:dta1Device.RENC
devBacklash              g3:cc:dta1Device.BLCO
devState                 g3:cc:dta1Device.MIP
devPower                 g3:cc:dta1Device.PSTA
devBrake                 g3:cc:dta1Device.BSTA

devEgu                   g3:cc:dta1Device.EGU
devMotorRes              g3:cc:dta1Device.MRES
devMotionDeadBand        g3:cc:dta1Device.MDBD
devBaseVelo              g3:cc:dta1Device.VBAS
devUsePwrStatus          g3:cc:dta1Device.UPSB
devPwrStatusTimeout      g3:cc:dta1Device.PTMO
devUseBrkStatus          g3:cc:dta1Device.UBSB
devBrkStatusTimeout      g3:cc:dta1Device.BTMO
devUseAuxPwr             g3:cc:dta1Device.UAPB
devUseEncoder            g3:cc:dta1Device.UEIP
devEncoderRes            g3:cc:dta1Device.ERES
devEncoderDeadBand       g3:cc:dta1Device.EDBD



