#
# DHS Test Commander
# Template configuration file for translation assembly record
#

assemblyDirective           g3:cc:dtaAssembly.DIR
assemblyMode                g3:cc:dtaAssembly.MODE

assemblyAAttribute          g3:cc:dtaAssembly.A
assemblyBAttribute          g3:cc:dtaAssembly.B
assemblyCAttribute          g3:cc:dtaAssembly.C
assemblyDAttribute          g3:cc:dtaAssembly.D
assemblyEAttribute          g3:cc:dtaAssembly.E

assemblyAttributeAMin       g3:cc:dtaAssembly.AALL
assemblyAttributeAMax       g3:cc:dtaAssembly.AAHL
assemblyAttributeBMin       g3:cc:dtaAssembly.ABLL
assemblyAttributeBMax       g3:cc:dtaAssembly.ABHL
assemblyAttributeCMin       g3:cc:dtaAssembly.ACLL
assemblyAttributeCMax       g3:cc:dtaAssembly.ACHL
assemblyAttributeDMin       g3:cc:dtaAssembly.ADLL
assemblyAttributeDMax       g3:cc:dtaAssembly.ADHL
assemblyAttributeEMin       g3:cc:dtaAssembly.AELL
assemblyAttributeEMax       g3:cc:dtaAssembly.AEHL

assemblySimulation          g3:cc:dtaAssembly.SIMM
assemblyDebug               g3:cc:dtaAssembly.DBUG

assemblyTranslationFile	    g3:cc:dtaAssembly.TFIL
assemblyTranslationDir      g3:cc:dtaAssembly.TDIR

assemblyAcknowledge         g3:cc:dtaAssembly.VAL
assemblyBusy                g3:cc:dtaC.VAL
assemblyMessage             g3:cc:dtaAssembly.MESS

assemblyAValue              g3:cc:dtaAssembly.VALA
assemblyBValue              g3:cc:dtaAssembly.VALB
assemblyCValue              g3:cc:dtaAssembly.VALC
assemblyDValue              g3:cc:dtaAssembly.VALD
assemblyEValue              g3:cc:dtaAssembly.VALE

assemblyInitialized         g3:cc:dtaAssembly.INIT
assemblyIndexed             g3:cc:dtaAssembly.INDX
assemblyParked              g3:cc:dtaAssembly.PARK

assemblyHealth              g3:cc:dtaAssembly.HLTH

