#
# DHS Test Commander
# Translation Y axis device configuration file
#

devDir                   g3:cc:dta2Device.DIR
devMode                  g3:cc:dta2Device.MODE

devTarget                g3:cc:dta2Device.VAL
devNamedTarget           g3:cc:dta2Device.VALS
devVelocity              g3:cc:dta2Device.VELO
devAcceleration          g3:cc:dta2Device.ACCL
devIndexType             g3:cc:dta2Device.IALG

devMinPosition           g3:cc:dta2Device.PLLM
devMaxPosition           g3:cc:dta2Device.PHLM
devMinVelocity           g3:cc:dta2Device.VLLM
devMaxVelocity           g3:cc:dta2Device.VHLM

devBaseVelo              g3:cc:dta2Device.VBAS
devFinalIndexVelo        g3:cc:dta2Device.FIVL

devSimm                  g3:cc:dta2Device.SIMM
devDbug                  g3:cc:dta2Device.DBUG

devLutFile               g3:cc:dta2Device.TFIL
devLutDirectory          g3:cc:dta2Device.TDIR
devDevType               g3:cc:dta2Device.DTYP

devAck                   g3:cc:dta2Device.ACK
devBusy                  g3:cc:dta2Device.BUSY
devMess                  g3:cc:dta2Device.MESS

devIndexed               g3:cc:dta2Device.HPVL
devLimited               g3:cc:dta2Device.LSWA
devAtHome                g3:cc:dta2Device.HSWA

devPosition              g3:cc:dta2Device.MPOS
devRounding              g3:cc:dta2Device.MRND
devRawTarget             g3:cc:dta2Device.RPOS
devRawPosition           g3:cc:dta2Device.RRBV
devEncoderPosition       g3:cc:dta2Device.RENC
devBacklash              g3:cc:dta2Device.BLCO
devState                 g3:cc:dta2Device.MIP
devPower                 g3:cc:dta2Device.PSTA
devBrake                 g3:cc:dta2Device.BSTA

devEgu                   g3:cc:dta2Device.EGU
devMotorRes              g3:cc:dta2Device.MRES
devMotionDeadBand        g3:cc:dta2Device.MDBD
devBaseVelo              g3:cc:dta2Device.VBAS
devUsePwrStatus          g3:cc:dta2Device.UPSB
devPwrStatusTimeout      g3:cc:dta2Device.PTMO
devUseBrkStatus          g3:cc:dta2Device.UBSB
devBrkStatusTimeout      g3:cc:dta2Device.BTMO
devUseAuxPwr             g3:cc:dta2Device.UAPB
devUseEncoder            g3:cc:dta2Device.UEIP
devEncoderRes            g3:cc:dta2Device.ERES
devEncoderDeadBand       g3:cc:dta2Device.EDBD



