#
# DHS Test Commander
# Translation Z axis device configuration file
#

devDir                   g3:cc:dta3Device.DIR
devMode                  g3:cc:dta3Device.MODE

devTarget                g3:cc:dta3Device.VAL
devNamedTarget           g3:cc:dta3Device.VALS
devVelocity              g3:cc:dta3Device.VELO
devAcceleration          g3:cc:dta3Device.ACCL
devIndexType             g3:cc:dta3Device.IALG

devMinPosition           g3:cc:dta3Device.PLLM
devMaxPosition           g3:cc:dta3Device.PHLM
devMinVelocity           g3:cc:dta3Device.VLLM
devMaxVelocity           g3:cc:dta3Device.VHLM

devBaseVelo              g3:cc:dta3Device.VBAS
devFinalIndexVelo        g3:cc:dta3Device.FIVL

devSimm                  g3:cc:dta3Device.SIMM
devDbug                  g3:cc:dta3Device.DBUG

devLutFile               g3:cc:dta3Device.TFIL
devLutDirectory          g3:cc:dta3Device.TDIR
devDevType               g3:cc:dta3Device.DTYP

devAck                   g3:cc:dta3Device.ACK
devBusy                  g3:cc:dta3Device.BUSY
devMess                  g3:cc:dta3Device.MESS

devIndexed               g3:cc:dta3Device.HPVL
devLimited               g3:cc:dta3Device.LSWA

devPosition              g3:cc:dta3Device.MPOS
devRounding              g3:cc:dta3Device.MRND
devRawTarget             g3:cc:dta3Device.RPOS
devRawPosition           g3:cc:dta3Device.RRBV
devEncoderPosition       g3:cc:dta3Device.RENC
devBacklash              g3:cc:dta3Device.BLCO
devState                 g3:cc:dta3Device.MIP
devPower                 g3:cc:dta3Device.PSTA
devBrake                 g3:cc:dta3Device.BSTA

devEgu                   g3:cc:dta3Device.EGU
devMotorRes              g3:cc:dta3Device.MRES
devMotionDeadBand        g3:cc:dta3Device.MDBD
devBaseVelo              g3:cc:dta3Device.VBAS
devUsePwrStatus          g3:cc:dta3Device.UPSB
devPwrStatusTimeout      g3:cc:dta3Device.PTMO
devUseBrkStatus          g3:cc:dta3Device.UBSB
devBrkStatusTimeout      g3:cc:dta3Device.BTMO
devUseAuxPwr             g3:cc:dta3Device.UAPB
devUseEncoder            g3:cc:dta3Device.UEIP
devEncoderRes            g3:cc:dta3Device.ERES
devEncoderDeadBand       g3:cc:dta3Device.EDBD



