#
# DHS Test Commander
# Template configuration file for assembly record
#

assemblyDirective           g3:wfs:probeAssembly.DIR
assemblyMode                g3:wfs:probeAssembly.MODE

assemblyAAttribute          g3:wfs:probeAssembly.A
assemblyBAttribute          g3:wfs:probeAssembly.B
assemblyCAttribute          g3:wfs:probeAssembly.C
assemblyDAttribute          g3:wfs:probeAssembly.D
assemblyEAttribute          g3:wfs:probeAssembly.E

assemblyAttributeAMin       g3:wfs:probeAssembly.AALL
assemblyAttributeAMax       g3:wfs:probeAssembly.AAHL
assemblyAttributeBMin       g3:wfs:probeAssembly.ABLL
assemblyAttributeBMax       g3:wfs:probeAssembly.ABHL
assemblyAttributeCMin       g3:wfs:probeAssembly.ACLL
assemblyAttributeCMax       g3:wfs:probeAssembly.ACHL
assemblyAttributeDMin       g3:wfs:probeAssembly.ADLL
assemblyAttributeDMax       g3:wfs:probeAssembly.ADHL
assemblyAttributeEMin       g3:wfs:probeAssembly.AELL
assemblyAttributeEMax       g3:wfs:probeAssembly.AEHL

assemblySimulation          g3:wfs:probeAssembly.SIMM
assemblyDebug               g3:wfs:probeAssembly.DBUG

assemblyLutFile             g3:wfs:probeAssembly.TFIL
assemblyLutDir              g3:wfs:probeAssembly.TDIR
assemblyNumberOfDevices     g3:wfs:probeAssembly.NMDV
assemblyDevType             g3:wfs:probeAssembly.DTYP

assemblyAcknowledge         g3:wfs:probeAssembly.VAL
assemblyBusy                g3:wfs:probeAssembly.BUSY
assemblyMessage             g3:wfs:probeAssembly.MESS

assemblyAValue              g3:wfs:probeAssembly.VALA
assemblyBValue              g3:wfs:probeAssembly.VALB
assemblyCValue              g3:wfs:probeAssembly.VALC
assemblyDValue              g3:wfs:probeAssembly.VALD
assemblyEValue              g3:wfs:probeAssembly.VALE

assemblyState               g3:wfs:probeAssembly.ASTA
assemblyInitialized         g3:wfs:probeAssembly.INIT
assemblyIndexed             g3:wfs:probeAssembly.INDX
assemblyParked              g3:wfs:probeAssembly.PARK

assemblyHealth              g3:wfs:probeAssembly.HLTH

