#  WARNING, this one won't work until the transform target stuff
#  is fixed
# DHS Test Commander configuration file
#

# X/Y Limits
wfsXMax              g3:wfs:probePatrolXHiLim
wfsXMin              g3:wfs:probePatrolXLoLim
wfsYMax              g3:wfs:probePatrolYHiLim
wfsYMin              g3:wfs:probePatrolYLoLim

# Telescope Coordinate targets
wfsTXTarget          g3:wfs:probeTransformTarget.A
wfsTYTarget          g3:wfs:probeTransformTarget.B
wfsConvert           g3:wfs:probeTransformTarget.PROC

# Mask Coordinate current positions from incremental encoders
wfsMXPos             g3:wfs:probeCalcPosition.VALA
wfsMYPos             g3:wfs:probeCalcPosition.VALB

# Base/Pickoff current positions from absolute encoders
wfsBasAbs            g3:wfs:probeAbsAngles.VALA
wfsPkoAbs            g3:wfs:probeAbsAngles.VALB
wfsAbsBaseZero       g3:wfs:probeBaseZero.VAL
wfsAbsPickoffZero    g3:wfs:probePickoffZero.VAL

# activeC Car
wfsActiveC           g3:wfs:probeCommandResponse.VAL

#
# Commands
#

# Datum Command
wfsDatumDir          g3:wfs:datum.DIR
wfsDatumAck          g3:wfs:datum.VAL
wfsDatumMess         g3:wfs:datum.MESS

# Follow Command
wfsFollowDir         g3:wfs:follow.DIR
wfsFollowAck         g3:wfs:follow.VAL
wfsFollowMess        g3:wfs:follow.MESS
wfsFollowCar         g3:wfs:activeC.VAL
wfsFollowState       g3:wfs:followState.VAL

# Init Command
wfsInitDir           g3:wfs:init.DIR
wfsInitAck           g3:wfs:init.VAL
wfsInitMess          g3:wfs:init.MESS

# Move Command
wfsMoveDir           g3:wfs:move.DIR
wfsMoveAck           g3:wfs:move.VAL
wfsMoveMess          g3:wfs:move.MESS
wfsMoveCar           g3:wfs:activeC.VAL
wfsMoveXTarget       g3:wfs:move.A
wfsMoveYTarget       g3:wfs:move.B
wfsMoveXLoLim        g3:wfs:move.C
wfsMoveXHiLim        g3:wfs:move.D
wfsMoveYLoLim        g3:wfs:move.E
wfsMoveYHiLim        g3:wfs:move.F

# Park Command
wfsParkDir           g3:wfs:park.DIR
wfsParkAck           g3:wfs:park.VAL
wfsParkMess          g3:wfs:park.MESS

# Stop Command
wfsStopDir           g3:wfs:stop.DIR
wfsStopAck           g3:wfs:stop.VAL
wfsStopMess          g3:wfs:stop.MESS
wfsStopCar           g3:wfs:activeC.VAL

# Test Command
wfsTestDir           g3:wfs:test.DIR
wfsTestAck           g3:wfs:test.VAL
wfsTestMess          g3:wfs:test.MESS

# Tolerance Command
wfsToleranceDir      g3:wfs:tolerance.DIR
wfsToleranceAck      g3:wfs:tolerance.VAL
wfsToleranceMess     g3:wfs:tolerance.MESS
wfsToleranceCar      g3:wfs:toleranceCar.VAL
wfsToleranceTarget   g3:wfs:tolerance.A
wfsToleranceLoLim    g3:wfs:tolerance.B
wfsToleranceHiLim    g3:wfs:tolerance.C
wfsToleranceVal      g3:wfs:tolerance.VALA


