#
# DHS Test Commander
# Pickoff device configuration file
#

deviceDirective             gm:wfs:probeBasDevice.DIR
deviceMode                  gm:wfs:probeBasDevice.MODE

deviceTarget                gm:wfs:probeBasDevice.VAL
deviceNamedTarget           gm:wfs:probeBasDevice.VALS
deviceVelocity              gm:wfs:probeBasDevice.VELO
deviceAcceleration          gm:wfs:probeBasDevice.ACCL
deviceIndexType             gm:wfs:probeBasDevice.IALG

deviceMinPosition           gm:wfs:probeBasDevice.PLLM
deviceMaxPosition           gm:wfs:probeBasDevice.PHLM
deviceMinVelocity           gm:wfs:probeBasDevice.VLLM
deviceMaxVelocity           gm:wfs:probeBasDevice.VHLM

deviceSimulation            gm:wfs:probeBasDevice.SIMM
deviceDebug                 gm:wfs:probeBasDevice.DBUG

deviceTranslationFile       gm:wfs:probeBasDevice.TFIL
deviceTranslationDirectory  gm:wfs:probeBasDevice.TDIR

deviceAcknowledge           gm:wfs:probeBasDevice.ACK
deviceBusy                  gm:wfs:probeBasDevice.BUSY
deviceMessage               gm:wfs:probeBasDevice.MESS

deviceIndexed               gm:wfs:probeBasDevice.HPVL

devicePosition              gm:wfs:probeBasDevice.MPOS
deviceRawTarget             gm:wfs:probeBasDevice.RPOS
deviceRawPosition           gm:wfs:probeBasDevice.RRBV
deviceEncoderPosition       gm:wfs:probeBasDevice.RENC
deviceState                 gm:wfs:probeBasDevice.MIP
devicePower                 gm:wfs:probeBasDevice.PSTA
deviceBrake                 gm:wfs:probeBasDevice.BSTA

