#
# DHS Test Commander
# Cassette device configuration file
#

cassetteDevice           gm:cc:mskCasDevice

devDir                   gm:cc:mskCasDevice.DIR
devMode                  gm:cc:mskCasDevice.MODE

devTarget                gm:cc:mskCasDevice.VAL
devNamedTarget           gm:cc:mskCasDevice.VALS
devVelocity              gm:cc:mskCasDevice.VELO
devAcceleration          gm:cc:mskCasDevice.ACCL
devIndexType             gm:cc:mskCasDevice.IALG

devMinPosition           gm:cc:mskCasDevice.PLLM
devMaxPosition           gm:cc:mskCasDevice.PHLM
devMinVelocity           gm:cc:mskCasDevice.VLLM
devMaxVelocity           gm:cc:mskCasDevice.VHLM

devSimm                  gm:cc:mskCasDevice.SIMM
devDbug                  gm:cc:mskCasDevice.DBUG

devLutFile               gm:cc:mskCasDevice.TFIL
devLutDirectory          gm:cc:mskCasDevice.TDIR
devDevType               gm:cc:mskCasDevice.DTYP

devAck                   gm:cc:mskCasDevice.ACK
devBusy                  gm:cc:mskCasDevice.BUSY
devMess                  gm:cc:mskCasDevice.MESS

devIndexed               gm:cc:mskCasDevice.HPVL
devLimited               gm:cc:mskCasDevice.LSWA

devPosition              gm:cc:mskCasDevice.MPOS
devRawTarget             gm:cc:mskCasDevice.RPOS
devRawPosition           gm:cc:mskCasDevice.RRBV
devEncoderPosition       gm:cc:mskCasDevice.RENC
devState                 gm:cc:mskCasDevice.MIP
devPower                 gm:cc:mskCasDevice.PSTA
devBrake                 gm:cc:mskCasDevice.BSTA

devEgu                   gm:cc:mskCasDevice.EGU
devMotorRes              gm:cc:mskCasDevice.MRES
devMotionDeadBand        gm:cc:mskCasDevice.MDBD
devBaseVelo              gm:cc:mskCasDevice.VBAS
devUsePwrStatus          gm:cc:mskCasDevice.UPSB
devPwrStatusTimeout      gm:cc:mskCasDevice.PTMO
devUseBrkStatus          gm:cc:mskCasDevice.UBSB
devBrkStatusTimeout      gm:cc:mskCasDevice.BTMO
devUseAuxPwr             gm:cc:mskCasDevice.UAPB
devUseEncoder            gm:cc:mskCasDevice.UEIP
devEncoderRes            gm:cc:mskCasDevice.ERES
devEncoderDeadBand       gm:cc:mskCasDevice.EDBD



