#
# DHS Test Commander
# Extractor device configuration file
#

devDir                   gm:cc:mskExtDevice.DIR
devMode                  gm:cc:mskExtDevice.MODE

devTarget                gm:cc:mskExtDevice.VAL
devNamedTarget           gm:cc:mskExtDevice.VALS
devVelocity              gm:cc:mskExtDevice.VELO
devAcceleration          gm:cc:mskExtDevice.ACCL
devIndexType             gm:cc:mskExtDevice.IALG

devMinPosition           gm:cc:mskExtDevice.PLLM
devMaxPosition           gm:cc:mskExtDevice.PHLM
devMinVelocity           gm:cc:mskExtDevice.VLLM
devMaxVelocity           gm:cc:mskExtDevice.VHLM

devSimm                  gm:cc:mskExtDevice.SIMM
devDbug                  gm:cc:mskExtDevice.DBUG

devLutFile               gm:cc:mskExtDevice.TFIL
devLutDirectory          gm:cc:mskExtDevice.TDIR
devDevType               gm:cc:mskExtDevice.DTYP

devAck                   gm:cc:mskExtDevice.ACK
devBusy                  gm:cc:mskExtDevice.BUSY
devMess                  gm:cc:mskExtDevice.MESS

devIndexed               gm:cc:mskExtDevice.HPVL
devLimited               gm:cc:mskExtDevice.LSWA

devPosition              gm:cc:mskExtDevice.MPOS
devRawTarget             gm:cc:mskExtDevice.RPOS
devRawPosition           gm:cc:mskExtDevice.RRBV
devEncoderPosition       gm:cc:mskExtDevice.RENC
devState                 gm:cc:mskExtDevice.MIP
devPower                 gm:cc:mskExtDevice.PSTA
devBrake                 gm:cc:mskExtDevice.BSTA

devEgu                   gm:cc:mskExtDevice.EGU
devMotorRes              gm:cc:mskExtDevice.MRES
devMotionDeadBand        gm:cc:mskExtDevice.MDBD
devBaseVelo              gm:cc:mskExtDevice.VBAS
devUsePwrStatus          gm:cc:mskExtDevice.UPSB
devPwrStatusTimeout      gm:cc:mskExtDevice.PTMO
devUseBrkStatus          gm:cc:mskExtDevice.UBSB
devBrkStatusTimeout      gm:cc:mskExtDevice.BTMO
devUseAuxPwr             gm:cc:mskExtDevice.UAPB
devUseEncoder            gm:cc:mskExtDevice.UEIP
devEncoderRes            gm:cc:mskExtDevice.ERES
devEncoderDeadBand       gm:cc:mskExtDevice.EDBD



