#
# DHS Test Commander
# Template configuration file for filter assembly record
#

assemblyDirective           gm:cc:fltAssembly.DIR
assemblyMode                gm:cc:fltAssembly.MODE

assemblyAAttribute          gm:cc:fltAssembly.A
assemblyBAttribute          gm:cc:fltAssembly.B
assemblyCAttribute          gm:cc:fltAssembly.C
assemblyDAttribute          gm:cc:fltAssembly.D
assemblyEAttribute          gm:cc:fltAssembly.E

assemblyAttributeAMin       gm:cc:fltAssembly.AALL
assemblyAttributeAMax       gm:cc:fltAssembly.AAHL
assemblyAttributeBMin       gm:cc:fltAssembly.ABLL
assemblyAttributeBMax       gm:cc:fltAssembly.ABHL
assemblyAttributeCMin       gm:cc:fltAssembly.ACLL
assemblyAttributeCMax       gm:cc:fltAssembly.ACHL
assemblyAttributeDMin       gm:cc:fltAssembly.ADLL
assemblyAttributeDMax       gm:cc:fltAssembly.ADHL
assemblyAttributeEMin       gm:cc:fltAssembly.AELL
assemblyAttributeEMax       gm:cc:fltAssembly.AEHL

assemblySimulation          gm:cc:fltAssembly.SIMM
assemblyDebug               gm:cc:fltAssembly.DBUG

assemblyTranslationFile	    gm:cc:fltAssembly.TFIL
assemblyTranslationDir      gm:cc:fltAssembly.TDIR

assemblyAcknowledge         gm:cc:fltAssembly.VAL
assemblyBusy                gm:cc:fltC.VAL
assemblyMessage             gm:cc:fltAssembly.MESS

assemblyAValue              gm:cc:fltAssembly.VALA
assemblyBValue              gm:cc:fltAssembly.VALB
assemblyCValue              gm:cc:fltAssembly.VALC
assemblyDValue              gm:cc:fltAssembly.VALD
assemblyEValue              gm:cc:fltAssembly.VALE

assemblyInitialized         gm:cc:fltAssembly.INIT
assemblyIndexed             gm:cc:fltAssembly.INDX
assemblyParked              gm:cc:fltAssembly.PARK

assemblyHealth              gm:cc:fltAssembly.HLTH

