#
# DHS Test Commander
# Filter wheel 1 device configuration file
#

devDir                   gm:cc:flt2Device.DIR
devMode                  gm:cc:flt2Device.MODE

devTarget                gm:cc:flt2Device.VAL
devNamedTarget           gm:cc:flt2Device.VALS
devVelocity              gm:cc:flt2Device.VELO
devAcceleration          gm:cc:flt2Device.ACCL
devIndexType             gm:cc:flt2Device.IALG

devMinPosition           gm:cc:flt2Device.PLLM
devMaxPosition           gm:cc:flt2Device.PHLM
devMinVelocity           gm:cc:flt2Device.VLLM
devMaxVelocity           gm:cc:flt2Device.VHLM

devBaseVelo              gm:cc:flt2Device.VBAS
devFinalIndexVelo        gm:cc:flt2Device.FIVL

devSimm                  gm:cc:flt2Device.SIMM
devDbug                  gm:cc:flt2Device.DBUG

devLutFile               gm:cc:flt2Device.TFIL
devLutDirectory          gm:cc:flt2Device.TDIR
devDevType               gm:cc:flt2Device.DTYP

devAck                   gm:cc:flt2Device.ACK
devBusy                  gm:cc:flt2Device.BUSY
devMess                  gm:cc:flt2Device.MESS

devIndexed               gm:cc:flt2Device.HPVL
devLimited               gm:cc:flt2Device.LSWA
devAtHome                gm:cc:flt2Device.HSWA

devPosition              gm:cc:flt2Device.MPOS
devRounding              gm:cc:flt2Device.MRND
devRawTarget             gm:cc:flt2Device.RPOS
devRawPosition           gm:cc:flt2Device.RRBV
devEncoderPosition       gm:cc:flt2Device.RENC
devBacklash              gm:cc:flt2Device.BLCO
devState                 gm:cc:flt2Device.MIP
devPower                 gm:cc:flt2Device.PSTA
devBrake                 gm:cc:flt2Device.BSTA

devEgu                   gm:cc:flt2Device.EGU
devMotorRes              gm:cc:flt2Device.MRES
devMotionDeadBand        gm:cc:flt2Device.MDBD
devUsePwrStatus          gm:cc:flt2Device.UPSB
devPwrStatusTimeout      gm:cc:flt2Device.PTMO
devUseBrkStatus          gm:cc:flt2Device.UBSB
devBrkStatusTimeout      gm:cc:flt2Device.BTMO
devUseAuxPwr             gm:cc:flt2Device.UAPB
devUseEncoder            gm:cc:flt2Device.UEIP
devEncoderRes            gm:cc:flt2Device.ERES
devEncoderDeadBand       gm:cc:flt2Device.EDBD



