#
# DHS Test Commander
# Template configuration file for GMOS detector controller
#
dcApplyCommand            gm:dc:apply.DIR
dcApplyAcknowledge        gm:dc:apply.VAL
dcApplyMessage            gm:dc:apply.MESS
dcApplyCarVal             gm:dc:applyC.VAL
dcApplyCarMessage         gm:dc:applyC.OMSS

dcTestCommand             gm:dc:test.DIR
dcTestAcknowledge         gm:dc:test.VAL
dcTestMessage             gm:dc:test.MESS
dcTestCarVal              gm:dc:testC.VAL
dcTestCarMessage          gm:dc:testC.OMSS

dcInitCommand             gm:dc:init.DIR
dcInitAcknowledge         gm:dc:init.VAL
dcInitMessage             gm:dc:init.MESS
dcInitMode                gm:dc:init.A
dcInitCarVal              gm:dc:initC.VAL
dcInitCarMessage          gm:dc:initC.OMSS

dcDatumCommand            gm:dc:datum.DIR
dcDatumAcknowledge        gm:dc:datum.VAL
dcDatumMessage            gm:dc:datum.MESS
dcDatumCarVal             gm:dc:datumC.VAL
dcDatumCarMessage         gm:dc:datumC.OMSS

dcParkCommand             gm:dc:park.DIR
dcParkAcknowledge         gm:dc:park.VAL
dcParkMessage             gm:dc:park.MESS
dcParkCarVal              gm:dc:parkC.VAL
dcParkCarMessage          gm:dc:parkC.OMSS

dcObserveCommand          gm:dc:observe.DIR
dcObserveAcknowledge      gm:dc:observe.VAL
dcObserveMessage          gm:dc:observe.MESS
dcObserveDataLabel        gm:dc:observe.A
dcObserveCarVal           gm:dc:observeC.VAL
dcObserveCarMessage       gm:dc:observeC.OMSS

dcPauseCommand            gm:dc:pause.DIR
dcPauseAcknowledge        gm:dc:pause.VAL
dcPauseMessage            gm:dc:pause.MESS

dcContinueCommand         gm:dc:continue.DIR
dcContinueAcknowledge     gm:dc:continue.VAL
dcContinueMessage         gm:dc:continue.MESS

dcStopCommand             gm:dc:stop.DIR
dcStopAcknowledge         gm:dc:stop.VAL
dcStopMessage             gm:dc:stop.MESS

dcAbortCommand            gm:dc:abort.DIR
dcAbortAcknowledge        gm:dc:abort.VAL
dcAbortMessage            gm:dc:abort.MESS

dcRebootCommand           gm:dc:reboot.DIR
dcRebootAcknowledge       gm:dc:reboot.VAL
dcRebootMessage           gm:dc:reboot.MESS

dcSetDhsInfoCommand       gm:dc:setDhsInfo.DIR
dcSetDhsInfoAcknowledge   gm:dc:setDhsInfo.VAL
dcSetDhsInfoMessage       gm:dc:setDhsInfo.MESS
dcSetDhsInfoQlstream      gm:dc:setDhsInfo.A
dcSetDhsInfoLifetime      gm:dc:setDhsInfo.B

dcInitWcsCommand          gm:dc:initWcs.DIR
dcInitWcsAcknowledge      gm:dc:initWcs.VAL
dcInitWcsMessage          gm:dc:initWcs.MESS
dcInitWcsChip1File        gm:dc:initWcs.A
dcInitWcsChip2File        gm:dc:initWcs.B
dcInitWcsChip3File        gm:dc:initWcs.C

dcSetWcsCommand           gm:dc:setWcs.DIR
dcSetWcsAcknowledge       gm:dc:setWcs.VAL
dcSetWcsMessage           gm:dc:setWcs.MESS
dcSetWcsParameter         gm:dc:setWcs.A

dcGensysCarVal            gm:dc:genSysC.VAL
dcGensysCarMessage        gm:dc:genSysC.OMSS

dcSetupCommand            gm:dc:dcSetup.DIR
dcSetupAcknowledge        gm:dc:dcSetup.VAL
dcSetupMessage            gm:dc:dcSetup.MESS
dcSetupTime               gm:dc:dcSetup.A
dcSetupShutter            gm:dc:dcSetup.B
dcSetupGain               gm:dc:dcSetup.C
dcSetupReadoutRate        gm:dc:dcSetup.D
dcSetupReadoutPorts       gm:dc:dcSetup.E
dcSetupFilename           gm:dc:dcSetup.F
dcSetupCarVal             gm:dc:dcSetupC.VAL
dcSetupCarMessage         gm:dc:dcSetupC.OMSS

dcRoiCommand              gm:dc:roi.DIR
dcRoiAcknowledge          gm:dc:roi.VAL
dcRoiMessage              gm:dc:roi.MESS
dcRoiX1Min                gm:dc:roi.B
dcRoiY1Min                gm:dc:roi.C
dcRoiX1Size               gm:dc:roi.D
dcRoiY1Size               gm:dc:roi.E

dcRoiX2Min                gm:dc:roi.F
dcRoiY2Min                gm:dc:roi.G
dcRoiX2Size               gm:dc:roi.H
dcRoiY2Size               gm:dc:roi.I

dcRoiX3Min                gm:dc:roi.J
dcRoiY3Min                gm:dc:roi.K
dcRoiX3Size               gm:dc:roi.L
dcRoiY3Size               gm:dc:roi.M

dcRoiX4Min                gm:dc:roi.N
dcRoiY4Min                gm:dc:roi.O
dcRoiX4Size               gm:dc:roi.P
dcRoiY4Size               gm:dc:roi.Q

dcRoiXBin                 gm:dc:roi.S
dcRoiYBin                 gm:dc:roi.T

dcInitDone                gm:dc:initDone.VAL
dcSetupDone               gm:dc:dcSetupDone.VAL
dcRoiDone                 gm:dc:roiSetupDone.VAL

sadDcState                gm:sad:dc:state.VAL
sadDcHealth               gm:sad:dc:health.VAL
sadDcDataLabel            gm:sad:dc:dataLabel.VAL
sadDcDhsHealth            gm:sad:dc:dhsHealth.VAL
sadDcShutHealth           gm:sad:dc:shutHealth.VAL
sadDcInit                 gm:sad:dc:dcInit.VAL
sadDcDetectorType         gm:sad:dc:detType.VAL
sadDcDetectorId           gm:sad:dc:detId.VAL
sadDcControllerId         gm:sad:dc:conID.VAL

sadDcPrepFlag             gm:sad:dc:prep.VAL
sadDcAcqFlag              gm:sad:dc:acq.VAL
sadDcRdoutFlag            gm:sad:dc:rdout.VAL

sadDcExposedTarget        gm:sad:dc:exposedRQ.VAL
sadDcExposedActual        gm:sad:dc:exposed.VAL
sadDcUtstart              gm:sad:dc:utstart.VAL
sadDcUtend                gm:sad:dc:utend.VAL
sadDcElapsedActual        gm:sad:dc:elapsed.VAL
sadDcDarktimeActual       gm:sad:dc:darktime.VAL
sadDcShutterActual        gm:sad:dc:shutPos.VAL

sadDcDetectorTemp         gm:sad:dc:detTemp.VAL
sadDcReadoutRate          gm:sad:dc:rdspeed.VAL
sadDcReadoutPorts         gm:sad:dc:portCnt.VAL

sadDcXBin                 gm:sad:dc:xBin.VAL
sadDcYBin                 gm:sad:dc:yBin.VAL

sadDcNumberOfRegions      gm:sad:dc:numRois.VAL
sadDcX1Min                gm:sad:dc:roi1X.VAL
sadDcY1Min                gm:sad:dc:roi1Y.VAL
sadDcX1Size               gm:sad:dc:roi1XSize.VAL
sadDcY1Size               gm:sad:dc:roi1YSize.VAL
sadDcX2Min                gm:sad:dc:roi2X.VAL
sadDcY2Min                gm:sad:dc:roi2Y.VAL
sadDcX2Size               gm:sad:dc:roi2XSize.VAL
sadDcY2Size               gm:sad:dc:roi2YSize.VAL
sadDcX3Min                gm:sad:dc:roi3X.VAL
sadDcY3Min                gm:sad:dc:roi3Y.VAL
sadDcX3Size               gm:sad:dc:roi3XSize.VAL
sadDcY3Size               gm:sad:dc:roi3YSize.VAL
sadDcX4Min                gm:sad:dc:roi4X.VAL
sadDcY4Min                gm:sad:dc:roi4Y.VAL
sadDcX4Size               gm:sad:dc:roi4XSize.VAL
sadDcY4Size               gm:sad:dc:roi4YSize.VAL
