#
# DHS Test Commander
# Template configuration file for GMOS instrument sequencer
#
isApplyCommand            gm:apply.DIR
isApplyAcknowledge        gm:apply.VAL
isApplyMessage            gm:apply.MESS
isApplyCarVal             gm:applyC.VAL
isApplyCarMessage         gm:applyC.OMSS

isTestCommand             gm:test.DIR
isTestAcknowledge         gm:test.VAL
isTestMessage             gm:test.MESS
isTestCarVal              gm:testC.VAL
isTestCarMessage          gm:testC.OMSS

isInitCommand             gm:init.DIR
isInitAcknowledge         gm:init.VAL
isInitMessage             gm:init.MESS
isInitMode                gm:init.A
isInitCarVal              gm:initC.VAL
isInitCarMessage          gm:initC.OMSS

isDatumCommand            gm:datum.DIR
isDatumAcknowledge        gm:datum.VAL
isDatumMessage            gm:datum.MESS
isDatumCarVal             gm:datumC.VAL
isDatumCarMessage         gm:datumC.OMSS

isUpdateCommand           gm:update.DIR
isUpdateAcknowledge       gm:update.VAL
isUpdateMessage           gm:update.MESS
isUpdateMode              gm:update.A
isUpdateCarVal            gm:updateC.VAL
isUpdateCarMessage        gm:updateC.OMSS

isParkCommand             gm:park.DIR
isParkAcknowledge         gm:park.VAL
isParkMessage             gm:park.MESS
isParkCarVal              gm:parkC.VAL
isParkCarMessage          gm:parkC.OMSS

isAtmTrackCommand         gm:atmTrack.DIR
isAtmTrackAcknowledge     gm:atmTrack.VAL
isAtmTrackMessage         gm:atmTrack.MESS
isAtmTrackMode            gm:atmTrack.A
isAtmTrackEnp             gm:atmTrack.B
isAtmTrackExp             gm:atmTrack.C
isAtmTrackMinWavelen      gm:atmTrack.D
isAtmTrackMaxWavelen      gm:atmTrack.E
isAtmTrackCarVal          gm:atmC.VAL
isAtmTrackCarMessage      gm:atmC.MESS

isMskPosCommand           gm:mskPos.DIR
isMskPosAcknowledge       gm:mskPos.VAL
isMskPosMessage           gm:mskPos.MESS
isMskPosMask              gm:mskPos.A
isMskPosLocation          gm:mskPos.B
isMskPosCarVal            gm:cc:mskC.VAL
isMskPosCarMessage        gm:cc:mskC.MESS
isMskNameMenu1            gm:maskCass1Select
isMskNameMenu2            gm:maskCass2Select
isMskNameMenu3            gm:maskCass3Select

isGrSelectCommand         gm:grSelect.DIR
isGrSelectAcknowledge     gm:grSelect.VAL
isGrSelectMessage         gm:grSelect.MESS
isGrSelectMode            gm:grSelect.A
isGrSelectGrating         gm:grSelect.B
isGrSelectWavelength      gm:grSelect.C
isGrSelectOrder           gm:grSelect.D
isGrSelectEffWavelen      gm:grSelect.E
isGrSelectCarVal          gm:cc:grC.VAL
isGrSelectCarMessage      gm:cc:grC.MESS
isGrNameMenu              gm:gratingSelect

isFltPosCommand           gm:fltPos.DIR
isFltPosAcknowledge       gm:fltPos.VAL
isFltPosMessage           gm:fltPos.MESS
isFltPosFilt1             gm:fltPos.A
isFltPosFilt2             gm:fltPos.B
isFltPosCarVal            gm:cc:fltC.VAL
isFltPosCarMessage        gm:cc:fltC.MESS
isFltNameMenu1            gm:filtWheel1Select
isFltNameMenu2            gm:filtWheel2Select

isDtaTrackCommand         gm:dtaTrack.DIR
isDtaTrackAcknowledge     gm:dtaTrack.VAL
isDtaTrackMessage         gm:dtaTrack.MESS
isDtaTrackMode            gm:dtaTrack.A
isDtaTrackXoff            gm:dtaTrack.B
isDtaTrackYoff            gm:dtaTrack.C
isDtaTrackZoff            gm:dtaTrack.D
isDtaTrackCarVal          gm:dtaC.VAL
isDtaTrackCarMessage      gm:dtaC.MESS

isObserveCommand          gm:observe.DIR
isObserveAcknowledge      gm:observe.VAL
isObserveMessage          gm:observe.MESS
isObserveDataLabel        gm:observe.A
isObserveCarVal           gm:observeC.VAL
isObserveCarMessage       gm:observeC.OMSS

isPauseCommand            gm:pause.DIR
isPauseAcknowledge        gm:pause.VAL
isPauseMessage            gm:pause.MESS

isContinueCommand         gm:continue.DIR
isContinueAcknowledge     gm:continue.VAL
isContinueMessage         gm:continue.MESS

isStopCommand             gm:stop.DIR
isStopAcknowledge         gm:stop.VAL
isStopMessage             gm:stop.MESS

isAbortCommand            gm:abort.DIR
isAbortAcknowledge        gm:abort.VAL
isAbortMessage            gm:abort.MESS

isRebootCommand           gm:reboot.DIR
isRebootAcknowledge       gm:reboot.VAL
isRebootMessage           gm:reboot.MESS

sadIsState                gm:sad:state.VAL
sadIsHealth               gm:sad:health.VAL
sadIsIndexed              gm:sad:cc:indexed.VAL

sadIsMskID                gm:sad:cc:mskID

sadIsGrName               gm:sad:grName
sadIsGrOrder              gm:sad:grOrder
sadIsGrEffWavelen         gm:sad:grEffWavelen
sadIsGrWavelen            gm:sad:grWavelen
sadIsGrID                 gm:sad:cc:grID

sadIsFiltName1            gm:sad:filtName1
sadIsFiltName2            gm:sad:filtName2
sadIsFltID1               gm:sad:cc:fltID1
sadIsFltID2               gm:sad:cc:fltID2

sadIsDtaX                 gm:sad:cc:dtaX
sadIsDtaY                 gm:sad:cc:dtaY
sadIsDtaZ                 gm:sad:cc:dtaZ
