#
# DHS Test Commander
# Grating cell B device configuration file
#

devDir                   gm:cc:grBDevice.DIR
devMode                  gm:cc:grBDevice.MODE

devTarget                gm:cc:grBDevice.VAL
devNamedTarget           gm:cc:grBDevice.VALS
devVelocity              gm:cc:grBDevice.VELO
devAcceleration          gm:cc:grBDevice.ACCL
devIndexType             gm:cc:grBDevice.IALG

devMinPosition           gm:cc:grBDevice.PLLM
devMaxPosition           gm:cc:grBDevice.PHLM
devMinVelocity           gm:cc:grBDevice.VLLM
devMaxVelocity           gm:cc:grBDevice.VHLM

devBaseVelo              gm:cc:grBDevice.VBAS
devFinalIndexVelo        gm:cc:grBDevice.FIVL

devSimm                  gm:cc:grBDevice.SIMM
devDbug                  gm:cc:grBDevice.DBUG

devLutFile               gm:cc:grBDevice.TFIL
devLutDirectory          gm:cc:grBDevice.TDIR
devDevType               gm:cc:grBDevice.DTYP

devAck                   gm:cc:grBDevice.ACK
devBusy                  gm:cc:grBDevice.BUSY
devMess                  gm:cc:grBDevice.MESS

devIndexed               gm:cc:grBDevice.HPVL
devLimited               gm:cc:grBDevice.LSWA

devPosition              gm:cc:grBDevice.MPOS
devRounding              gm:cc:grBDevice.MRND
devRawTarget             gm:cc:grBDevice.RPOS
devRawPosition           gm:cc:grBDevice.RRBV
devEncoderPosition       gm:cc:grBDevice.RENC
devBacklash              gm:cc:grBDevice.BLCO
devState                 gm:cc:grBDevice.MIP
devPower                 gm:cc:grBDevice.PSTA
devBrake                 gm:cc:grBDevice.BSTA

devEgu                   gm:cc:grBDevice.EGU
devMotorRes              gm:cc:grBDevice.MRES
devMotionDeadBand        gm:cc:grBDevice.MDBD
devBaseVelo              gm:cc:grBDevice.VBAS
devUsePwrStatus          gm:cc:grBDevice.UPSB
devPwrStatusTimeout      gm:cc:grBDevice.PTMO
devUseBrkStatus          gm:cc:grBDevice.UBSB
devBrkStatusTimeout      gm:cc:grBDevice.BTMO
devUseAuxPwr             gm:cc:grBDevice.UAPB
devUseEncoder            gm:cc:grBDevice.UEIP
devEncoderRes            gm:cc:grBDevice.ERES
devEncoderDeadBand       gm:cc:grBDevice.EDBD



