#
# DHS Test Commander
# Grating cell A device configuration file
#

devDir                   gm:cc:grADevice.DIR
devMode                  gm:cc:grADevice.MODE

devTarget                gm:cc:grADevice.VAL
devNamedTarget           gm:cc:grADevice.VALS
devVelocity              gm:cc:grADevice.VELO
devAcceleration          gm:cc:grADevice.ACCL
devIndexType             gm:cc:grADevice.IALG

devMinPosition           gm:cc:grADevice.PLLM
devMaxPosition           gm:cc:grADevice.PHLM
devMinVelocity           gm:cc:grADevice.VLLM
devMaxVelocity           gm:cc:grADevice.VHLM

devBaseVelo              gm:cc:grADevice.VBAS
devFinalIndexVelo        gm:cc:grADevice.FIVL

devSimm                  gm:cc:grADevice.SIMM
devDbug                  gm:cc:grADevice.DBUG

devLutFile               gm:cc:grADevice.TFIL
devLutDirectory          gm:cc:grADevice.TDIR
devDevType               gm:cc:grADevice.DTYP

devAck                   gm:cc:grADevice.ACK
devBusy                  gm:cc:grADevice.BUSY
devMess                  gm:cc:grADevice.MESS

devIndexed               gm:cc:grADevice.HPVL
devLimited               gm:cc:grADevice.LSWA

devPosition              gm:cc:grADevice.MPOS
devRounding              gm:cc:grADevice.MRND
devRawTarget             gm:cc:grADevice.RPOS
devRawPosition           gm:cc:grADevice.RRBV
devEncoderPosition       gm:cc:grADevice.RENC
devBacklash              gm:cc:grADevice.BLCO
devState                 gm:cc:grADevice.MIP
devPower                 gm:cc:grADevice.PSTA
devBrake                 gm:cc:grADevice.BSTA

devEgu                   gm:cc:grADevice.EGU
devMotorRes              gm:cc:grADevice.MRES
devMotionDeadBand        gm:cc:grADevice.MDBD
devBaseVelo              gm:cc:grADevice.VBAS
devUsePwrStatus          gm:cc:grADevice.UPSB
devPwrStatusTimeout      gm:cc:grADevice.PTMO
devUseBrkStatus          gm:cc:grADevice.UBSB
devBrkStatusTimeout      gm:cc:grADevice.BTMO
devUseAuxPwr             gm:cc:grADevice.UAPB
devUseEncoder            gm:cc:grADevice.UEIP
devEncoderRes            gm:cc:grADevice.ERES
devEncoderDeadBand       gm:cc:grADevice.EDBD



