#
# DHS Test Commander
# Grating turret device configuration file
#

devDir                   gm:cc:grtDevice.DIR
devMode                  gm:cc:grtDevice.MODE

devTarget                gm:cc:grtDevice.VAL
devNamedTarget           gm:cc:grtDevice.VALS
devVelocity              gm:cc:grtDevice.VELO
devAcceleration          gm:cc:grtDevice.ACCL
devIndexType             gm:cc:grtDevice.IALG

devMinPosition           gm:cc:grtDevice.PLLM
devMaxPosition           gm:cc:grtDevice.PHLM
devMinVelocity           gm:cc:grtDevice.VLLM
devMaxVelocity           gm:cc:grtDevice.VHLM

devBaseVelo              gm:cc:grtDevice.VBAS
devFinalIndexVelo        gm:cc:grtDevice.FIVL

devSimm                  gm:cc:grtDevice.SIMM
devDbug                  gm:cc:grtDevice.DBUG

devLutFile               gm:cc:grtDevice.TFIL
devLutDirectory          gm:cc:grtDevice.TDIR
devDevType               gm:cc:grtDevice.DTYP

devAck                   gm:cc:grtDevice.ACK
devBusy                  gm:cc:grtDevice.BUSY
devMess                  gm:cc:grtDevice.MESS

devIndexed               gm:cc:grtDevice.HPVL
devLimited               gm:cc:grtDevice.LSWA

devPosition              gm:cc:grtDevice.MPOS
devRounding              gm:cc:grtDevice.MRND
devRawTarget             gm:cc:grtDevice.RPOS
devRawPosition           gm:cc:grtDevice.RRBV
devEncoderPosition       gm:cc:grtDevice.RENC
devBacklash              gm:cc:grtDevice.BLCO
devState                 gm:cc:grtDevice.MIP
devPower                 gm:cc:grtDevice.PSTA
devBrake                 gm:cc:grtDevice.BSTA

devEgu                   gm:cc:grtDevice.EGU
devMotorRes              gm:cc:grtDevice.MRES
devMotionDeadBand        gm:cc:grtDevice.MDBD
devBaseVelo              gm:cc:grtDevice.VBAS
devUsePwrStatus          gm:cc:grtDevice.UPSB
devPwrStatusTimeout      gm:cc:grtDevice.PTMO
devUseBrkStatus          gm:cc:grtDevice.UBSB
devBrkStatusTimeout      gm:cc:grtDevice.BTMO
devUseAuxPwr             gm:cc:grtDevice.UAPB
devUseEncoder            gm:cc:grtDevice.UEIP
devEncoderRes            gm:cc:grtDevice.ERES
devEncoderDeadBand       gm:cc:grtDevice.EDBD

devManualPower           gm:cc:grTurretPower.VAL
