#
# DHS Test Commander
# Template configuration file for grating assembly record
#

assemblyDirective           gm:cc:grAssembly.DIR
assemblyMode                gm:cc:grAssembly.MODE

assemblyAAttribute          gm:cc:grAssembly.A
assemblyBAttribute          gm:cc:grAssembly.B
assemblyCAttribute          gm:cc:grAssembly.C
assemblyDAttribute          gm:cc:grAssembly.D
assemblyEAttribute          gm:cc:grAssembly.E

assemblyAttributeAMin       gm:cc:grAssembly.AALL
assemblyAttributeAMax       gm:cc:grAssembly.AAHL
assemblyAttributeBMin       gm:cc:grAssembly.ABLL
assemblyAttributeBMax       gm:cc:grAssembly.ABHL
assemblyAttributeCMin       gm:cc:grAssembly.ACLL
assemblyAttributeCMax       gm:cc:grAssembly.ACHL
assemblyAttributeDMin       gm:cc:grAssembly.ADLL
assemblyAttributeDMax       gm:cc:grAssembly.ADHL
assemblyAttributeEMin       gm:cc:grAssembly.AELL
assemblyAttributeEMax       gm:cc:grAssembly.AEHL

assemblySimulation          gm:cc:grAssembly.SIMM
assemblyDebug               gm:cc:grAssembly.DBUG

assemblyTranslationFile	    gm:cc:grAssembly.TFIL
assemblyTranslationDir      gm:cc:grAssembly.TDIR

assemblyAcknowledge         gm:cc:grAssembly.VAL
assemblyBusy                gm:cc:grC.VAL
assemblyMessage             gm:cc:grAssembly.MESS

assemblyAValue              gm:cc:grAssembly.VALA
assemblyBValue              gm:cc:grAssembly.VALB
assemblyCValue              gm:cc:grAssembly.VALC
assemblyDValue              gm:cc:grAssembly.VALD
assemblyEValue              gm:cc:grAssembly.VALE

assemblyInitialized         gm:cc:grAssembly.INIT
assemblyIndexed             gm:cc:grAssembly.INDX
assemblyParked              gm:cc:grAssembly.PARK

assemblyHealth              gm:cc:grAssembly.HLTH

