#
# DHS Test Commander
# Grating cell D device configuration file
#

devDir                   gm:cc:grDDevice.DIR
devMode                  gm:cc:grDDevice.MODE

devTarget                gm:cc:grDDevice.VAL
devNamedTarget           gm:cc:grDDevice.VALS
devVelocity              gm:cc:grDDevice.VELO
devAcceleration          gm:cc:grDDevice.ACCL
devIndexType             gm:cc:grDDevice.IALG

devMinPosition           gm:cc:grDDevice.PLLM
devMaxPosition           gm:cc:grDDevice.PHLM
devMinVelocity           gm:cc:grDDevice.VLLM
devMaxVelocity           gm:cc:grDDevice.VHLM

devBaseVelo              gm:cc:grDDevice.VBAS
devFinalIndexVelo        gm:cc:grDDevice.FIVL

devSimm                  gm:cc:grDDevice.SIMM
devDbug                  gm:cc:grDDevice.DBUG

devLutFile               gm:cc:grDDevice.TFIL
devLutDirectory          gm:cc:grDDevice.TDIR
devDevType               gm:cc:grDDevice.DTYP

devAck                   gm:cc:grDDevice.ACK
devBusy                  gm:cc:grDDevice.BUSY
devMess                  gm:cc:grDDevice.MESS

devIndexed               gm:cc:grDDevice.HPVL
devLimited               gm:cc:grDDevice.LSWA

devPosition              gm:cc:grDDevice.MPOS
devRounding              gm:cc:grDDevice.MRND
devRawTarget             gm:cc:grDDevice.RPOS
devRawPosition           gm:cc:grDDevice.RRBV
devEncoderPosition       gm:cc:grDDevice.RENC
devBacklash              gm:cc:grDDevice.BLCO
devState                 gm:cc:grDDevice.MIP
devPower                 gm:cc:grDDevice.PSTA
devBrake                 gm:cc:grDDevice.BSTA

devEgu                   gm:cc:grDDevice.EGU
devMotorRes              gm:cc:grDDevice.MRES
devMotionDeadBand        gm:cc:grDDevice.MDBD
devBaseVelo              gm:cc:grDDevice.VBAS
devUsePwrStatus          gm:cc:grDDevice.UPSB
devPwrStatusTimeout      gm:cc:grDDevice.PTMO
devUseBrkStatus          gm:cc:grDDevice.UBSB
devBrkStatusTimeout      gm:cc:grDDevice.BTMO
devUseAuxPwr             gm:cc:grDDevice.UAPB
devUseEncoder            gm:cc:grDDevice.UEIP
devEncoderRes            gm:cc:grDDevice.ERES
devEncoderDeadBand       gm:cc:grDDevice.EDBD



