#
# DHS Test Commander
# Grating Environment status configuration
#

gratingInPosition               gm:cc:grSwitchStates.VALA

gratingBarcodeId                gm:cc:grBarcodeString.VAL

gratingLifterUp                 gm:cc:grLifterUp.VAL
gratingLifterDown               gm:cc:grLifterDown.VAL

upstreamOk                      gm:cc:upstreamOk.VAL
downstreamOk                    gm:cc:downstreamOk.VAL

turretPowerControl              gm:cc:grTurretPower.VAL
turretPowerResponse             gm:cc:grtPower.VAL
turretPosA                      gm:cc:grTurretPosA.VAL
turretPosB                      gm:cc:grTurretPosB.VAL
turretPosC                      gm:cc:grTurretPosC.VAL
turretPosD                      gm:cc:grTurretPosD.VAL
