#
# DHS Test Commander
# Grating cell C device configuration file
#

devDir                   gm:cc:grCDevice.DIR
devMode                  gm:cc:grCDevice.MODE

devTarget                gm:cc:grCDevice.VAL
devNamedTarget           gm:cc:grCDevice.VALS
devVelocity              gm:cc:grCDevice.VELO
devAcceleration          gm:cc:grCDevice.ACCL
devIndexType             gm:cc:grCDevice.IALG

devMinPosition           gm:cc:grCDevice.PLLM
devMaxPosition           gm:cc:grCDevice.PHLM
devMinVelocity           gm:cc:grCDevice.VLLM
devMaxVelocity           gm:cc:grCDevice.VHLM

devBaseVelo              gm:cc:grCDevice.VBAS
devFinalIndexVelo        gm:cc:grCDevice.FIVL

devSimm                  gm:cc:grCDevice.SIMM
devDbug                  gm:cc:grCDevice.DBUG

devLutFile               gm:cc:grCDevice.TFIL
devLutDirectory          gm:cc:grCDevice.TDIR
devDevType               gm:cc:grCDevice.DTYP

devAck                   gm:cc:grCDevice.ACK
devBusy                  gm:cc:grCDevice.BUSY
devMess                  gm:cc:grCDevice.MESS

devIndexed               gm:cc:grCDevice.HPVL
devLimited               gm:cc:grCDevice.LSWA

devPosition              gm:cc:grCDevice.MPOS
devRounding              gm:cc:grCDevice.MRND
devRawTarget             gm:cc:grCDevice.RPOS
devRawPosition           gm:cc:grCDevice.RRBV
devEncoderPosition       gm:cc:grCDevice.RENC
devBacklash              gm:cc:grCDevice.BLCO
devState                 gm:cc:grCDevice.MIP
devPower                 gm:cc:grCDevice.PSTA
devBrake                 gm:cc:grCDevice.BSTA

devEgu                   gm:cc:grCDevice.EGU
devMotorRes              gm:cc:grCDevice.MRES
devMotionDeadBand        gm:cc:grCDevice.MDBD
devBaseVelo              gm:cc:grCDevice.VBAS
devUsePwrStatus          gm:cc:grCDevice.UPSB
devPwrStatusTimeout      gm:cc:grCDevice.PTMO
devUseBrkStatus          gm:cc:grCDevice.UBSB
devBrkStatusTimeout      gm:cc:grCDevice.BTMO
devUseAuxPwr             gm:cc:grCDevice.UAPB
devUseEncoder            gm:cc:grCDevice.UEIP
devEncoderRes            gm:cc:grCDevice.ERES
devEncoderDeadBand       gm:cc:grCDevice.EDBD



