#
# DHS Test Commander
# Grip device configuration file
#

devDir                   gm:cc:mskGrpDevice.DIR
devMode                  gm:cc:mskGrpDevice.MODE

devTarget                gm:cc:mskGrpDevice.VAL
devNamedTarget           gm:cc:mskGrpDevice.VALS
devVelocity              gm:cc:mskGrpDevice.VELO
devAcceleration          gm:cc:mskGrpDevice.ACCL
devIndexType             gm:cc:mskGrpDevice.IALG

devMinPosition           gm:cc:mskGrpDevice.PLLM
devMaxPosition           gm:cc:mskGrpDevice.PHLM
devMinVelocity           gm:cc:mskGrpDevice.VLLM
devMaxVelocity           gm:cc:mskGrpDevice.VHLM

devSimm                  gm:cc:mskGrpDevice.SIMM
devDbug                  gm:cc:mskGrpDevice.DBUG

devLutFile               gm:cc:mskGrpDevice.TFIL
devLutDirectory          gm:cc:mskGrpDevice.TDIR
devDevType               gm:cc:mskGrpDevice.DTYP

devAck                   gm:cc:mskGrpDevice.ACK
devBusy                  gm:cc:mskGrpDevice.BUSY
devMess                  gm:cc:mskGrpDevice.MESS

devIndexed               gm:cc:mskGrpDevice.HPVL
devLimited               gm:cc:mskGrpDevice.LSWA

devPosition              gm:cc:mskGrpDevice.MPOS
devRawTarget             gm:cc:mskGrpDevice.RPOS
devRawPosition           gm:cc:mskGrpDevice.RRBV
devEncoderPosition       gm:cc:mskGrpDevice.RENC
devState                 gm:cc:mskGrpDevice.MIP
devPower                 gm:cc:mskGrpDevice.PSTA
devBrake                 gm:cc:mskGrpDevice.BSTA


devEgu                   gm:cc:mskGrpDevice.EGU
devMotorRes              gm:cc:mskGrpDevice.MRES
devMotionDeadBand        gm:cc:mskGrpDevice.MDBD
devBaseVelo              gm:cc:mskGrpDevice.VBAS
devUsePwrStatus          gm:cc:mskGrpDevice.UPSB
devPwrStatusTimeout      gm:cc:mskGrpDevice.PTMO
devUseBrkStatus          gm:cc:mskGrpDevice.UBSB
devBrkStatusTimeout      gm:cc:mskGrpDevice.BTMO
devUseAuxPwr             gm:cc:mskGrpDevice.UAPB
devUseEncoder            gm:cc:mskGrpDevice.UEIP
devEncoderRes            gm:cc:mskGrpDevice.ERES
devEncoderDeadBand       gm:cc:mskGrpDevice.EDBD



