#
# DHS Test Commander
# Grating lifter device configuration file
#

lifterDownValve          gm:cc:grDownValve.VAL
lifterUpValve            gm:cc:grUpValve.VAL

lifterCommand            gm:cc:grLifter.A
lifterProcess            gm:cc:grLifter.PROC
lifterAck                gm:cc:grLifter.VAL
lifterInterlock          gm:cc:grLifter.D
lifterState              gm:cc:grLifterState.VAL
lifterMess               gm:cc:grLifter.VALF
