#
# DHS Test Commander
# Mask Environment status configuration
#

cassetteMissing                 gm:cc:mskNotCassette.VAL
slotMisaligned                  gm:cc:mskNotAligned.VAL
slotEmpty                       gm:cc:mskNotInSlot.VAL
fpEmpty                         gm:cc:mskNotInFp.VAL
maskNotDetected                 gm:cc:mskMaskNotIn.VAL
ifuNotDetected                  gm:cc:mskIfuNotIn.VAL

gripNotGripped                  gm:cc:mskGrpNotGripped.VAL
gripNotReleased                 gm:cc:mskGrpNotReleased.VAL

lockNotEngaged                  gm:cc:mskRelNotLocked.VAL
lockNotReleased                 gm:cc:mskRelNotReleased.VAL

barcodeId                       gm:cc:1barcode.VAL

lvdtZone                        gm:cc:mskLvdtZones.VALA
lvdtVal                         gm:cc:mskLvdt.VAL
lvdtLo                          gm:cc:mskExtAtLvdtLo.VAL
lvdtGrpLo                       gm:cc:mskExtAtGrpLo.VAL
lvdtGrpHi                       gm:cc:mskExtAtGrpHi.VAL
lvdtRelLo                       gm:cc:mskExtAtRelLo.VAL
lvdtRelHi                       gm:cc:mskExtAtRelHi.VAL

releasePosition                 gm:cc:mskSwitchWord.VALB
gripperPosition                 gm:cc:mskSwitchWord.VALC

optSensorVal                    gm:cc:optsensorEnable.VAL
optSensorDelay                  gm:cc:mskAssembly.SIM
