#
# DHS Test Commander
# Template configuration file for assembly record
#

assemblyDirective           gm:cc:mskAssembly.DIR
assemblyMode                gm:cc:mskAssembly.MODE

assemblyAAttribute          gm:cc:mskAssembly.A
assemblyBAttribute          gm:cc:mskAssembly.B
assemblyCAttribute          gm:cc:mskAssembly.C
assemblyDAttribute          gm:cc:mskAssembly.D
assemblyEAttribute          gm:cc:mskAssembly.E

assemblyAttributeAMin       gm:cc:mskAssembly.AALL
assemblyAttributeAMax       gm:cc:mskAssembly.AAHL
assemblyAttributeBMin       gm:cc:mskAssembly.ABLL
assemblyAttributeBMax       gm:cc:mskAssembly.ABHL
assemblyAttributeCMin       gm:cc:mskAssembly.ACLL
assemblyAttributeCMax       gm:cc:mskAssembly.ACHL
assemblyAttributeDMin       gm:cc:mskAssembly.ADLL
assemblyAttributeDMax       gm:cc:mskAssembly.ADHL
assemblyAttributeEMin       gm:cc:mskAssembly.AELL
assemblyAttributeEMax       gm:cc:mskAssembly.AEHL

assemblySimulation          gm:cc:mskAssembly.SIMM
assemblyDebug               gm:cc:mskAssembly.DBUG

assemblyTranslationFile	    gm:cc:mskAssembly.TFIL
assemblyTranslationDir      gm:cc:mskAssembly.TDIR

assemblyAcknowledge         gm:cc:mskAssembly.VAL
assemblyBusy                gm:cc:mskC.VAL
assemblyMessage             gm:cc:mskAssembly.MESS

assemblyAValue              gm:cc:mskAssembly.VALA
assemblyBValue              gm:cc:mskAssembly.VALB
assemblyCValue              gm:cc:mskAssembly.VALC
assemblyDValue              gm:cc:mskAssembly.VALD
assemblyEValue              gm:cc:mskAssembly.VALE

assemblyInitialized         gm:cc:mskAssembly.INIT
assemblyIndexed             gm:cc:mskAssembly.INDX
assemblyParked              gm:cc:mskAssembly.PARK

assemblyHealth              gm:cc:mskAssembly.HLTH

