#
# DHS Test Commander
# Pickoff device configuration file
#

deviceDirective             gm:wfs:probePkoDevice.DIR
deviceMode                  gm:wfs:probePkoDevice.MODE

deviceTarget                gm:wfs:probePkoDevice.VAL
deviceNamedTarget           gm:wfs:probePkoDevice.VALS
deviceVelocity              gm:wfs:probePkoDevice.VELO
deviceAcceleration          gm:wfs:probePkoDevice.ACCL
deviceIndexType             gm:wfs:probePkoDevice.IALG

deviceMinPosition           gm:wfs:probePkoDevice.PLLM
deviceMaxPosition           gm:wfs:probePkoDevice.PHLM
deviceMinVelocity           gm:wfs:probePkoDevice.VLLM
deviceMaxVelocity           gm:wfs:probePkoDevice.VHLM

deviceSimulation            gm:wfs:probePkoDevice.SIMM
deviceDebug                 gm:wfs:probePkoDevice.DBUG

deviceTranslationFile       gm:wfs:probePkoDevice.TFIL
deviceTranslationDirectory  gm:wfs:probePkoDevice.TDIR

deviceAcknowledge           gm:wfs:probePkoDevice.ACK
deviceBusy                  gm:wfs:probePkoDevice.BUSY
deviceMessage               gm:wfs:probePkoDevice.MESS

deviceIndexed               gm:wfs:probePkoDevice.HPVL

devicePosition              gm:wfs:probePkoDevice.MPOS
deviceRawTarget             gm:wfs:probePkoDevice.RPOS
deviceRawPosition           gm:wfs:probePkoDevice.RRBV
deviceEncoderPosition       gm:wfs:probePkoDevice.RENC
deviceState                 gm:wfs:probePkoDevice.MIP
devicePower                 gm:wfs:probePkoDevice.PSTA
deviceBrake                 gm:wfs:probePkoDevice.BSTA
