#
# DHS Test Commander
# Template configuration file for post FP ICD checkout
#

filterDirective           gm:cc:fltAssembly.DIR
filterMode                gm:cc:fltAssembly.MODE

filter1                   gm:cc:fltAssembly.A
filter2                   gm:cc:fltAssembly.B
filterInposBroken         gm:cc:fltAssembly.C
filterUpdateFast          gm:cc:fltAssembly.D

filterAcknowledge         gm:cc:fltAssembly.VAL
filterBusy                gm:cc:fltC.VAL
filterMessage             gm:cc:fltAssembly.MESS
filterState               gm:cc:fltAssembly.ASTA
filterCarMess             gm:cc:fltC.OMSS
filterCarErr              gm:cc:fltC.OERR

sadFilterId1              gm:sad:cc:fltID1.VAL
sadFilterId2              gm:sad:cc:fltID2.VAL
sadFilterInitialized      gm:sad:cc:fltInit.VAL
sadFilterIndexed          gm:sad:cc:fltIndex.VAL
sadFilterParked           gm:sad:cc:fltPark.VAL
sadFilterHealth           gm:sad:cc:fltHealth.VAL
sadFilterDebug            gm:sad:cc:fltDebug.VAL
sadFilterSimulate         gm:sad:cc:fltSimulate.VAL
sadFilterState            gm:sad:cc:fltState.VAL

gratingDirective           gm:cc:grAssembly.DIR
gratingMode                gm:cc:grAssembly.MODE

gratingSelectOnly          gm:cc:grAssembly.A
gratingId                  gm:cc:grAssembly.B
gratingTilt                gm:cc:grAssembly.C

gratingAcknowledge         gm:cc:grAssembly.VAL
gratingBusy                gm:cc:grC.VAL
gratingMessage             gm:cc:grAssembly.MESS
gratingState               gm:cc:grAssembly.ASTA
gratingCarMess             gm:cc:grC.OMSS
gratingCarErr              gm:cc:grC.OERR

sadGratingId               gm:sad:cc:grID.VAL
sadGratingTilt             gm:sad:cc:grTilt.VAL
sadGratingInitialized      gm:sad:cc:grInit.VAL
sadGratingInBeam           gm:sad:cc:grInBeam.VAL
sadGratingIndexed          gm:sad:cc:grIndex.VAL
sadGratingParked           gm:sad:cc:grPark.VAL
sadGratingHealth           gm:sad:cc:grHealth.VAL
sadGratingDebug            gm:sad:cc:grDebug.VAL
sadGratingSimulate         gm:sad:cc:grSimulate.VAL
sadGratingState            gm:sad:cc:grState.VAL

translationDirective       gm:cc:dtaAssembly.DIR
translationMode            gm:cc:dtaAssembly.MODE

translationX               gm:cc:dtaAssembly.A
translationY               gm:cc:dtaAssembly.B
translationZ               gm:cc:dtaAssembly.C
translationLut             gm:cc:dtaAssembly.D

translationAcknowledge     gm:cc:dtaAssembly.VAL
translationBusy            gm:cc:dtaC.VAL
translationMessage         gm:cc:dtaAssembly.MESS
translationState           gm:cc:dtaAssembly.ASTA
translationCarMess         gm:cc:dtaC.OMSS
translationCarErr          gm:cc:dtaC.OERR

sadXposition               gm:sad:cc:dtaX.VAL
sadYposition               gm:sad:cc:dtaY.VAL
sadZposition               gm:sad:cc:dtaZ.VAL
sadTranslationInitialized  gm:sad:cc:dtaInit.VAL
sadTranslationIndexed      gm:sad:cc:dtaIndex.VAL
sadTranslationParked       gm:sad:cc:dtaPark.VAL
sadTranslationHealth       gm:sad:cc:dtaHealth.VAL
sadTranslationDebug        gm:sad:cc:dtaDebug.VAL
sadTranslationSimulate     gm:sad:cc:dtaSimulate.VAL
sadTranslationState        gm:sad:cc:dtaState.VAL
