#
# DHS Test Commander
# Template configuration file for ICD checkout
#

maskDirective           gm:cc:mskAssembly.DIR
maskMode                gm:cc:mskAssembly.MODE
maskDebug               gm:cc:mskAssembly.DBUG

maskTarget              gm:cc:mskAssembly.A
maskLocation            gm:cc:mskAssembly.B
maskPark                gm:cc:mskAssembly.C
maskExtFast             gm:cc:mskAssembly.D
maskExtSlow             gm:cc:mskAssembly.E

maskAcknowledge         gm:cc:mskAssembly.VAL
maskBusy                gm:cc:mskC.VAL
maskMessage             gm:cc:mskAssembly.MESS
maskState               gm:cc:mskAssembly.ASTA
maskCarMess             gm:cc:mskC.OMSS
maskCarErr              gm:cc:mskC.OERR

sadMaskLoadId           gm:sad:cc:mskID.VAL
sadMaskLocation         gm:sad:cc:mskLoc.VAL
sadMaskParkLoc          gm:sad:cc:mskParkCas.VAL 
sadMaskInitialized      gm:sad:cc:mskInit.VAL
sadMaskIndexed          gm:sad:cc:mskIndex.VAL
sadMaskParked           gm:sad:cc:mskPark.VAL
sadMaskHealth           gm:sad:cc:mskHealth.VAL
sadMaskFP               gm:sad:cc:mskFP.VAL
sadMaskDebug            gm:sad:cc:mskDebug.VAL
sadMaskSimulate         gm:sad:cc:mskSimulate.VAL
sadMaskState            gm:sad:cc:mskState.VAL

sadCassetteLimit        gm:sad:cc:mskCasLim.VAL
sadMaskGripper          gm:sad:cc:mskGripper.VAL
sadMaskRelease          gm:sad:cc:mskRelease.VAL

