#
# DHS Test Commander
# Release device configuration file
#

devDir                   gm:cc:mskRelDevice.DIR
devMode                  gm:cc:mskRelDevice.MODE

devTarget                gm:cc:mskRelDevice.VAL
devNamedTarget           gm:cc:mskRelDevice.VALS
devVelocity              gm:cc:mskRelDevice.VELO
devAcceleration          gm:cc:mskRelDevice.ACCL
devIndexType             gm:cc:mskRelDevice.IALG

devMinPosition           gm:cc:mskRelDevice.PLLM
devMaxPosition           gm:cc:mskRelDevice.PHLM
devMinVelocity           gm:cc:mskRelDevice.VLLM
devMaxVelocity           gm:cc:mskRelDevice.VHLM

devSimm                  gm:cc:mskRelDevice.SIMM
devDbug                  gm:cc:mskRelDevice.DBUG

devLutFile               gm:cc:mskRelDevice.TFIL
devLutDirectory          gm:cc:mskRelDevice.TDIR
devDevType               gm:cc:mskRelDevice.DTYP

devAck                   gm:cc:mskRelDevice.ACK
devBusy                  gm:cc:mskRelDevice.BUSY
devMess                  gm:cc:mskRelDevice.MESS

devIndexed               gm:cc:mskRelDevice.HPVL
devLimited               gm:cc:mskRelDevice.LSWA

devPosition              gm:cc:mskRelDevice.MPOS
devRawTarget             gm:cc:mskRelDevice.RPOS
devRawPosition           gm:cc:mskRelDevice.RRBV
devEncoderPosition       gm:cc:mskRelDevice.RENC
devState                 gm:cc:mskRelDevice.MIP
devPower                 gm:cc:mskRelDevice.PSTA
devBrake                 gm:cc:mskRelDevice.BSTA

devEgu                   gm:cc:mskRelDevice.EGU
devMotorRes              gm:cc:mskRelDevice.MRES
devMotionDeadBand        gm:cc:mskRelDevice.MDBD
devBaseVelo              gm:cc:mskRelDevice.VBAS
devUsePwrStatus          gm:cc:mskRelDevice.UPSB
devPwrStatusTimeout      gm:cc:mskRelDevice.PTMO
devUseBrkStatus          gm:cc:mskRelDevice.UBSB
devBrkStatusTimeout      gm:cc:mskRelDevice.BTMO
devUseAuxPwr             gm:cc:mskRelDevice.UAPB
devUseEncoder            gm:cc:mskRelDevice.UEIP
devEncoderRes            gm:cc:mskRelDevice.ERES
devEncoderDeadBand       gm:cc:mskRelDevice.EDBD



