#
# DHS Test Commander
# Translation Z axis device configuration file
#

devDir                   gm:cc:dta3Device.DIR
devMode                  gm:cc:dta3Device.MODE

devTarget                gm:cc:dta3Device.VAL
devNamedTarget           gm:cc:dta3Device.VALS
devVelocity              gm:cc:dta3Device.VELO
devAcceleration          gm:cc:dta3Device.ACCL
devIndexType             gm:cc:dta3Device.IALG

devMinPosition           gm:cc:dta3Device.PLLM
devMaxPosition           gm:cc:dta3Device.PHLM
devMinVelocity           gm:cc:dta3Device.VLLM
devMaxVelocity           gm:cc:dta3Device.VHLM

devBaseVelo              gm:cc:dta3Device.VBAS
devFinalIndexVelo        gm:cc:dta3Device.FIVL

devSimm                  gm:cc:dta3Device.SIMM
devDbug                  gm:cc:dta3Device.DBUG

devLutFile               gm:cc:dta3Device.TFIL
devLutDirectory          gm:cc:dta3Device.TDIR
devDevType               gm:cc:dta3Device.DTYP

devAck                   gm:cc:dta3Device.ACK
devBusy                  gm:cc:dta3Device.BUSY
devMess                  gm:cc:dta3Device.MESS

devIndexed               gm:cc:dta3Device.HPVL
devLimited               gm:cc:dta3Device.LSWA

devPosition              gm:cc:dta3Device.MPOS
devRounding              gm:cc:dta3Device.MRND
devRawTarget             gm:cc:dta3Device.RPOS
devRawPosition           gm:cc:dta3Device.RRBV
devEncoderPosition       gm:cc:dta3Device.RENC
devBacklash              gm:cc:dta3Device.BLCO
devState                 gm:cc:dta3Device.MIP
devPower                 gm:cc:dta3Device.PSTA
devBrake                 gm:cc:dta3Device.BSTA

devEgu                   gm:cc:dta3Device.EGU
devMotorRes              gm:cc:dta3Device.MRES
devMotionDeadBand        gm:cc:dta3Device.MDBD
devBaseVelo              gm:cc:dta3Device.VBAS
devUsePwrStatus          gm:cc:dta3Device.UPSB
devPwrStatusTimeout      gm:cc:dta3Device.PTMO
devUseBrkStatus          gm:cc:dta3Device.UBSB
devBrkStatusTimeout      gm:cc:dta3Device.BTMO
devUseAuxPwr             gm:cc:dta3Device.UAPB
devUseEncoder            gm:cc:dta3Device.UEIP
devEncoderRes            gm:cc:dta3Device.ERES
devEncoderDeadBand       gm:cc:dta3Device.EDBD



