#
# DHS Test Commander
# Translation X axis device configuration file
#

devDir                   gm:cc:dta1Device.DIR
devMode                  gm:cc:dta1Device.MODE

devTarget                gm:cc:dta1Device.VAL
devNamedTarget           gm:cc:dta1Device.VALS
devVelocity              gm:cc:dta1Device.VELO
devAcceleration          gm:cc:dta1Device.ACCL
devIndexType             gm:cc:dta1Device.IALG

devMinPosition           gm:cc:dta1Device.PLLM
devMaxPosition           gm:cc:dta1Device.PHLM
devMinVelocity           gm:cc:dta1Device.VLLM
devMaxVelocity           gm:cc:dta1Device.VHLM

devBaseVelo              gm:cc:dta1Device.VBAS
devFinalIndexVelo        gm:cc:dta1Device.FIVL

devSimm                  gm:cc:dta1Device.SIMM
devDbug                  gm:cc:dta1Device.DBUG

devLutFile               gm:cc:dta1Device.TFIL
devLutDirectory          gm:cc:dta1Device.TDIR
devDevType               gm:cc:dta1Device.DTYP

devAck                   gm:cc:dta1Device.ACK
devBusy                  gm:cc:dta1Device.BUSY
devMess                  gm:cc:dta1Device.MESS

devIndexed               gm:cc:dta1Device.HPVL
devLimited               gm:cc:dta1Device.LSWA
devAtHome                gm:cc:dta1Device.HSWA

devPosition              gm:cc:dta1Device.MPOS
devRounding              gm:cc:dta1Device.MRND
devRawTarget             gm:cc:dta1Device.RPOS
devRawPosition           gm:cc:dta1Device.RRBV
devEncoderPosition       gm:cc:dta1Device.RENC
devBacklash              gm:cc:dta1Device.BLCO
devState                 gm:cc:dta1Device.MIP
devPower                 gm:cc:dta1Device.PSTA
devBrake                 gm:cc:dta1Device.BSTA

devEgu                   gm:cc:dta1Device.EGU
devMotorRes              gm:cc:dta1Device.MRES
devMotionDeadBand        gm:cc:dta1Device.MDBD
devBaseVelo              gm:cc:dta1Device.VBAS
devUsePwrStatus          gm:cc:dta1Device.UPSB
devPwrStatusTimeout      gm:cc:dta1Device.PTMO
devUseBrkStatus          gm:cc:dta1Device.UBSB
devBrkStatusTimeout      gm:cc:dta1Device.BTMO
devUseAuxPwr             gm:cc:dta1Device.UAPB
devUseEncoder            gm:cc:dta1Device.UEIP
devEncoderRes            gm:cc:dta1Device.ERES
devEncoderDeadBand       gm:cc:dta1Device.EDBD



