#
# DHS Test Commander
# Translation Y axis device configuration file
#

devDir                   gm:cc:dta2Device.DIR
devMode                  gm:cc:dta2Device.MODE

devTarget                gm:cc:dta2Device.VAL
devNamedTarget           gm:cc:dta2Device.VALS
devVelocity              gm:cc:dta2Device.VELO
devAcceleration          gm:cc:dta2Device.ACCL
devIndexType             gm:cc:dta2Device.IALG

devMinPosition           gm:cc:dta2Device.PLLM
devMaxPosition           gm:cc:dta2Device.PHLM
devMinVelocity           gm:cc:dta2Device.VLLM
devMaxVelocity           gm:cc:dta2Device.VHLM

devBaseVelo              gm:cc:dta2Device.VBAS
devFinalIndexVelo        gm:cc:dta2Device.FIVL

devSimm                  gm:cc:dta2Device.SIMM
devDbug                  gm:cc:dta2Device.DBUG

devLutFile               gm:cc:dta2Device.TFIL
devLutDirectory          gm:cc:dta2Device.TDIR
devDevType               gm:cc:dta2Device.DTYP

devAck                   gm:cc:dta2Device.ACK
devBusy                  gm:cc:dta2Device.BUSY
devMess                  gm:cc:dta2Device.MESS

devIndexed               gm:cc:dta2Device.HPVL
devLimited               gm:cc:dta2Device.LSWA
devAtHome                gm:cc:dta2Device.HSWA

devPosition              gm:cc:dta2Device.MPOS
devRounding              gm:cc:dta2Device.MRND
devRawTarget             gm:cc:dta2Device.RPOS
devRawPosition           gm:cc:dta2Device.RRBV
devEncoderPosition       gm:cc:dta2Device.RENC
devBacklash              gm:cc:dta2Device.BLCO
devState                 gm:cc:dta2Device.MIP
devPower                 gm:cc:dta2Device.PSTA
devBrake                 gm:cc:dta2Device.BSTA

devEgu                   gm:cc:dta2Device.EGU
devMotorRes              gm:cc:dta2Device.MRES
devMotionDeadBand        gm:cc:dta2Device.MDBD
devBaseVelo              gm:cc:dta2Device.VBAS
devUsePwrStatus          gm:cc:dta2Device.UPSB
devPwrStatusTimeout      gm:cc:dta2Device.PTMO
devUseBrkStatus          gm:cc:dta2Device.UBSB
devBrkStatusTimeout      gm:cc:dta2Device.BTMO
devUseAuxPwr             gm:cc:dta2Device.UAPB
devUseEncoder            gm:cc:dta2Device.UEIP
devEncoderRes            gm:cc:dta2Device.ERES
devEncoderDeadBand       gm:cc:dta2Device.EDBD



