#
# DHS Test Commander
# Template configuration file for translation assembly record
#

assemblyDirective           gm:cc:dtaAssembly.DIR
assemblyMode                gm:cc:dtaAssembly.MODE

assemblyAAttribute          gm:cc:dtaAssembly.A
assemblyBAttribute          gm:cc:dtaAssembly.B
assemblyCAttribute          gm:cc:dtaAssembly.C
assemblyDAttribute          gm:cc:dtaAssembly.D
assemblyEAttribute          gm:cc:dtaAssembly.E

assemblyAttributeAMin       gm:cc:dtaAssembly.AALL
assemblyAttributeAMax       gm:cc:dtaAssembly.AAHL
assemblyAttributeBMin       gm:cc:dtaAssembly.ABLL
assemblyAttributeBMax       gm:cc:dtaAssembly.ABHL
assemblyAttributeCMin       gm:cc:dtaAssembly.ACLL
assemblyAttributeCMax       gm:cc:dtaAssembly.ACHL
assemblyAttributeDMin       gm:cc:dtaAssembly.ADLL
assemblyAttributeDMax       gm:cc:dtaAssembly.ADHL
assemblyAttributeEMin       gm:cc:dtaAssembly.AELL
assemblyAttributeEMax       gm:cc:dtaAssembly.AEHL

assemblySimulation          gm:cc:dtaAssembly.SIMM
assemblyDebug               gm:cc:dtaAssembly.DBUG

assemblyTranslationFile	    gm:cc:dtaAssembly.TFIL
assemblyTranslationDir      gm:cc:dtaAssembly.TDIR

assemblyAcknowledge         gm:cc:dtaAssembly.VAL
assemblyBusy                gm:cc:dtaC.VAL
assemblyMessage             gm:cc:dtaAssembly.MESS

assemblyAValue              gm:cc:dtaAssembly.VALA
assemblyBValue              gm:cc:dtaAssembly.VALB
assemblyCValue              gm:cc:dtaAssembly.VALC
assemblyDValue              gm:cc:dtaAssembly.VALD
assemblyEValue              gm:cc:dtaAssembly.VALE

assemblyInitialized         gm:cc:dtaAssembly.INIT
assemblyIndexed             gm:cc:dtaAssembly.INDX
assemblyParked              gm:cc:dtaAssembly.PARK

assemblyHealth              gm:cc:dtaAssembly.HLTH

