#
# DHS Test Commander
# Template configuration file for assembly record
#

assemblyDirective           gm:wfs:probeAssembly.DIR
assemblyMode                gm:wfs:probeAssembly.MODE

assemblyAAttribute          gm:wfs:probeAssembly.A
assemblyBAttribute          gm:wfs:probeAssembly.B
assemblyCAttribute          gm:wfs:probeAssembly.C
assemblyDAttribute          gm:wfs:probeAssembly.D
assemblyEAttribute          gm:wfs:probeAssembly.E

assemblyAttributeAMin       gm:wfs:probeAssembly.AALL
assemblyAttributeAMax       gm:wfs:probeAssembly.AAHL
assemblyAttributeBMin       gm:wfs:probeAssembly.ABLL
assemblyAttributeBMax       gm:wfs:probeAssembly.ABHL
assemblyAttributeCMin       gm:wfs:probeAssembly.ACLL
assemblyAttributeCMax       gm:wfs:probeAssembly.ACHL
assemblyAttributeDMin       gm:wfs:probeAssembly.ADLL
assemblyAttributeDMax       gm:wfs:probeAssembly.ADHL
assemblyAttributeEMin       gm:wfs:probeAssembly.AELL
assemblyAttributeEMax       gm:wfs:probeAssembly.AEHL

assemblySimulation          gm:wfs:probeAssembly.SIMM
assemblyDebug               gm:wfs:probeAssembly.DBUG

assemblyLutFile             gm:wfs:probeAssembly.TFIL
assemblyLutDir              gm:wfs:probeAssembly.TDIR
assemblyNumberOfDevices     gm:wfs:probeAssembly.NMDV
assemblyDevType             gm:wfs:probeAssembly.DTYP

assemblyAcknowledge         gm:wfs:probeAssembly.VAL
assemblyBusy                gm:wfs:probeAssembly.BUSY
assemblyMessage             gm:wfs:probeAssembly.MESS

assemblyAValue              gm:wfs:probeAssembly.VALA
assemblyBValue              gm:wfs:probeAssembly.VALB
assemblyCValue              gm:wfs:probeAssembly.VALC
assemblyDValue              gm:wfs:probeAssembly.VALD
assemblyEValue              gm:wfs:probeAssembly.VALE

assemblyState               gm:wfs:probeAssembly.ASTA
assemblyInitialized         gm:wfs:probeAssembly.INIT
assemblyIndexed             gm:wfs:probeAssembly.INDX
assemblyParked              gm:wfs:probeAssembly.PARK

assemblyHealth              gm:wfs:probeAssembly.HLTH

