#  WARNING, this one won't work until the transform target stuff
#  is fixed
# DHS Test Commander configuration file
#

# X/Y Limits
wfsXMax              gm:wfs:probePatrolXHiLim
wfsXMin              gm:wfs:probePatrolXLoLim
wfsYMax              gm:wfs:probePatrolYHiLim
wfsYMin              gm:wfs:probePatrolYLoLim

# Telescope Coordinate targets
wfsTXTarget          gm:wfs:probeTransformTarget.A
wfsTYTarget          gm:wfs:probeTransformTarget.B
wfsConvert           gm:wfs:probeTransformTarget.PROC

# Mask Coordinate current positions from incremental encoders
wfsMXPos             gm:wfs:probeCalcPosition.VALA
wfsMYPos             gm:wfs:probeCalcPosition.VALB

# Base/Pickoff current positions from absolute encoders
wfsBasAbs            gm:wfs:probeAbsAngles.VALA
wfsPkoAbs            gm:wfs:probeAbsAngles.VALB
wfsAbsBaseZero       gm:wfs:probeBaseZero.VAL
wfsAbsPickoffZero    gm:wfs:probePickoffZero.VAL

# activeC Car
wfsActiveC           gm:wfs:probeCommandResponse.VAL

#
# Commands
#

# Datum Command
wfsDatumDir          gm:wfs:datum.DIR
wfsDatumAck          gm:wfs:datum.VAL
wfsDatumMess         gm:wfs:datum.MESS

# Follow Command
wfsFollowDir         gm:wfs:follow.DIR
wfsFollowAck         gm:wfs:follow.VAL
wfsFollowMess        gm:wfs:follow.MESS
wfsFollowCar         gm:wfs:activeC.VAL
wfsFollowState       gm:wfs:followState.VAL

# Init Command
wfsInitDir           gm:wfs:init.DIR
wfsInitAck           gm:wfs:init.VAL
wfsInitMess          gm:wfs:init.MESS

# Move Command
wfsMoveDir           gm:wfs:move.DIR
wfsMoveAck           gm:wfs:move.VAL
wfsMoveMess          gm:wfs:move.MESS
wfsMoveCar           gm:wfs:activeC.VAL
wfsMoveXTarget       gm:wfs:move.A
wfsMoveYTarget       gm:wfs:move.B
wfsMoveXLoLim        gm:wfs:move.C
wfsMoveXHiLim        gm:wfs:move.D
wfsMoveYLoLim        gm:wfs:move.E
wfsMoveYHiLim        gm:wfs:move.F

# Park Command
wfsParkDir           gm:wfs:park.DIR
wfsParkAck           gm:wfs:park.VAL
wfsParkMess          gm:wfs:park.MESS

# Stop Command
wfsStopDir           gm:wfs:stop.DIR
wfsStopAck           gm:wfs:stop.VAL
wfsStopMess          gm:wfs:stop.MESS
wfsStopCar           gm:wfs:activeC.VAL

# Test Command
wfsTestDir           gm:wfs:test.DIR
wfsTestAck           gm:wfs:test.VAL
wfsTestMess          gm:wfs:test.MESS

# Tolerance Command
wfsToleranceDir      gm:wfs:tolerance.DIR
wfsToleranceAck      gm:wfs:tolerance.VAL
wfsToleranceMess     gm:wfs:tolerance.MESS
wfsToleranceCar      gm:wfs:toleranceCar.VAL
wfsToleranceTarget   gm:wfs:tolerance.A
wfsToleranceLoLim    gm:wfs:tolerance.B
wfsToleranceHiLim    gm:wfs:tolerance.C
wfsToleranceVal      gm:wfs:tolerance.VALA


