#
# DHS Test Commander
# Pickoff device configuration file
#

deviceDirective             g7:wfs:probeBasDevice.DIR
deviceMode                  g7:wfs:probeBasDevice.MODE

deviceTarget                g7:wfs:probeBasDevice.VAL
deviceNamedTarget           g7:wfs:probeBasDevice.VALS
deviceVelocity              g7:wfs:probeBasDevice.VELO
deviceAcceleration          g7:wfs:probeBasDevice.ACCL
deviceIndexType             g7:wfs:probeBasDevice.IALG

deviceMinPosition           g7:wfs:probeBasDevice.PLLM
deviceMaxPosition           g7:wfs:probeBasDevice.PHLM
deviceMinVelocity           g7:wfs:probeBasDevice.VLLM
deviceMaxVelocity           g7:wfs:probeBasDevice.VHLM

deviceSimulation            g7:wfs:probeBasDevice.SIMM
deviceDebug                 g7:wfs:probeBasDevice.DBUG

deviceTranslationFile       g7:wfs:probeBasDevice.TFIL
deviceTranslationDirectory  g7:wfs:probeBasDevice.TDIR

deviceAcknowledge           g7:wfs:probeBasDevice.ACK
deviceBusy                  g7:wfs:probeBasDevice.BUSY
deviceMessage               g7:wfs:probeBasDevice.MESS

deviceIndexed               g7:wfs:probeBasDevice.HPVL

devicePosition              g7:wfs:probeBasDevice.MPOS
deviceRawTarget             g7:wfs:probeBasDevice.RPOS
deviceRawPosition           g7:wfs:probeBasDevice.RRBV
deviceEncoderPosition       g7:wfs:probeBasDevice.RENC
deviceState                 g7:wfs:probeBasDevice.MIP
devicePower                 g7:wfs:probeBasDevice.PSTA
deviceBrake                 g7:wfs:probeBasDevice.BSTA

