#
# DHS Test Commander
# Cassette device configuration file
#

cassetteDevice           g7:cc:mskCasDevice

devDir                   g7:cc:mskCasDevice.DIR
devMode                  g7:cc:mskCasDevice.MODE

devTarget                g7:cc:mskCasDevice.VAL
devNamedTarget           g7:cc:mskCasDevice.VALS
devVelocity              g7:cc:mskCasDevice.VELO
devAcceleration          g7:cc:mskCasDevice.ACCL
devIndexType             g7:cc:mskCasDevice.IALG

devMinPosition           g7:cc:mskCasDevice.PLLM
devMaxPosition           g7:cc:mskCasDevice.PHLM
devMinVelocity           g7:cc:mskCasDevice.VLLM
devMaxVelocity           g7:cc:mskCasDevice.VHLM

devSimm                  g7:cc:mskCasDevice.SIMM
devDbug                  g7:cc:mskCasDevice.DBUG

devLutFile               g7:cc:mskCasDevice.TFIL
devLutDirectory          g7:cc:mskCasDevice.TDIR
devDevType               g7:cc:mskCasDevice.DTYP

devAck                   g7:cc:mskCasDevice.ACK
devBusy                  g7:cc:mskCasDevice.BUSY
devMess                  g7:cc:mskCasDevice.MESS

devIndexed               g7:cc:mskCasDevice.HPVL
devLimited               g7:cc:mskCasDevice.LSWA

devPosition              g7:cc:mskCasDevice.MPOS
devRawTarget             g7:cc:mskCasDevice.RPOS
devRawPosition           g7:cc:mskCasDevice.RRBV
devEncoderPosition       g7:cc:mskCasDevice.RENC
devState                 g7:cc:mskCasDevice.MIP
devPower                 g7:cc:mskCasDevice.PSTA
devBrake                 g7:cc:mskCasDevice.BSTA

devEgu                   g7:cc:mskCasDevice.EGU
devMotorRes              g7:cc:mskCasDevice.MRES
devMotionDeadBand        g7:cc:mskCasDevice.MDBD
devBaseVelo              g7:cc:mskCasDevice.VBAS
devUsePwrStatus          g7:cc:mskCasDevice.UPSB
devPwrStatusTimeout      g7:cc:mskCasDevice.PTMO
devUseBrkStatus          g7:cc:mskCasDevice.UBSB
devBrkStatusTimeout      g7:cc:mskCasDevice.BTMO
devUseAuxPwr             g7:cc:mskCasDevice.UAPB
devUseEncoder            g7:cc:mskCasDevice.UEIP
devEncoderRes            g7:cc:mskCasDevice.ERES
devEncoderDeadBand       g7:cc:mskCasDevice.EDBD



