#
# DHS Test Commander
# Extractor device configuration file
#

devDir                   g7:cc:mskExtDevice.DIR
devMode                  g7:cc:mskExtDevice.MODE

devTarget                g7:cc:mskExtDevice.VAL
devNamedTarget           g7:cc:mskExtDevice.VALS
devVelocity              g7:cc:mskExtDevice.VELO
devAcceleration          g7:cc:mskExtDevice.ACCL
devIndexType             g7:cc:mskExtDevice.IALG

devMinPosition           g7:cc:mskExtDevice.PLLM
devMaxPosition           g7:cc:mskExtDevice.PHLM
devMinVelocity           g7:cc:mskExtDevice.VLLM
devMaxVelocity           g7:cc:mskExtDevice.VHLM

devSimm                  g7:cc:mskExtDevice.SIMM
devDbug                  g7:cc:mskExtDevice.DBUG

devLutFile               g7:cc:mskExtDevice.TFIL
devLutDirectory          g7:cc:mskExtDevice.TDIR
devDevType               g7:cc:mskExtDevice.DTYP

devAck                   g7:cc:mskExtDevice.ACK
devBusy                  g7:cc:mskExtDevice.BUSY
devMess                  g7:cc:mskExtDevice.MESS

devIndexed               g7:cc:mskExtDevice.HPVL
devLimited               g7:cc:mskExtDevice.LSWA

devPosition              g7:cc:mskExtDevice.MPOS
devRawTarget             g7:cc:mskExtDevice.RPOS
devRawPosition           g7:cc:mskExtDevice.RRBV
devEncoderPosition       g7:cc:mskExtDevice.RENC
devState                 g7:cc:mskExtDevice.MIP
devPower                 g7:cc:mskExtDevice.PSTA
devBrake                 g7:cc:mskExtDevice.BSTA

devEgu                   g7:cc:mskExtDevice.EGU
devMotorRes              g7:cc:mskExtDevice.MRES
devMotionDeadBand        g7:cc:mskExtDevice.MDBD
devBaseVelo              g7:cc:mskExtDevice.VBAS
devUsePwrStatus          g7:cc:mskExtDevice.UPSB
devPwrStatusTimeout      g7:cc:mskExtDevice.PTMO
devUseBrkStatus          g7:cc:mskExtDevice.UBSB
devBrkStatusTimeout      g7:cc:mskExtDevice.BTMO
devUseAuxPwr             g7:cc:mskExtDevice.UAPB
devUseEncoder            g7:cc:mskExtDevice.UEIP
devEncoderRes            g7:cc:mskExtDevice.ERES
devEncoderDeadBand       g7:cc:mskExtDevice.EDBD



