#
# DHS Test Commander
# Filter wheel 1 device configuration file
#

devDir                   g7:cc:flt2Device.DIR
devMode                  g7:cc:flt2Device.MODE

devTarget                g7:cc:flt2Device.VAL
devNamedTarget           g7:cc:flt2Device.VALS
devVelocity              g7:cc:flt2Device.VELO
devAcceleration          g7:cc:flt2Device.ACCL
devIndexType             g7:cc:flt2Device.IALG

devMinPosition           g7:cc:flt2Device.PLLM
devMaxPosition           g7:cc:flt2Device.PHLM
devMinVelocity           g7:cc:flt2Device.VLLM
devMaxVelocity           g7:cc:flt2Device.VHLM

devBaseVelo              g7:cc:flt2Device.VBAS
devFinalIndexVelo        g7:cc:flt2Device.FIVL

devSimm                  g7:cc:flt2Device.SIMM
devDbug                  g7:cc:flt2Device.DBUG

devLutFile               g7:cc:flt2Device.TFIL
devLutDirectory          g7:cc:flt2Device.TDIR
devDevType               g7:cc:flt2Device.DTYP

devAck                   g7:cc:flt2Device.ACK
devBusy                  g7:cc:flt2Device.BUSY
devMess                  g7:cc:flt2Device.MESS

devIndexed               g7:cc:flt2Device.HPVL
devLimited               g7:cc:flt2Device.LSWA
devAtHome                g7:cc:flt2Device.HSWA

devPosition              g7:cc:flt2Device.MPOS
devRounding              g7:cc:flt2Device.MRND
devRawTarget             g7:cc:flt2Device.RPOS
devRawPosition           g7:cc:flt2Device.RRBV
devEncoderPosition       g7:cc:flt2Device.RENC
devBacklash              g7:cc:flt2Device.BLCO
devState                 g7:cc:flt2Device.MIP
devPower                 g7:cc:flt2Device.PSTA
devBrake                 g7:cc:flt2Device.BSTA

devEgu                   g7:cc:flt2Device.EGU
devMotorRes              g7:cc:flt2Device.MRES
devMotionDeadBand        g7:cc:flt2Device.MDBD
devUsePwrStatus          g7:cc:flt2Device.UPSB
devPwrStatusTimeout      g7:cc:flt2Device.PTMO
devUseBrkStatus          g7:cc:flt2Device.UBSB
devBrkStatusTimeout      g7:cc:flt2Device.BTMO
devUseAuxPwr             g7:cc:flt2Device.UAPB
devUseEncoder            g7:cc:flt2Device.UEIP
devEncoderRes            g7:cc:flt2Device.ERES
devEncoderDeadBand       g7:cc:flt2Device.EDBD



