#
# DHS Test Commander
# Template configuration file for filter assembly record
#

assemblyDirective           g7:cc:fltAssembly.DIR
assemblyMode                g7:cc:fltAssembly.MODE

assemblyAAttribute          g7:cc:fltAssembly.A
assemblyBAttribute          g7:cc:fltAssembly.B
assemblyCAttribute          g7:cc:fltAssembly.C
assemblyDAttribute          g7:cc:fltAssembly.D
assemblyEAttribute          g7:cc:fltAssembly.E

assemblyAttributeAMin       g7:cc:fltAssembly.AALL
assemblyAttributeAMax       g7:cc:fltAssembly.AAHL
assemblyAttributeBMin       g7:cc:fltAssembly.ABLL
assemblyAttributeBMax       g7:cc:fltAssembly.ABHL
assemblyAttributeCMin       g7:cc:fltAssembly.ACLL
assemblyAttributeCMax       g7:cc:fltAssembly.ACHL
assemblyAttributeDMin       g7:cc:fltAssembly.ADLL
assemblyAttributeDMax       g7:cc:fltAssembly.ADHL
assemblyAttributeEMin       g7:cc:fltAssembly.AELL
assemblyAttributeEMax       g7:cc:fltAssembly.AEHL

assemblySimulation          g7:cc:fltAssembly.SIMM
assemblyDebug               g7:cc:fltAssembly.DBUG

assemblyTranslationFile	    g7:cc:fltAssembly.TFIL
assemblyTranslationDir      g7:cc:fltAssembly.TDIR

assemblyAcknowledge         g7:cc:fltAssembly.VAL
assemblyBusy                g7:cc:fltC.VAL
assemblyMessage             g7:cc:fltAssembly.MESS

assemblyAValue              g7:cc:fltAssembly.VALA
assemblyBValue              g7:cc:fltAssembly.VALB
assemblyCValue              g7:cc:fltAssembly.VALC
assemblyDValue              g7:cc:fltAssembly.VALD
assemblyEValue              g7:cc:fltAssembly.VALE

assemblyInitialized         g7:cc:fltAssembly.INIT
assemblyIndexed             g7:cc:fltAssembly.INDX
assemblyParked              g7:cc:fltAssembly.PARK

assemblyHealth              g7:cc:fltAssembly.HLTH

