#
# DHS Test Commander
# Filter wheel 1 device configuration file
#

devDir                   g7:cc:flt1Device.DIR
devMode                  g7:cc:flt1Device.MODE

devTarget                g7:cc:flt1Device.VAL
devNamedTarget           g7:cc:flt1Device.VALS
devVelocity              g7:cc:flt1Device.VELO
devAcceleration          g7:cc:flt1Device.ACCL
devIndexType             g7:cc:flt1Device.IALG

devMinPosition           g7:cc:flt1Device.PLLM
devMaxPosition           g7:cc:flt1Device.PHLM
devMinVelocity           g7:cc:flt1Device.VLLM
devMaxVelocity           g7:cc:flt1Device.VHLM

devBaseVelo              g7:cc:flt1Device.VBAS
devFinalIndexVelo        g7:cc:flt1Device.FIVL

devSimm                  g7:cc:flt1Device.SIMM
devDbug                  g7:cc:flt1Device.DBUG

devLutFile               g7:cc:flt1Device.TFIL
devLutDirectory          g7:cc:flt1Device.TDIR
devDevType               g7:cc:flt1Device.DTYP

devAck                   g7:cc:flt1Device.ACK
devBusy                  g7:cc:flt1Device.BUSY
devMess                  g7:cc:flt1Device.MESS

devIndexed               g7:cc:flt1Device.HPVL
devLimited               g7:cc:flt1Device.LSWA
devAtHome                g7:cc:flt1Device.HSWA

devPosition              g7:cc:flt1Device.MPOS
devRounding              g7:cc:flt1Device.MRND
devRawTarget             g7:cc:flt1Device.RPOS
devRawPosition           g7:cc:flt1Device.RRBV
devEncoderPosition       g7:cc:flt1Device.RENC
devBacklash              g7:cc:flt1Device.BLCO
devState                 g7:cc:flt1Device.MIP
devPower                 g7:cc:flt1Device.PSTA
devBrake                 g7:cc:flt1Device.BSTA

devEgu                   g7:cc:flt1Device.EGU
devMotorRes              g7:cc:flt1Device.MRES
devMotionDeadBand        g7:cc:flt1Device.MDBD
devUsePwrStatus          g7:cc:flt1Device.UPSB
devPwrStatusTimeout      g7:cc:flt1Device.PTMO
devUseBrkStatus          g7:cc:flt1Device.UBSB
devBrkStatusTimeout      g7:cc:flt1Device.BTMO
devUseAuxPwr             g7:cc:flt1Device.UAPB
devUseEncoder            g7:cc:flt1Device.UEIP
devEncoderRes            g7:cc:flt1Device.ERES
devEncoderDeadBand       g7:cc:flt1Device.EDBD



