#
# DHS Test Commander
# Template configuration file for GMOS detector controller
#
dcApplyCommand            g7:dc:apply.DIR
dcApplyAcknowledge        g7:dc:apply.VAL
dcApplyMessage            g7:dc:apply.MESS
dcApplyCarVal             g7:dc:applyC.VAL
dcApplyCarMessage         g7:dc:applyC.OMSS

dcTestCommand             g7:dc:test.DIR
dcTestAcknowledge         g7:dc:test.VAL
dcTestMessage             g7:dc:test.MESS
dcTestCarVal              g7:dc:testC.VAL
dcTestCarMessage          g7:dc:testC.OMSS

dcInitCommand             g7:dc:init.DIR
dcInitAcknowledge         g7:dc:init.VAL
dcInitMessage             g7:dc:init.MESS
dcInitMode                g7:dc:init.A
dcInitCarVal              g7:dc:initC.VAL
dcInitCarMessage          g7:dc:initC.OMSS

dcDatumCommand            g7:dc:datum.DIR
dcDatumAcknowledge        g7:dc:datum.VAL
dcDatumMessage            g7:dc:datum.MESS
dcDatumCarVal             g7:dc:datumC.VAL
dcDatumCarMessage         g7:dc:datumC.OMSS

dcParkCommand             g7:dc:park.DIR
dcParkAcknowledge         g7:dc:park.VAL
dcParkMessage             g7:dc:park.MESS
dcParkCarVal              g7:dc:parkC.VAL
dcParkCarMessage          g7:dc:parkC.OMSS

dcObserveCommand          g7:dc:observe.DIR
dcObserveAcknowledge      g7:dc:observe.VAL
dcObserveMessage          g7:dc:observe.MESS
dcObserveDataLabel        g7:dc:observe.A
dcObserveCarVal           g7:dc:observeC.VAL
dcObserveCarMessage       g7:dc:observeC.OMSS

dcPauseCommand            g7:dc:pause.DIR
dcPauseAcknowledge        g7:dc:pause.VAL
dcPauseMessage            g7:dc:pause.MESS

dcContinueCommand         g7:dc:continue.DIR
dcContinueAcknowledge     g7:dc:continue.VAL
dcContinueMessage         g7:dc:continue.MESS

dcStopCommand             g7:dc:stop.DIR
dcStopAcknowledge         g7:dc:stop.VAL
dcStopMessage             g7:dc:stop.MESS

dcAbortCommand            g7:dc:abort.DIR
dcAbortAcknowledge        g7:dc:abort.VAL
dcAbortMessage            g7:dc:abort.MESS

dcRebootCommand           g7:dc:reboot.DIR
dcRebootAcknowledge       g7:dc:reboot.VAL
dcRebootMessage           g7:dc:reboot.MESS

dcSetDhsInfoCommand       g7:dc:setDhsInfo.DIR
dcSetDhsInfoAcknowledge   g7:dc:setDhsInfo.VAL
dcSetDhsInfoMessage       g7:dc:setDhsInfo.MESS
dcSetDhsInfoQlstream      g7:dc:setDhsInfo.A
dcSetDhsInfoLifetime      g7:dc:setDhsInfo.B

dcInitWcsCommand          g7:dc:initWcs.DIR
dcInitWcsAcknowledge      g7:dc:initWcs.VAL
dcInitWcsMessage          g7:dc:initWcs.MESS
dcInitWcsChip1File        g7:dc:initWcs.A
dcInitWcsChip2File        g7:dc:initWcs.B
dcInitWcsChip3File        g7:dc:initWcs.C

dcSetWcsCommand           g7:dc:setWcs.DIR
dcSetWcsAcknowledge       g7:dc:setWcs.VAL
dcSetWcsMessage           g7:dc:setWcs.MESS
dcSetWcsParameter         g7:dc:setWcs.A

dcGensysCarVal            g7:dc:genSysC.VAL
dcGensysCarMessage        g7:dc:genSysC.OMSS

dcSetupCommand            g7:dc:dcSetup.DIR
dcSetupAcknowledge        g7:dc:dcSetup.VAL
dcSetupMessage            g7:dc:dcSetup.MESS
dcSetupTime               g7:dc:dcSetup.A
dcSetupShutter            g7:dc:dcSetup.B
dcSetupGain               g7:dc:dcSetup.C
dcSetupReadoutRate        g7:dc:dcSetup.D
dcSetupReadoutPorts       g7:dc:dcSetup.E
dcSetupFilename           g7:dc:dcSetup.F
dcSetupCarVal             g7:dc:dcSetupC.VAL
dcSetupCarMessage         g7:dc:dcSetupC.OMSS

dcRoiCommand              g7:dc:roi.DIR
dcRoiAcknowledge          g7:dc:roi.VAL
dcRoiMessage              g7:dc:roi.MESS
dcRoiX1Min                g7:dc:roi.B
dcRoiY1Min                g7:dc:roi.C
dcRoiX1Size               g7:dc:roi.D
dcRoiY1Size               g7:dc:roi.E

dcRoiX2Min                g7:dc:roi.F
dcRoiY2Min                g7:dc:roi.G
dcRoiX2Size               g7:dc:roi.H
dcRoiY2Size               g7:dc:roi.I

dcRoiX3Min                g7:dc:roi.J
dcRoiY3Min                g7:dc:roi.K
dcRoiX3Size               g7:dc:roi.L
dcRoiY3Size               g7:dc:roi.M

dcRoiX4Min                g7:dc:roi.N
dcRoiY4Min                g7:dc:roi.O
dcRoiX4Size               g7:dc:roi.P
dcRoiY4Size               g7:dc:roi.Q

dcRoiXBin                 g7:dc:roi.S
dcRoiYBin                 g7:dc:roi.T

dcInitDone                g7:dc:initDone.VAL
dcSetupDone               g7:dc:dcSetupDone.VAL
dcRoiDone                 g7:dc:roiSetupDone.VAL

sadDcState                g7:sad:dc:state.VAL
sadDcHealth               g7:sad:dc:health.VAL
sadDcDataLabel            g7:sad:dc:dataLabel.VAL
sadDcDhsHealth            g7:sad:dc:dhsHealth.VAL
sadDcShutHealth           g7:sad:dc:shutHealth.VAL
sadDcInit                 g7:sad:dc:dcInit.VAL
sadDcDetectorType         g7:sad:dc:detType.VAL
sadDcDetectorId           g7:sad:dc:detId.VAL
sadDcControllerId         g7:sad:dc:conID.VAL

sadDcPrepFlag             g7:sad:dc:prep.VAL
sadDcAcqFlag              g7:sad:dc:acq.VAL
sadDcRdoutFlag            g7:sad:dc:rdout.VAL

sadDcExposedTarget        g7:sad:dc:exposedRQ.VAL
sadDcExposedActual        g7:sad:dc:exposed.VAL
sadDcUtstart              g7:sad:dc:utstart.VAL
sadDcUtend                g7:sad:dc:utend.VAL
sadDcElapsedActual        g7:sad:dc:elapsed.VAL
sadDcDarktimeActual       g7:sad:dc:darktime.VAL
sadDcShutterActual        g7:sad:dc:shutPos.VAL

sadDcDetectorTemp         g7:sad:dc:detTemp.VAL
sadDcReadoutRate          g7:sad:dc:rdspeed.VAL
sadDcReadoutPorts         g7:sad:dc:portCnt.VAL

sadDcXBin                 g7:sad:dc:xBin.VAL
sadDcYBin                 g7:sad:dc:yBin.VAL

sadDcNumberOfRegions      g7:sad:dc:numRois.VAL
sadDcX1Min                g7:sad:dc:roi1X.VAL
sadDcY1Min                g7:sad:dc:roi1Y.VAL
sadDcX1Size               g7:sad:dc:roi1XSize.VAL
sadDcY1Size               g7:sad:dc:roi1YSize.VAL
sadDcX2Min                g7:sad:dc:roi2X.VAL
sadDcY2Min                g7:sad:dc:roi2Y.VAL
sadDcX2Size               g7:sad:dc:roi2XSize.VAL
sadDcY2Size               g7:sad:dc:roi2YSize.VAL
sadDcX3Min                g7:sad:dc:roi3X.VAL
sadDcY3Min                g7:sad:dc:roi3Y.VAL
sadDcX3Size               g7:sad:dc:roi3XSize.VAL
sadDcY3Size               g7:sad:dc:roi3YSize.VAL
sadDcX4Min                g7:sad:dc:roi4X.VAL
sadDcY4Min                g7:sad:dc:roi4Y.VAL
sadDcX4Size               g7:sad:dc:roi4XSize.VAL
sadDcY4Size               g7:sad:dc:roi4YSize.VAL
