#
# DHS Test Commander
# Template configuration file for GMOS instrument sequencer
#
isApplyCommand            g7:apply.DIR
isApplyAcknowledge        g7:apply.VAL
isApplyMessage            g7:apply.MESS
isApplyCarVal             g7:applyC.VAL
isApplyCarMessage         g7:applyC.OMSS

isTestCommand             g7:test.DIR
isTestAcknowledge         g7:test.VAL
isTestMessage             g7:test.MESS
isTestCarVal              g7:testC.VAL
isTestCarMessage          g7:testC.OMSS

isInitCommand             g7:init.DIR
isInitAcknowledge         g7:init.VAL
isInitMessage             g7:init.MESS
isInitMode                g7:init.A
isInitCarVal              g7:initC.VAL
isInitCarMessage          g7:initC.OMSS

isDatumCommand            g7:datum.DIR
isDatumAcknowledge        g7:datum.VAL
isDatumMessage            g7:datum.MESS
isDatumCarVal             g7:datumC.VAL
isDatumCarMessage         g7:datumC.OMSS

isUpdateCommand           g7:update.DIR
isUpdateAcknowledge       g7:update.VAL
isUpdateMessage           g7:update.MESS
isUpdateMode              g7:update.A
isUpdateCarVal            g7:updateC.VAL
isUpdateCarMessage        g7:updateC.OMSS

isParkCommand             g7:park.DIR
isParkAcknowledge         g7:park.VAL
isParkMessage             g7:park.MESS
isParkCarVal              g7:parkC.VAL
isParkCarMessage          g7:parkC.OMSS

isAtmTrackCommand         g7:atmTrack.DIR
isAtmTrackAcknowledge     g7:atmTrack.VAL
isAtmTrackMessage         g7:atmTrack.MESS
isAtmTrackMode            g7:atmTrack.A
isAtmTrackEnp             g7:atmTrack.B
isAtmTrackExp             g7:atmTrack.C
isAtmTrackMinWavelen      g7:atmTrack.D
isAtmTrackMaxWavelen      g7:atmTrack.E
isAtmTrackCarVal          g7:atmC.VAL
isAtmTrackCarMessage      g7:atmC.MESS

isMskPosCommand           g7:mskPos.DIR
isMskPosAcknowledge       g7:mskPos.VAL
isMskPosMessage           g7:mskPos.MESS
isMskPosMask              g7:mskPos.A
isMskPosLocation          g7:mskPos.B
isMskPosCarVal            g7:cc:mskC.VAL
isMskPosCarMessage        g7:cc:mskC.MESS
isMskNameMenu1            g7:maskCass1Select
isMskNameMenu2            g7:maskCass2Select
isMskNameMenu3            g7:maskCass3Select

isGrSelectCommand         g7:grSelect.DIR
isGrSelectAcknowledge     g7:grSelect.VAL
isGrSelectMessage         g7:grSelect.MESS
isGrSelectMode            g7:grSelect.A
isGrSelectGrating         g7:grSelect.B
isGrSelectWavelength      g7:grSelect.C
isGrSelectOrder           g7:grSelect.D
isGrSelectEffWavelen      g7:grSelect.E
isGrSelectCarVal          g7:cc:grC.VAL
isGrSelectCarMessage      g7:cc:grC.MESS
isGrNameMenu              g7:gratingSelect

isFltPosCommand           g7:fltPos.DIR
isFltPosAcknowledge       g7:fltPos.VAL
isFltPosMessage           g7:fltPos.MESS
isFltPosFilt1             g7:fltPos.A
isFltPosFilt2             g7:fltPos.B
isFltPosCarVal            g7:cc:fltC.VAL
isFltPosCarMessage        g7:cc:fltC.MESS
isFltNameMenu1            g7:filtWheel1Select
isFltNameMenu2            g7:filtWheel2Select

isDtaTrackCommand         g7:dtaTrack.DIR
isDtaTrackAcknowledge     g7:dtaTrack.VAL
isDtaTrackMessage         g7:dtaTrack.MESS
isDtaTrackMode            g7:dtaTrack.A
isDtaTrackXoff            g7:dtaTrack.B
isDtaTrackYoff            g7:dtaTrack.C
isDtaTrackZoff            g7:dtaTrack.D
isDtaTrackCarVal          g7:dtaC.VAL
isDtaTrackCarMessage      g7:dtaC.MESS

isObserveCommand          g7:observe.DIR
isObserveAcknowledge      g7:observe.VAL
isObserveMessage          g7:observe.MESS
isObserveDataLabel        g7:observe.A
isObserveCarVal           g7:observeC.VAL
isObserveCarMessage       g7:observeC.OMSS

isPauseCommand            g7:pause.DIR
isPauseAcknowledge        g7:pause.VAL
isPauseMessage            g7:pause.MESS

isContinueCommand         g7:continue.DIR
isContinueAcknowledge     g7:continue.VAL
isContinueMessage         g7:continue.MESS

isStopCommand             g7:stop.DIR
isStopAcknowledge         g7:stop.VAL
isStopMessage             g7:stop.MESS

isAbortCommand            g7:abort.DIR
isAbortAcknowledge        g7:abort.VAL
isAbortMessage            g7:abort.MESS

isRebootCommand           g7:reboot.DIR
isRebootAcknowledge       g7:reboot.VAL
isRebootMessage           g7:reboot.MESS

sadIsState                g7:sad:state.VAL
sadIsHealth               g7:sad:health.VAL
sadIsIndexed              g7:sad:cc:indexed.VAL

sadIsMskID                g7:sad:cc:mskID

sadIsGrName               g7:sad:grName
sadIsGrOrder              g7:sad:grOrder
sadIsGrEffWavelen         g7:sad:grEffWavelen
sadIsGrWavelen            g7:sad:grWavelen
sadIsGrID                 g7:sad:cc:grID

sadIsFiltName1            g7:sad:filtName1
sadIsFiltName2            g7:sad:filtName2
sadIsFltID1               g7:sad:cc:fltID1
sadIsFltID2               g7:sad:cc:fltID2

sadIsDtaX                 g7:sad:cc:dtaX
sadIsDtaY                 g7:sad:cc:dtaY
sadIsDtaZ                 g7:sad:cc:dtaZ
