#
# DHS Test Commander
# Grating turret device configuration file
#

devDir                   g7:cc:grtDevice.DIR
devMode                  g7:cc:grtDevice.MODE

devTarget                g7:cc:grtDevice.VAL
devNamedTarget           g7:cc:grtDevice.VALS
devVelocity              g7:cc:grtDevice.VELO
devAcceleration          g7:cc:grtDevice.ACCL
devIndexType             g7:cc:grtDevice.IALG

devMinPosition           g7:cc:grtDevice.PLLM
devMaxPosition           g7:cc:grtDevice.PHLM
devMinVelocity           g7:cc:grtDevice.VLLM
devMaxVelocity           g7:cc:grtDevice.VHLM

devBaseVelo              g7:cc:grtDevice.VBAS
devFinalIndexVelo        g7:cc:grtDevice.FIVL

devSimm                  g7:cc:grtDevice.SIMM
devDbug                  g7:cc:grtDevice.DBUG

devLutFile               g7:cc:grtDevice.TFIL
devLutDirectory          g7:cc:grtDevice.TDIR
devDevType               g7:cc:grtDevice.DTYP

devAck                   g7:cc:grtDevice.ACK
devBusy                  g7:cc:grtDevice.BUSY
devMess                  g7:cc:grtDevice.MESS

devIndexed               g7:cc:grtDevice.HPVL
devLimited               g7:cc:grtDevice.LSWA

devPosition              g7:cc:grtDevice.MPOS
devRounding              g7:cc:grtDevice.MRND
devRawTarget             g7:cc:grtDevice.RPOS
devRawPosition           g7:cc:grtDevice.RRBV
devEncoderPosition       g7:cc:grtDevice.RENC
devBacklash              g7:cc:grtDevice.BLCO
devState                 g7:cc:grtDevice.MIP
devPower                 g7:cc:grtDevice.PSTA
devBrake                 g7:cc:grtDevice.BSTA

devEgu                   g7:cc:grtDevice.EGU
devMotorRes              g7:cc:grtDevice.MRES
devMotionDeadBand        g7:cc:grtDevice.MDBD
devBaseVelo              g7:cc:grtDevice.VBAS
devUsePwrStatus          g7:cc:grtDevice.UPSB
devPwrStatusTimeout      g7:cc:grtDevice.PTMO
devUseBrkStatus          g7:cc:grtDevice.UBSB
devBrkStatusTimeout      g7:cc:grtDevice.BTMO
devUseAuxPwr             g7:cc:grtDevice.UAPB
devUseEncoder            g7:cc:grtDevice.UEIP
devEncoderRes            g7:cc:grtDevice.ERES
devEncoderDeadBand       g7:cc:grtDevice.EDBD

devManualPower           g7:cc:grTurretPower.VAL
