#
# DHS Test Commander
# Grating cell D device configuration file
#

devDir                   g7:cc:grDDevice.DIR
devMode                  g7:cc:grDDevice.MODE

devTarget                g7:cc:grDDevice.VAL
devNamedTarget           g7:cc:grDDevice.VALS
devVelocity              g7:cc:grDDevice.VELO
devAcceleration          g7:cc:grDDevice.ACCL
devIndexType             g7:cc:grDDevice.IALG

devMinPosition           g7:cc:grDDevice.PLLM
devMaxPosition           g7:cc:grDDevice.PHLM
devMinVelocity           g7:cc:grDDevice.VLLM
devMaxVelocity           g7:cc:grDDevice.VHLM

devBaseVelo              g7:cc:grDDevice.VBAS
devFinalIndexVelo        g7:cc:grDDevice.FIVL

devSimm                  g7:cc:grDDevice.SIMM
devDbug                  g7:cc:grDDevice.DBUG

devLutFile               g7:cc:grDDevice.TFIL
devLutDirectory          g7:cc:grDDevice.TDIR
devDevType               g7:cc:grDDevice.DTYP

devAck                   g7:cc:grDDevice.ACK
devBusy                  g7:cc:grDDevice.BUSY
devMess                  g7:cc:grDDevice.MESS

devIndexed               g7:cc:grDDevice.HPVL
devLimited               g7:cc:grDDevice.LSWA

devPosition              g7:cc:grDDevice.MPOS
devRounding              g7:cc:grDDevice.MRND
devRawTarget             g7:cc:grDDevice.RPOS
devRawPosition           g7:cc:grDDevice.RRBV
devEncoderPosition       g7:cc:grDDevice.RENC
devBacklash              g7:cc:grDDevice.BLCO
devState                 g7:cc:grDDevice.MIP
devPower                 g7:cc:grDDevice.PSTA
devBrake                 g7:cc:grDDevice.BSTA

devEgu                   g7:cc:grDDevice.EGU
devMotorRes              g7:cc:grDDevice.MRES
devMotionDeadBand        g7:cc:grDDevice.MDBD
devBaseVelo              g7:cc:grDDevice.VBAS
devUsePwrStatus          g7:cc:grDDevice.UPSB
devPwrStatusTimeout      g7:cc:grDDevice.PTMO
devUseBrkStatus          g7:cc:grDDevice.UBSB
devBrkStatusTimeout      g7:cc:grDDevice.BTMO
devUseAuxPwr             g7:cc:grDDevice.UAPB
devUseEncoder            g7:cc:grDDevice.UEIP
devEncoderRes            g7:cc:grDDevice.ERES
devEncoderDeadBand       g7:cc:grDDevice.EDBD



