#
# DHS Test Commander
# Grating cell B device configuration file
#

devDir                   g7:cc:grBDevice.DIR
devMode                  g7:cc:grBDevice.MODE

devTarget                g7:cc:grBDevice.VAL
devNamedTarget           g7:cc:grBDevice.VALS
devVelocity              g7:cc:grBDevice.VELO
devAcceleration          g7:cc:grBDevice.ACCL
devIndexType             g7:cc:grBDevice.IALG

devMinPosition           g7:cc:grBDevice.PLLM
devMaxPosition           g7:cc:grBDevice.PHLM
devMinVelocity           g7:cc:grBDevice.VLLM
devMaxVelocity           g7:cc:grBDevice.VHLM

devBaseVelo              g7:cc:grBDevice.VBAS
devFinalIndexVelo        g7:cc:grBDevice.FIVL

devSimm                  g7:cc:grBDevice.SIMM
devDbug                  g7:cc:grBDevice.DBUG

devLutFile               g7:cc:grBDevice.TFIL
devLutDirectory          g7:cc:grBDevice.TDIR
devDevType               g7:cc:grBDevice.DTYP

devAck                   g7:cc:grBDevice.ACK
devBusy                  g7:cc:grBDevice.BUSY
devMess                  g7:cc:grBDevice.MESS

devIndexed               g7:cc:grBDevice.HPVL
devLimited               g7:cc:grBDevice.LSWA

devPosition              g7:cc:grBDevice.MPOS
devRounding              g7:cc:grBDevice.MRND
devRawTarget             g7:cc:grBDevice.RPOS
devRawPosition           g7:cc:grBDevice.RRBV
devEncoderPosition       g7:cc:grBDevice.RENC
devBacklash              g7:cc:grBDevice.BLCO
devState                 g7:cc:grBDevice.MIP
devPower                 g7:cc:grBDevice.PSTA
devBrake                 g7:cc:grBDevice.BSTA

devEgu                   g7:cc:grBDevice.EGU
devMotorRes              g7:cc:grBDevice.MRES
devMotionDeadBand        g7:cc:grBDevice.MDBD
devBaseVelo              g7:cc:grBDevice.VBAS
devUsePwrStatus          g7:cc:grBDevice.UPSB
devPwrStatusTimeout      g7:cc:grBDevice.PTMO
devUseBrkStatus          g7:cc:grBDevice.UBSB
devBrkStatusTimeout      g7:cc:grBDevice.BTMO
devUseAuxPwr             g7:cc:grBDevice.UAPB
devUseEncoder            g7:cc:grBDevice.UEIP
devEncoderRes            g7:cc:grBDevice.ERES
devEncoderDeadBand       g7:cc:grBDevice.EDBD



