#
# DHS Test Commander
# Grating cell A device configuration file
#

devDir                   g7:cc:grADevice.DIR
devMode                  g7:cc:grADevice.MODE

devTarget                g7:cc:grADevice.VAL
devNamedTarget           g7:cc:grADevice.VALS
devVelocity              g7:cc:grADevice.VELO
devAcceleration          g7:cc:grADevice.ACCL
devIndexType             g7:cc:grADevice.IALG

devMinPosition           g7:cc:grADevice.PLLM
devMaxPosition           g7:cc:grADevice.PHLM
devMinVelocity           g7:cc:grADevice.VLLM
devMaxVelocity           g7:cc:grADevice.VHLM

devBaseVelo              g7:cc:grADevice.VBAS
devFinalIndexVelo        g7:cc:grADevice.FIVL

devSimm                  g7:cc:grADevice.SIMM
devDbug                  g7:cc:grADevice.DBUG

devLutFile               g7:cc:grADevice.TFIL
devLutDirectory          g7:cc:grADevice.TDIR
devDevType               g7:cc:grADevice.DTYP

devAck                   g7:cc:grADevice.ACK
devBusy                  g7:cc:grADevice.BUSY
devMess                  g7:cc:grADevice.MESS

devIndexed               g7:cc:grADevice.HPVL
devLimited               g7:cc:grADevice.LSWA

devPosition              g7:cc:grADevice.MPOS
devRounding              g7:cc:grADevice.MRND
devRawTarget             g7:cc:grADevice.RPOS
devRawPosition           g7:cc:grADevice.RRBV
devEncoderPosition       g7:cc:grADevice.RENC
devBacklash              g7:cc:grADevice.BLCO
devState                 g7:cc:grADevice.MIP
devPower                 g7:cc:grADevice.PSTA
devBrake                 g7:cc:grADevice.BSTA

devEgu                   g7:cc:grADevice.EGU
devMotorRes              g7:cc:grADevice.MRES
devMotionDeadBand        g7:cc:grADevice.MDBD
devBaseVelo              g7:cc:grADevice.VBAS
devUsePwrStatus          g7:cc:grADevice.UPSB
devPwrStatusTimeout      g7:cc:grADevice.PTMO
devUseBrkStatus          g7:cc:grADevice.UBSB
devBrkStatusTimeout      g7:cc:grADevice.BTMO
devUseAuxPwr             g7:cc:grADevice.UAPB
devUseEncoder            g7:cc:grADevice.UEIP
devEncoderRes            g7:cc:grADevice.ERES
devEncoderDeadBand       g7:cc:grADevice.EDBD



