#
# DHS Test Commander
# Grating Environment status configuration
#

gratingInPosition               g7:cc:grSwitchStates.VALA

gratingBarcodeId                g7:cc:grBarcodeString.VAL

gratingLifterUp                 g7:cc:grLifterUp.VAL
gratingLifterDown               g7:cc:grLifterDown.VAL

upstreamOk                      g7:cc:upstreamOk.VAL
downstreamOk                    g7:cc:downstreamOk.VAL

turretPowerControl              g7:cc:grTurretPower.VAL
turretPowerResponse             g7:cc:grtPower.VAL
turretPosA                      g7:cc:grTurretPosA.VAL
turretPosB                      g7:cc:grTurretPosB.VAL
turretPosC                      g7:cc:grTurretPosC.VAL
turretPosD                      g7:cc:grTurretPosD.VAL
