#
# DHS Test Commander
# Grating cell C device configuration file
#

devDir                   g7:cc:grCDevice.DIR
devMode                  g7:cc:grCDevice.MODE

devTarget                g7:cc:grCDevice.VAL
devNamedTarget           g7:cc:grCDevice.VALS
devVelocity              g7:cc:grCDevice.VELO
devAcceleration          g7:cc:grCDevice.ACCL
devIndexType             g7:cc:grCDevice.IALG

devMinPosition           g7:cc:grCDevice.PLLM
devMaxPosition           g7:cc:grCDevice.PHLM
devMinVelocity           g7:cc:grCDevice.VLLM
devMaxVelocity           g7:cc:grCDevice.VHLM

devBaseVelo              g7:cc:grCDevice.VBAS
devFinalIndexVelo        g7:cc:grCDevice.FIVL

devSimm                  g7:cc:grCDevice.SIMM
devDbug                  g7:cc:grCDevice.DBUG

devLutFile               g7:cc:grCDevice.TFIL
devLutDirectory          g7:cc:grCDevice.TDIR
devDevType               g7:cc:grCDevice.DTYP

devAck                   g7:cc:grCDevice.ACK
devBusy                  g7:cc:grCDevice.BUSY
devMess                  g7:cc:grCDevice.MESS

devIndexed               g7:cc:grCDevice.HPVL
devLimited               g7:cc:grCDevice.LSWA

devPosition              g7:cc:grCDevice.MPOS
devRounding              g7:cc:grCDevice.MRND
devRawTarget             g7:cc:grCDevice.RPOS
devRawPosition           g7:cc:grCDevice.RRBV
devEncoderPosition       g7:cc:grCDevice.RENC
devBacklash              g7:cc:grCDevice.BLCO
devState                 g7:cc:grCDevice.MIP
devPower                 g7:cc:grCDevice.PSTA
devBrake                 g7:cc:grCDevice.BSTA

devEgu                   g7:cc:grCDevice.EGU
devMotorRes              g7:cc:grCDevice.MRES
devMotionDeadBand        g7:cc:grCDevice.MDBD
devBaseVelo              g7:cc:grCDevice.VBAS
devUsePwrStatus          g7:cc:grCDevice.UPSB
devPwrStatusTimeout      g7:cc:grCDevice.PTMO
devUseBrkStatus          g7:cc:grCDevice.UBSB
devBrkStatusTimeout      g7:cc:grCDevice.BTMO
devUseAuxPwr             g7:cc:grCDevice.UAPB
devUseEncoder            g7:cc:grCDevice.UEIP
devEncoderRes            g7:cc:grCDevice.ERES
devEncoderDeadBand       g7:cc:grCDevice.EDBD



