#
# DHS Test Commander
# Grip device configuration file
#

devDir                   g7:cc:mskGrpDevice.DIR
devMode                  g7:cc:mskGrpDevice.MODE

devTarget                g7:cc:mskGrpDevice.VAL
devNamedTarget           g7:cc:mskGrpDevice.VALS
devVelocity              g7:cc:mskGrpDevice.VELO
devAcceleration          g7:cc:mskGrpDevice.ACCL
devIndexType             g7:cc:mskGrpDevice.IALG

devMinPosition           g7:cc:mskGrpDevice.PLLM
devMaxPosition           g7:cc:mskGrpDevice.PHLM
devMinVelocity           g7:cc:mskGrpDevice.VLLM
devMaxVelocity           g7:cc:mskGrpDevice.VHLM

devSimm                  g7:cc:mskGrpDevice.SIMM
devDbug                  g7:cc:mskGrpDevice.DBUG

devLutFile               g7:cc:mskGrpDevice.TFIL
devLutDirectory          g7:cc:mskGrpDevice.TDIR
devDevType               g7:cc:mskGrpDevice.DTYP

devAck                   g7:cc:mskGrpDevice.ACK
devBusy                  g7:cc:mskGrpDevice.BUSY
devMess                  g7:cc:mskGrpDevice.MESS

devIndexed               g7:cc:mskGrpDevice.HPVL
devLimited               g7:cc:mskGrpDevice.LSWA

devPosition              g7:cc:mskGrpDevice.MPOS
devRawTarget             g7:cc:mskGrpDevice.RPOS
devRawPosition           g7:cc:mskGrpDevice.RRBV
devEncoderPosition       g7:cc:mskGrpDevice.RENC
devState                 g7:cc:mskGrpDevice.MIP
devPower                 g7:cc:mskGrpDevice.PSTA
devBrake                 g7:cc:mskGrpDevice.BSTA


devEgu                   g7:cc:mskGrpDevice.EGU
devMotorRes              g7:cc:mskGrpDevice.MRES
devMotionDeadBand        g7:cc:mskGrpDevice.MDBD
devBaseVelo              g7:cc:mskGrpDevice.VBAS
devUsePwrStatus          g7:cc:mskGrpDevice.UPSB
devPwrStatusTimeout      g7:cc:mskGrpDevice.PTMO
devUseBrkStatus          g7:cc:mskGrpDevice.UBSB
devBrkStatusTimeout      g7:cc:mskGrpDevice.BTMO
devUseAuxPwr             g7:cc:mskGrpDevice.UAPB
devUseEncoder            g7:cc:mskGrpDevice.UEIP
devEncoderRes            g7:cc:mskGrpDevice.ERES
devEncoderDeadBand       g7:cc:mskGrpDevice.EDBD



