#
# DHS Test Commander
# Grating lifter device configuration file
#

lifterDownValve          g7:cc:grDownValve.VAL
lifterUpValve            g7:cc:grUpValve.VAL

lifterCommand            g7:cc:grLifter.A
lifterProcess            g7:cc:grLifter.PROC
lifterAck                g7:cc:grLifter.VAL
lifterInterlock          g7:cc:grLifter.D
lifterState              g7:cc:grLifterState.VAL
lifterMess               g7:cc:grLifter.VALF
