#
# DHS Test Commander
# Mask Environment status configuration
#

cassetteMissing                 g7:cc:mskNotCassette.VAL
slotMisaligned                  g7:cc:mskNotAligned.VAL
slotEmpty                       g7:cc:mskNotInSlot.VAL
fpEmpty                         g7:cc:mskNotInFp.VAL
maskNotDetected                 g7:cc:mskMaskNotIn.VAL
ifuNotDetected                  g7:cc:mskIfuNotIn.VAL

gripNotGripped                  g7:cc:mskGrpNotGripped.VAL
gripNotReleased                 g7:cc:mskGrpNotReleased.VAL

lockNotEngaged                  g7:cc:mskRelNotLocked.VAL
lockNotReleased                 g7:cc:mskRelNotReleased.VAL

barcodeId                       g7:cc:1barcode.VAL

lvdtZone                        g7:cc:mskLvdtZones.VALA
lvdtVal                         g7:cc:mskLvdt.VAL
lvdtLo                          g7:cc:mskExtAtLvdtLo.VAL
lvdtGrpLo                       g7:cc:mskExtAtGrpLo.VAL
lvdtGrpHi                       g7:cc:mskExtAtGrpHi.VAL
lvdtRelLo                       g7:cc:mskExtAtRelLo.VAL
lvdtRelHi                       g7:cc:mskExtAtRelHi.VAL

releasePosition                 g7:cc:mskSwitchWord.VALB
gripperPosition                 g7:cc:mskSwitchWord.VALC

optSensorVal                    g7:cc:optsensorEnable.VAL
optSensorDelay                  g7:cc:mskAssembly.SIM
