#
# DHS Test Commander
# Template configuration file for post FP ICD checkout
#

filterDirective           g7:cc:fltAssembly.DIR
filterMode                g7:cc:fltAssembly.MODE

filter1                   g7:cc:fltAssembly.A
filter2                   g7:cc:fltAssembly.B
filterInposBroken         g7:cc:fltAssembly.C
filterUpdateFast          g7:cc:fltAssembly.D

filterAcknowledge         g7:cc:fltAssembly.VAL
filterBusy                g7:cc:fltC.VAL
filterMessage             g7:cc:fltAssembly.MESS
filterState               g7:cc:fltAssembly.ASTA
filterCarMess             g7:cc:fltC.OMSS
filterCarErr              g7:cc:fltC.OERR

sadFilterId1              g7:sad:cc:fltID1.VAL
sadFilterId2              g7:sad:cc:fltID2.VAL
sadFilterInitialized      g7:sad:cc:fltInit.VAL
sadFilterIndexed          g7:sad:cc:fltIndex.VAL
sadFilterParked           g7:sad:cc:fltPark.VAL
sadFilterHealth           g7:sad:cc:fltHealth.VAL
sadFilterDebug            g7:sad:cc:fltDebug.VAL
sadFilterSimulate         g7:sad:cc:fltSimulate.VAL
sadFilterState            g7:sad:cc:fltState.VAL

gratingDirective           g7:cc:grAssembly.DIR
gratingMode                g7:cc:grAssembly.MODE

gratingSelectOnly          g7:cc:grAssembly.A
gratingId                  g7:cc:grAssembly.B
gratingTilt                g7:cc:grAssembly.C

gratingAcknowledge         g7:cc:grAssembly.VAL
gratingBusy                g7:cc:grC.VAL
gratingMessage             g7:cc:grAssembly.MESS
gratingState               g7:cc:grAssembly.ASTA
gratingCarMess             g7:cc:grC.OMSS
gratingCarErr              g7:cc:grC.OERR

sadGratingId               g7:sad:cc:grID.VAL
sadGratingTilt             g7:sad:cc:grTilt.VAL
sadGratingInitialized      g7:sad:cc:grInit.VAL
sadGratingInBeam           g7:sad:cc:grInBeam.VAL
sadGratingIndexed          g7:sad:cc:grIndex.VAL
sadGratingParked           g7:sad:cc:grPark.VAL
sadGratingHealth           g7:sad:cc:grHealth.VAL
sadGratingDebug            g7:sad:cc:grDebug.VAL
sadGratingSimulate         g7:sad:cc:grSimulate.VAL
sadGratingState            g7:sad:cc:grState.VAL

translationDirective       g7:cc:dtaAssembly.DIR
translationMode            g7:cc:dtaAssembly.MODE

translationX               g7:cc:dtaAssembly.A
translationY               g7:cc:dtaAssembly.B
translationZ               g7:cc:dtaAssembly.C
translationLut             g7:cc:dtaAssembly.D

translationAcknowledge     g7:cc:dtaAssembly.VAL
translationBusy            g7:cc:dtaC.VAL
translationMessage         g7:cc:dtaAssembly.MESS
translationState           g7:cc:dtaAssembly.ASTA
translationCarMess         g7:cc:dtaC.OMSS
translationCarErr          g7:cc:dtaC.OERR

sadXposition               g7:sad:cc:dtaX.VAL
sadYposition               g7:sad:cc:dtaY.VAL
sadZposition               g7:sad:cc:dtaZ.VAL
sadTranslationInitialized  g7:sad:cc:dtaInit.VAL
sadTranslationIndexed      g7:sad:cc:dtaIndex.VAL
sadTranslationParked       g7:sad:cc:dtaPark.VAL
sadTranslationHealth       g7:sad:cc:dtaHealth.VAL
sadTranslationDebug        g7:sad:cc:dtaDebug.VAL
sadTranslationSimulate     g7:sad:cc:dtaSimulate.VAL
sadTranslationState        g7:sad:cc:dtaState.VAL
