#
# DHS Test Commander
# Template configuration file for ICD checkout
#

maskDirective           g7:cc:mskAssembly.DIR
maskMode                g7:cc:mskAssembly.MODE
maskDebug               g7:cc:mskAssembly.DBUG

maskTarget              g7:cc:mskAssembly.A
maskLocation            g7:cc:mskAssembly.B
maskPark                g7:cc:mskAssembly.C
maskExtFast             g7:cc:mskAssembly.D
maskExtSlow             g7:cc:mskAssembly.E

maskAcknowledge         g7:cc:mskAssembly.VAL
maskBusy                g7:cc:mskC.VAL
maskMessage             g7:cc:mskAssembly.MESS
maskState               g7:cc:mskAssembly.ASTA
maskCarMess             g7:cc:mskC.OMSS
maskCarErr              g7:cc:mskC.OERR

sadMaskLoadId           g7:sad:cc:mskID.VAL
sadMaskLocation         g7:sad:cc:mskLoc.VAL
sadMaskParkLoc          g7:sad:cc:mskParkCas.VAL 
sadMaskInitialized      g7:sad:cc:mskInit.VAL
sadMaskIndexed          g7:sad:cc:mskIndex.VAL
sadMaskParked           g7:sad:cc:mskPark.VAL
sadMaskHealth           g7:sad:cc:mskHealth.VAL
sadMaskFP               g7:sad:cc:mskFP.VAL
sadMaskDebug            g7:sad:cc:mskDebug.VAL
sadMaskSimulate         g7:sad:cc:mskSimulate.VAL
sadMaskState            g7:sad:cc:mskState.VAL

sadCassetteLimit        g7:sad:cc:mskCasLim.VAL
sadMaskGripper          g7:sad:cc:mskGripper.VAL
sadMaskRelease          g7:sad:cc:mskRelease.VAL

