#
# DHS Test Commander
# Release device configuration file
#

devDir                   g7:cc:mskRelDevice.DIR
devMode                  g7:cc:mskRelDevice.MODE

devTarget                g7:cc:mskRelDevice.VAL
devNamedTarget           g7:cc:mskRelDevice.VALS
devVelocity              g7:cc:mskRelDevice.VELO
devAcceleration          g7:cc:mskRelDevice.ACCL
devIndexType             g7:cc:mskRelDevice.IALG

devMinPosition           g7:cc:mskRelDevice.PLLM
devMaxPosition           g7:cc:mskRelDevice.PHLM
devMinVelocity           g7:cc:mskRelDevice.VLLM
devMaxVelocity           g7:cc:mskRelDevice.VHLM

devSimm                  g7:cc:mskRelDevice.SIMM
devDbug                  g7:cc:mskRelDevice.DBUG

devLutFile               g7:cc:mskRelDevice.TFIL
devLutDirectory          g7:cc:mskRelDevice.TDIR
devDevType               g7:cc:mskRelDevice.DTYP

devAck                   g7:cc:mskRelDevice.ACK
devBusy                  g7:cc:mskRelDevice.BUSY
devMess                  g7:cc:mskRelDevice.MESS

devIndexed               g7:cc:mskRelDevice.HPVL
devLimited               g7:cc:mskRelDevice.LSWA

devPosition              g7:cc:mskRelDevice.MPOS
devRawTarget             g7:cc:mskRelDevice.RPOS
devRawPosition           g7:cc:mskRelDevice.RRBV
devEncoderPosition       g7:cc:mskRelDevice.RENC
devState                 g7:cc:mskRelDevice.MIP
devPower                 g7:cc:mskRelDevice.PSTA
devBrake                 g7:cc:mskRelDevice.BSTA

devEgu                   g7:cc:mskRelDevice.EGU
devMotorRes              g7:cc:mskRelDevice.MRES
devMotionDeadBand        g7:cc:mskRelDevice.MDBD
devBaseVelo              g7:cc:mskRelDevice.VBAS
devUsePwrStatus          g7:cc:mskRelDevice.UPSB
devPwrStatusTimeout      g7:cc:mskRelDevice.PTMO
devUseBrkStatus          g7:cc:mskRelDevice.UBSB
devBrkStatusTimeout      g7:cc:mskRelDevice.BTMO
devUseAuxPwr             g7:cc:mskRelDevice.UAPB
devUseEncoder            g7:cc:mskRelDevice.UEIP
devEncoderRes            g7:cc:mskRelDevice.ERES
devEncoderDeadBand       g7:cc:mskRelDevice.EDBD



