#
# DHS Test Commander
# Translation Y axis device configuration file
#

devDir                   g7:cc:dta2Device.DIR
devMode                  g7:cc:dta2Device.MODE

devTarget                g7:cc:dta2Device.VAL
devNamedTarget           g7:cc:dta2Device.VALS
devVelocity              g7:cc:dta2Device.VELO
devAcceleration          g7:cc:dta2Device.ACCL
devIndexType             g7:cc:dta2Device.IALG

devMinPosition           g7:cc:dta2Device.PLLM
devMaxPosition           g7:cc:dta2Device.PHLM
devMinVelocity           g7:cc:dta2Device.VLLM
devMaxVelocity           g7:cc:dta2Device.VHLM

devBaseVelo              g7:cc:dta2Device.VBAS
devFinalIndexVelo        g7:cc:dta2Device.FIVL

devSimm                  g7:cc:dta2Device.SIMM
devDbug                  g7:cc:dta2Device.DBUG

devLutFile               g7:cc:dta2Device.TFIL
devLutDirectory          g7:cc:dta2Device.TDIR
devDevType               g7:cc:dta2Device.DTYP

devAck                   g7:cc:dta2Device.ACK
devBusy                  g7:cc:dta2Device.BUSY
devMess                  g7:cc:dta2Device.MESS

devIndexed               g7:cc:dta2Device.HPVL
devLimited               g7:cc:dta2Device.LSWA
devAtHome                g7:cc:dta2Device.HSWA

devPosition              g7:cc:dta2Device.MPOS
devRounding              g7:cc:dta2Device.MRND
devRawTarget             g7:cc:dta2Device.RPOS
devRawPosition           g7:cc:dta2Device.RRBV
devEncoderPosition       g7:cc:dta2Device.RENC
devBacklash              g7:cc:dta2Device.BLCO
devState                 g7:cc:dta2Device.MIP
devPower                 g7:cc:dta2Device.PSTA
devBrake                 g7:cc:dta2Device.BSTA

devEgu                   g7:cc:dta2Device.EGU
devMotorRes              g7:cc:dta2Device.MRES
devMotionDeadBand        g7:cc:dta2Device.MDBD
devBaseVelo              g7:cc:dta2Device.VBAS
devUsePwrStatus          g7:cc:dta2Device.UPSB
devPwrStatusTimeout      g7:cc:dta2Device.PTMO
devUseBrkStatus          g7:cc:dta2Device.UBSB
devBrkStatusTimeout      g7:cc:dta2Device.BTMO
devUseAuxPwr             g7:cc:dta2Device.UAPB
devUseEncoder            g7:cc:dta2Device.UEIP
devEncoderRes            g7:cc:dta2Device.ERES
devEncoderDeadBand       g7:cc:dta2Device.EDBD



