#
# DHS Test Commander
# Translation X axis device configuration file
#

devDir                   g7:cc:dta1Device.DIR
devMode                  g7:cc:dta1Device.MODE

devTarget                g7:cc:dta1Device.VAL
devNamedTarget           g7:cc:dta1Device.VALS
devVelocity              g7:cc:dta1Device.VELO
devAcceleration          g7:cc:dta1Device.ACCL
devIndexType             g7:cc:dta1Device.IALG

devMinPosition           g7:cc:dta1Device.PLLM
devMaxPosition           g7:cc:dta1Device.PHLM
devMinVelocity           g7:cc:dta1Device.VLLM
devMaxVelocity           g7:cc:dta1Device.VHLM

devBaseVelo              g7:cc:dta1Device.VBAS
devFinalIndexVelo        g7:cc:dta1Device.FIVL

devSimm                  g7:cc:dta1Device.SIMM
devDbug                  g7:cc:dta1Device.DBUG

devLutFile               g7:cc:dta1Device.TFIL
devLutDirectory          g7:cc:dta1Device.TDIR
devDevType               g7:cc:dta1Device.DTYP

devAck                   g7:cc:dta1Device.ACK
devBusy                  g7:cc:dta1Device.BUSY
devMess                  g7:cc:dta1Device.MESS

devIndexed               g7:cc:dta1Device.HPVL
devLimited               g7:cc:dta1Device.LSWA
devAtHome                g7:cc:dta1Device.HSWA

devPosition              g7:cc:dta1Device.MPOS
devRounding              g7:cc:dta1Device.MRND
devRawTarget             g7:cc:dta1Device.RPOS
devRawPosition           g7:cc:dta1Device.RRBV
devEncoderPosition       g7:cc:dta1Device.RENC
devBacklash              g7:cc:dta1Device.BLCO
devState                 g7:cc:dta1Device.MIP
devPower                 g7:cc:dta1Device.PSTA
devBrake                 g7:cc:dta1Device.BSTA

devEgu                   g7:cc:dta1Device.EGU
devMotorRes              g7:cc:dta1Device.MRES
devMotionDeadBand        g7:cc:dta1Device.MDBD
devBaseVelo              g7:cc:dta1Device.VBAS
devUsePwrStatus          g7:cc:dta1Device.UPSB
devPwrStatusTimeout      g7:cc:dta1Device.PTMO
devUseBrkStatus          g7:cc:dta1Device.UBSB
devBrkStatusTimeout      g7:cc:dta1Device.BTMO
devUseAuxPwr             g7:cc:dta1Device.UAPB
devUseEncoder            g7:cc:dta1Device.UEIP
devEncoderRes            g7:cc:dta1Device.ERES
devEncoderDeadBand       g7:cc:dta1Device.EDBD



