#
# DHS Test Commander
# Translation Z axis device configuration file
#

devDir                   g7:cc:dta3Device.DIR
devMode                  g7:cc:dta3Device.MODE

devTarget                g7:cc:dta3Device.VAL
devNamedTarget           g7:cc:dta3Device.VALS
devVelocity              g7:cc:dta3Device.VELO
devAcceleration          g7:cc:dta3Device.ACCL
devIndexType             g7:cc:dta3Device.IALG

devMinPosition           g7:cc:dta3Device.PLLM
devMaxPosition           g7:cc:dta3Device.PHLM
devMinVelocity           g7:cc:dta3Device.VLLM
devMaxVelocity           g7:cc:dta3Device.VHLM

devBaseVelo              g7:cc:dta3Device.VBAS
devFinalIndexVelo        g7:cc:dta3Device.FIVL

devSimm                  g7:cc:dta3Device.SIMM
devDbug                  g7:cc:dta3Device.DBUG

devLutFile               g7:cc:dta3Device.TFIL
devLutDirectory          g7:cc:dta3Device.TDIR
devDevType               g7:cc:dta3Device.DTYP

devAck                   g7:cc:dta3Device.ACK
devBusy                  g7:cc:dta3Device.BUSY
devMess                  g7:cc:dta3Device.MESS

devIndexed               g7:cc:dta3Device.HPVL
devLimited               g7:cc:dta3Device.LSWA

devPosition              g7:cc:dta3Device.MPOS
devRounding              g7:cc:dta3Device.MRND
devRawTarget             g7:cc:dta3Device.RPOS
devRawPosition           g7:cc:dta3Device.RRBV
devEncoderPosition       g7:cc:dta3Device.RENC
devBacklash              g7:cc:dta3Device.BLCO
devState                 g7:cc:dta3Device.MIP
devPower                 g7:cc:dta3Device.PSTA
devBrake                 g7:cc:dta3Device.BSTA

devEgu                   g7:cc:dta3Device.EGU
devMotorRes              g7:cc:dta3Device.MRES
devMotionDeadBand        g7:cc:dta3Device.MDBD
devBaseVelo              g7:cc:dta3Device.VBAS
devUsePwrStatus          g7:cc:dta3Device.UPSB
devPwrStatusTimeout      g7:cc:dta3Device.PTMO
devUseBrkStatus          g7:cc:dta3Device.UBSB
devBrkStatusTimeout      g7:cc:dta3Device.BTMO
devUseAuxPwr             g7:cc:dta3Device.UAPB
devUseEncoder            g7:cc:dta3Device.UEIP
devEncoderRes            g7:cc:dta3Device.ERES
devEncoderDeadBand       g7:cc:dta3Device.EDBD



