#
# DHS Test Commander
# Template configuration file for translation assembly record
#

assemblyDirective           g7:cc:dtaAssembly.DIR
assemblyMode                g7:cc:dtaAssembly.MODE

assemblyAAttribute          g7:cc:dtaAssembly.A
assemblyBAttribute          g7:cc:dtaAssembly.B
assemblyCAttribute          g7:cc:dtaAssembly.C
assemblyDAttribute          g7:cc:dtaAssembly.D
assemblyEAttribute          g7:cc:dtaAssembly.E

assemblyAttributeAMin       g7:cc:dtaAssembly.AALL
assemblyAttributeAMax       g7:cc:dtaAssembly.AAHL
assemblyAttributeBMin       g7:cc:dtaAssembly.ABLL
assemblyAttributeBMax       g7:cc:dtaAssembly.ABHL
assemblyAttributeCMin       g7:cc:dtaAssembly.ACLL
assemblyAttributeCMax       g7:cc:dtaAssembly.ACHL
assemblyAttributeDMin       g7:cc:dtaAssembly.ADLL
assemblyAttributeDMax       g7:cc:dtaAssembly.ADHL
assemblyAttributeEMin       g7:cc:dtaAssembly.AELL
assemblyAttributeEMax       g7:cc:dtaAssembly.AEHL

assemblySimulation          g7:cc:dtaAssembly.SIMM
assemblyDebug               g7:cc:dtaAssembly.DBUG

assemblyTranslationFile	    g7:cc:dtaAssembly.TFIL
assemblyTranslationDir      g7:cc:dtaAssembly.TDIR

assemblyAcknowledge         g7:cc:dtaAssembly.VAL
assemblyBusy                g7:cc:dtaC.VAL
assemblyMessage             g7:cc:dtaAssembly.MESS

assemblyAValue              g7:cc:dtaAssembly.VALA
assemblyBValue              g7:cc:dtaAssembly.VALB
assemblyCValue              g7:cc:dtaAssembly.VALC
assemblyDValue              g7:cc:dtaAssembly.VALD
assemblyEValue              g7:cc:dtaAssembly.VALE

assemblyInitialized         g7:cc:dtaAssembly.INIT
assemblyIndexed             g7:cc:dtaAssembly.INDX
assemblyParked              g7:cc:dtaAssembly.PARK

assemblyHealth              g7:cc:dtaAssembly.HLTH

