#
# DHS Test Commander
# Template configuration file for assembly record
#

assemblyDirective           g7:wfs:probeAssembly.DIR
assemblyMode                g7:wfs:probeAssembly.MODE

assemblyAAttribute          g7:wfs:probeAssembly.A
assemblyBAttribute          g7:wfs:probeAssembly.B
assemblyCAttribute          g7:wfs:probeAssembly.C
assemblyDAttribute          g7:wfs:probeAssembly.D
assemblyEAttribute          g7:wfs:probeAssembly.E

assemblyAttributeAMin       g7:wfs:probeAssembly.AALL
assemblyAttributeAMax       g7:wfs:probeAssembly.AAHL
assemblyAttributeBMin       g7:wfs:probeAssembly.ABLL
assemblyAttributeBMax       g7:wfs:probeAssembly.ABHL
assemblyAttributeCMin       g7:wfs:probeAssembly.ACLL
assemblyAttributeCMax       g7:wfs:probeAssembly.ACHL
assemblyAttributeDMin       g7:wfs:probeAssembly.ADLL
assemblyAttributeDMax       g7:wfs:probeAssembly.ADHL
assemblyAttributeEMin       g7:wfs:probeAssembly.AELL
assemblyAttributeEMax       g7:wfs:probeAssembly.AEHL

assemblySimulation          g7:wfs:probeAssembly.SIMM
assemblyDebug               g7:wfs:probeAssembly.DBUG

assemblyLutFile             g7:wfs:probeAssembly.TFIL
assemblyLutDir              g7:wfs:probeAssembly.TDIR
assemblyNumberOfDevices     g7:wfs:probeAssembly.NMDV
assemblyDevType             g7:wfs:probeAssembly.DTYP

assemblyAcknowledge         g7:wfs:probeAssembly.VAL
assemblyBusy                g7:wfs:probeAssembly.BUSY
assemblyMessage             g7:wfs:probeAssembly.MESS

assemblyAValue              g7:wfs:probeAssembly.VALA
assemblyBValue              g7:wfs:probeAssembly.VALB
assemblyCValue              g7:wfs:probeAssembly.VALC
assemblyDValue              g7:wfs:probeAssembly.VALD
assemblyEValue              g7:wfs:probeAssembly.VALE

assemblyState               g7:wfs:probeAssembly.ASTA
assemblyInitialized         g7:wfs:probeAssembly.INIT
assemblyIndexed             g7:wfs:probeAssembly.INDX
assemblyParked              g7:wfs:probeAssembly.PARK

assemblyHealth              g7:wfs:probeAssembly.HLTH

