#  WARNING, this one won't work until the transform target stuff
#  is fixed
# DHS Test Commander configuration file
#

# X/Y Limits
wfsXMax              g7:wfs:probePatrolXHiLim
wfsXMin              g7:wfs:probePatrolXLoLim
wfsYMax              g7:wfs:probePatrolYHiLim
wfsYMin              g7:wfs:probePatrolYLoLim

# Telescope Coordinate targets
wfsTXTarget          g7:wfs:probeTransformTarget.A
wfsTYTarget          g7:wfs:probeTransformTarget.B
wfsConvert           g7:wfs:probeTransformTarget.PROC

# Mask Coordinate current positions from incremental encoders
wfsMXPos             g7:wfs:probeCalcPosition.VALA
wfsMYPos             g7:wfs:probeCalcPosition.VALB

# Base/Pickoff current positions from absolute encoders
wfsBasAbs            g7:wfs:probeAbsAngles.VALA
wfsPkoAbs            g7:wfs:probeAbsAngles.VALB
wfsAbsBaseZero       g7:wfs:probeBaseZero.VAL
wfsAbsPickoffZero    g7:wfs:probePickoffZero.VAL

# activeC Car
wfsActiveC           g7:wfs:probeCommandResponse.VAL

#
# Commands
#

# Datum Command
wfsDatumDir          g7:wfs:datum.DIR
wfsDatumAck          g7:wfs:datum.VAL
wfsDatumMess         g7:wfs:datum.MESS

# Follow Command
wfsFollowDir         g7:wfs:follow.DIR
wfsFollowAck         g7:wfs:follow.VAL
wfsFollowMess        g7:wfs:follow.MESS
wfsFollowCar         g7:wfs:activeC.VAL
wfsFollowState       g7:wfs:followState.VAL

# Init Command
wfsInitDir           g7:wfs:init.DIR
wfsInitAck           g7:wfs:init.VAL
wfsInitMess          g7:wfs:init.MESS

# Move Command
wfsMoveDir           g7:wfs:move.DIR
wfsMoveAck           g7:wfs:move.VAL
wfsMoveMess          g7:wfs:move.MESS
wfsMoveCar           g7:wfs:activeC.VAL
wfsMoveXTarget       g7:wfs:move.A
wfsMoveYTarget       g7:wfs:move.B
wfsMoveXLoLim        g7:wfs:move.C
wfsMoveXHiLim        g7:wfs:move.D
wfsMoveYLoLim        g7:wfs:move.E
wfsMoveYHiLim        g7:wfs:move.F

# Park Command
wfsParkDir           g7:wfs:park.DIR
wfsParkAck           g7:wfs:park.VAL
wfsParkMess          g7:wfs:park.MESS

# Stop Command
wfsStopDir           g7:wfs:stop.DIR
wfsStopAck           g7:wfs:stop.VAL
wfsStopMess          g7:wfs:stop.MESS
wfsStopCar           g7:wfs:activeC.VAL

# Test Command
wfsTestDir           g7:wfs:test.DIR
wfsTestAck           g7:wfs:test.VAL
wfsTestMess          g7:wfs:test.MESS

# Tolerance Command
wfsToleranceDir      g7:wfs:tolerance.DIR
wfsToleranceAck      g7:wfs:tolerance.VAL
wfsToleranceMess     g7:wfs:tolerance.MESS
wfsToleranceCar      g7:wfs:toleranceCar.VAL
wfsToleranceTarget   g7:wfs:tolerance.A
wfsToleranceLoLim    g7:wfs:tolerance.B
wfsToleranceHiLim    g7:wfs:tolerance.C
wfsToleranceVal      g7:wfs:tolerance.VALA


